extends base

block content
  .backButton 
    a(href="/") 
      img.roast__50(src="https://ik.imagekit.io/o08ysq9vx/roast/mobLogo.png", alt="Harry Dry")
  .roast
    h1 “Roast My Homepage”
    p Hello! I’m!{' '} 
      a(href="https://x.com/harrydry" target="_blank") Harry Dry
      | , founder of Marketing Examples, also a copywriter.
    //- p I don’t think there’s too many human beings living (definately not dead!) who’ve analysed more homepages than me. So here goes something new.
    img.roast__400(src="https://ik.imagekit.io/o08ysq9vx/roast/hd.png?updatedAt=1719934692990", alt="Harry Dry")
    p You're already spending!{' '}
      span.italic thousands
      |!{' '}each month to get people to your homepage.
    p So it's worth spending!{' '}
      span.italic a few hundred
      |!{' '}on improving conversion.
    p It's the lowest hanging fruit in business.
      span.bold 1%
      |!{' '}to!{' '}
      span.bold 2%
      | . That's!{' '}
      span.bold 100%
      | . Double growth. For a can of coke and a few hours work.
    p.bold What you get:
    p.bullet.bullet__topb - A 10-min video teardown of your homepage
    p.bullet - Handpicked examples showing!{' '}
      span.italic exactly
      |!{' '}what to improve
    p.bullet.bullet__bottomb - A checklist of specific changes to make
    p 
      span.italic Deliberately
      | !{' '}short. Point by point. 24hr delivery.
    p.bold Price: $350. If you’re interested!{' '} 
      a.bold(href="https://buy.stripe.com/14k5n2e1ydRzgz69AC") click here
      |!{' '}to checkout.
    p — Harry
    p *Occasionally a homepage is great. If I don’t see (at least)!{' '}  
      span.bold five 
      | !{' '}obvious improvements, no charge.
    p.italic P.S. Yes, this homepage is simple, I wanted to launch tonight!
    img(src="https://ik.imagekit.io/o08ysq9vx/roast/wop4.png", alt="Write of Passage Before n ")



