extends base

block content
  .backButton 
    a(href="/") 
      img.roast__50(src="https://ik.imagekit.io/o08ysq9vx/roast/mobLogo.png", alt="Harry Dry")
    //- p Back to
      //- a(href="https://marketingexamples.com/") Marketing Examples
  .roast
    h1 Roast My Homepage
    p Hello! I’m!{' '} 
      a(href="https://x.com/harrydry" target="_blank") Harry Dry
      | , founder of Marketing Examples, also a copywriter.
    img.roast__400(src="https://ik.imagekit.io/o08ysq9vx/roast/hd.png?updatedAt=1719934692990", alt="Harry Dry")
    p I don’t think there’s too many human beings living (or dead!) who’ve written, tested, and analysed more homepages than me. 
    p So I’m testing out a simple service.
    //- h2 Most Homepages Suck. Get Yours Roasted.
    p.bold What you get:
    p.bullet.bullet__topb - A 10-min video teardown of your homepage
    p.bullet - Handpicked examples showing!{' '}
      span.italic exactly
      |!{' '}what to improve
    p.bullet.bullet__bottomb - A checklist of specific changes to make
    p 
      span.italic Deliberately
      | !{' '}short. Point by point. No waffling.
    p.bold Why (I think) it makes sense:
    p.bold Who's this for:
    p.bullet.bullet__topb - You know your homepage needs improving, but don't know!{' '} 
      span.italic how
    p.bullet - You've never had an professional copywriter look at it before
    p.bullet.bullet__bottomb - You're too polite too tell your team it's c***
    p You're already spending!{' '}
      span.italic tens of thousands
      |!{' '}each month to!{' '}
      span.italic get
      | !{' '}people to your homepage (salaries, ads, content, etc...) 
    p So it’s worth spending!{' '}
      span.italic a few hundred
      |!{' '}on improving conversion.
    p It's the lowest hanging fruit in all of marketing. 
      span.bold 1%
      |!{' '}conversion to!{' '}
      span.bold 2%
      | . That's!{' '}
      span.bold 100%
      | . Double growth. For a can of coke and a few hours work.
    p.bold Who's this for:
    p.bullet.bullet__topb - You know your homepage needs improving, but don't know!{' '} 
      span.italic how
    p.bullet - You've never had an professional copywriter look at it before
    p.bullet.bullet__bottomb - You're too polite too tell your team it's c***
    //- p.bullet.bullet__bottomb - You'd like to tell your team it's c***, but are too polite
    //- p.bullet.bullet__bottomb - You'd like brutal honesty from an outsider
    p.bold If you’re interested!{' '} 
      a.bold(href="https://buy.stripe.com/00g5n29Li7tb0A88wx") click here
      |!{' '}and you’ll be led to a checkout page.
    p 24hr delivery. If no increase in conversion, I’ll refund you :)
    p — Harry
    p.italic P.S. Yes this homepage is simple, I wanted to launch tonight!
    //- p.bold “Before and after” example:
    img(src="https://ik.imagekit.io/o08ysq9vx/roast/wop3.png", alt="Write of Passage Before n ")
    //- img(src="https://ik.imagekit.io/o08ysq9vx/roast/pf3.png", alt="Harry Dry")



