extends ../base

block content
  p I love how!{' '}
    a(href="https://ahrefs.com" target="_blank") Ahrefs
    |!{' '}does social proof.
  p Different testimonials for different types of customer.
  p People like seeing customers that look like them.
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/ahrefs1.mp4" class="img__100" playsinline="playsinline" muted controls autoplay loop)
  p
    span.italic h/t!{' '}
      a(href="https://twitter.com/coreyhainesco" target="_blank") Corey Haines
      |!{' '}from!{' '}
      a(href="https://www.swipefiles.com/" target="_blank") Swipe Files
      |!{' '}and!{' '}
      a(href="https://www.swipewell.app/" target="_blank") SwipeWell
      |!{' '}where I saw this.