extends ../base

block content

  h2.under Part 1
  p Let’s start in 2017.
  p Andrew Schulz had been killing it in the New York comedy clubs for over a decade. But no network would give him a shot.
  p So he spent $25k filming his own special. And handed it to the networks on a plate.!{' '}
    span.italic They still said no.
  p Schulz realised he was going to have to make it alone. So he started analysing how people!{' '}
    span.italic actually
    |!{' '}watch comedy.
  p.inwardSpeech.list__bottom I asked all my friends about different specials and they all said the same thing, “Yeah, it was good. But I didn’t finish it.”
  p.inwardSpeech.list__top I figured the hour is too long.
  p So Schulz cut his special down to 16 minutes and put it on YouTube.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/sch1a.jpg" alt="Andrew Schulz 4:4:1 Special").img__100
  p He already had some subscribers from years of podcasting there. And it started getting traction.
  p.inwardSpeech.list__bottom YouTube was working. So I started treating my YouTube channel like my own network.
  p With every new joke his channel grew. But coming up with fresh comedy every week was insane.
  p So Schulz started honing his improv. Because learning to roast the crowd meant new content!{' '}
    span.italic every night.
  p He'd film every show. Sometimes 7 in one weekend. Hoping to get one electric clip for YouTube.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/sch2.jpg" alt="Andrew Schulz comedy roasts").img__100
  p Between 2018/19 Schulz uploaded 125 bits of live comedy. Contrast this with the comic who puts out one special a year.
  p.inwardSpeech.list__bottom 100 clips is 100 ways of discovering me. An hour on Netflix is one.
  p.inwardSpeech.list__top And who wants to listen to a stranger for an hour? But you'll listen to a 2-minute clip if a friend sent it to you.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/sch3.png" alt="YouTube Vs Netflix for marketing").img__100
  p In two years his channel grew from 140k to 840k.
  h2.under Part 2
  p March 2020. Schulz was midway through his first worldwide tour. Then Coronavirus hit.
  p Most comedians were screwed. Schulz built a studio and started doing!{' '}
    span.italic Late Night
    |!{' '}style monologues.
  p Except, the jokes weren't watered down to please network execs. Schulz was unfiltered. And people resonated.
  p For instance, contrast a “network” joke about Joe Biden with a Schulz one.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/sch1.mp4" class="img__100" controls playsinline="playsinline")
  p Another thing Schulz nailed was distribution. He tailored his monologues to fit each social media platform.
  p On Instagram he'd get your attention with a one-line intro. Then ask you to “turn your phone” to stop you scrolling by.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/sch2.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/sch6.jpg" onclick="this.paused ? this.play() : this.pause();")
  p Schulz put out 17 monologues in 17 weeks averaging 2M views. That's more than the comedy networks who'd ignored him for 5 years.
  p.asterix * * *
  p Schulz’s story isn’t about comedy. It’s a lesson for anyone wanting to do anything.
  p When the gatekeepers don't let you in,!{' '}
    span.italic start your own thing
    | . Fail until it works. Then keep going until you've got momentum.
  p Schulz retells this Chris Rock story that sums it up:
  p.inwardSpeech.list__bottom “You see someone on the side of the road with their car broken down. You drive by. But if you see somebody pushing their own car, you stop and help.”
  p.inwardSpeech.list__top I was an entitled little f***ing brat whining about not having a special. I helped myself. Then people helped me.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/sch4.jpg" alt="Andrew Schulz and Joe Rogan").img__100
  h2.under Support
  p Thanks for reading. If you'd enjoyed the story, I'd appreciate if you joined the!{' '}
    a(href="https://marketingexamples.com/newsletter") email list
    | . I share a new case study, like this one, each week.
  p
    span.italic — Harry



