extends ../base

block content
  p The most common SEO mistake is relying on a single page website.
  p Every new page is a new opportunity to target and rank for a search term. So if you’re dumping all your content on one page you’re limiting the number of search terms you can rank well for.
  p For example, compare Harry's and Sally’s, two different massage websites:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/up1.png" alt="Single page website SEO").img__100
  p Sally opts for a single-page website. This means she has just one page indexed by Google and can only target the “massage London” keyword.
  p Harry creates unique pages for each different service. He has several pages indexed by Google each targeting the different styles of massage.
  p Looking at the search volumes and keyword difficulty it doesn't take a genius to work out how much potential organic traffic Sally is missing out on:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/up2.png" alt="SEO before and after").img__70
  h2 Click-throughs
  p Single page websites don’t just limit your impressions. They also limit your click-throughs.
  p Even if Harry and Sally appeared side by side on the SERP for the keyword “Swedish Massage London” Harry’s page will always get more clicks because it’s bespoke title better matches searcher intent. And over time Google’s algorithm will prioritise the page which gets more clicks.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/up3.png" alt="Swedish massage SERP comparison").img__55
  h2 FAQ Pages - A real world application
  p The same principle can be applied to FAQ pages.
  p If you've got a detailed FAQ page, there's value in structuring it so that each question is also its own URL (/faq/q1, /faq/q2, etc ...).
  p For instance, compare the FAQ pages of Oscar Wylee and Specsavers Australia (two of the largest glasses companies in Australia):
  p Both websites have strong domain authority. Both FAQ sections look similar. But there’s one big difference: Specsavers questions exist on their own URL and Oscar Wylee's don't.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/up4.png" alt="Unique url v Javascript dropdown").img__70
  p This leads to wildly different volumes of organic traffic:
  p.list.list__top • Oscar Wylee FAQ's:!{' '}
    span.bold 72
    |!{' '}questions.!{' '}
    span.bold 200 / mo
    |!{' '}organic traffic.
  p.list.list__bottom • Specsavers FAQ's:!{' '}
    span.bold 400
    |!{' '}questions.!{' '}
    span.bold 17k / mo
    |!{' '}organic traffic.
  p The point is people don’t Google “Sunglasses FAQs”. They Google specific questions. And for each question, Specsavers has a page indexed and Oscar Wylee doesn’t.
  p For example, take the question “How long is an eye test?”
  p Both Oscar Wylee and Specsavers answers contain similar information. But Oscar Wylee’s can only be found halfway down their FAQ page. Google has no knowledge of its existence. Whereas Specsavers’ exists on its own page with proper semantic markup. Google rewards it with a featured snippet.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/up5.png" alt="Specsavers FAQ SEO").img__100
  h2 FAQ notes
  p 1) This approach is definitely not suited to every FAQ page. Hundreds of pages with low page rank can dilute your overall domain authority. It works well for Specsavers because their website has strong domain authority and there are plenty of long-tail questions they can write detailed answers to.
  p 2) If you think reloading the page is bad UX you could use Javascript but!{' '}
    span.bold also
    |!{' '}have each FAQ answer as a unique page by itself.

