extends ../base

block content
  p What's the #1 objection to signing up for a free trial?
  p.inwardSpeech “I'll forget to cancel and get billed indefinitely”
  p 99% of sites!{' '}
    span.ns3 sweep this under the rug
    | . Blinkist!{' '}
    span.ns1 handles it upfront
    | . Maximum transparency.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl15/nl6g.png" alt="Blinkist Free Trial Paywall").img__100
  p Does it work? Lucky for us they ran some A/B tests:
  p.list.list__top •!{' '}
    span.italic 23%
    |!{' '}more trial signups
  p.list •!{' '}
    span.italic 55%
    |!{' '}fewer customer complaints
  p.list.list__bottom •!{' '}
    span.italic 6%
    |!{' '}to!{' '}
    span.italic 74%
    |!{' '}increase in push notification opt-ins
  p Win! Win! Win! Sincerity sells.
  p
    span.italic Credit to the superb!{' '}
      a(href="https://uxplanet.org/how-solving-our-biggest-customer-complaint-at-blinkist-led-to-a-23-increase-in-conversion-b60ad514134b" target="_blank") Jaycee Day
      |!{' '}who designed this and!{' '}
      a(href="https://growth.design" target="_blank") Growth Design
      |!{' '}(also superb) where I first read about it :)
  p
    span.italic Thanks for reading — Harry
