extends ../base

block content
  p Five lessons. Read!{' '}
    a(href="https://www.getscrapbook.com/saas-teardowns/reddit-ads-masterclass" target="_blank") the full ad
    |!{' '}in all it's glory.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl20/n4.png" alt="The most upvoted Reddit ad of all time").img__100.img__caption
  p.caption Credit!{' '}
    a(href="https://www.getscrapbook.com/saas-teardowns/reddit-ads-masterclass" target="_blank") Scrapbook
    |!{' '}where I saw this!{' '}
  p
    span.italic — Harry