extends ../base

block content
  p
    span.italic 100%
    |!{' '}of Ralph Lauren's tweets are statements.
  p
    span.italic What's happening?
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl23a/nm1.png" alt="Calvin Klein Twitter Strategy").img__100
  p Well, since Elon took over Twitter's algorithm is open source. TL;DR:
  p.inwardSpeech
    span.italic 1
    |!{' '}reply is worth
    span.italic 13.5
    |!{' '}retweets and!{' '}
    span.italic 27
    |!{' '}likes.
  p Replies are!{' '}
    span.italic HUGE
    | . So take heed. Learn from Calvin:
  p.inwardSpeech “Don't write at the reader. Involve her.”
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl23a/nm2.png" alt="Calvin Klein Marketing Strategy").img__100
  p
    span.italic — Harry