extends ../base

block content
  p Chamaripa sell elevator shoes. Last week I stumbled upon quite a crafty SEO strategy of theirs.
  p They rank hundreds of pages matching the query:
  p.inwardSpeech “How tall is [short celebrity]?”
  p I know what you're thinking. Who googling!{' '}
    span.italic “How tall is Tom Cruise?”
    |!{' '}is looking for elevator shoes. And you'd be right.
  p But good SEO!{' '}
    span.italic captures demand
    | . Great SEO!{' '}
    span.italic creates it
    | .
  p So, each page gives the height. Explores if the “short celeb” wears elevator shoes on red carpets (apparently a lot do). Then pushes Chamaripa's shoes.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl14/nl1c.png" alt="Chewy handwritten cards").img__100
  p Clever for three reasons:
  p.list.list__top  • Scalable content. Each page is the same template.
  p.list  • Moves an “unaware” customer to “solution & product aware”
  p.list.list__bottom • Destigmatises the shoes!{' '}
    span.italic (“If Tom Cruise wears 'em...”)
  p Looking at the numbers:
  p.ni.inwardSpeech
    span.italic ~210
    |!{' '}celebs. Across 5 languages.!{' '}
    span.italic ~14k/mo
    |!{' '}organic traffic.
  p From content an intern could make in three weeks.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl14/nl1b.png" alt="Chewy pet paintings portraits").img__100
  p One small tweak I'd make. Google now displays a lot of heights directly on the SERP. So I’d rewrite each page title as “How tall is [short celeb],!{' '}
    span.italic really
    |?”
  p Hinting that whatever Google tells you may not be quite right!
  p.inwardSpeech — Harry