extends ../base

block content
  p September 2011, Ryan Cohen and Michael Day dropped out of college to pursue their online pet food startup, Chewy.
  p They tried to raise money, but investors weren't interested. Apparently Amazon was!{' '}
    span.italic already established in the market
    | .
  p Five years later, Chewy overtook Amazon as the biggest online pet food retailer in America.
  p Chewy wasn't cheaper. They didn't sell special pet food. There was no!{' '}
    span.italic Prime delivery
    | . The difference was!{' '}
    span.bold customer service
    | . Where Amazon was faceless, Chewy treated customers like family.
  //- p For example, if you call Amazon's customer service to complain you're told to “file a dispute”. If you call Chewy's customer service you're told:
  //- p.inwardSpeech Don’t worry about returns, we’ll refund you, just donate the item to a pet shelter
  //- p I’m aware this is a cliche, so let me share  run timeline of a real Chewy customer:
  p Every customer is welcomed with a handwritten card reminding them to call anytime:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/chewy3a.jpg" alt="Chewy handwritten cards").img__100
  p They employ 100 artists whose sole job is to paint customers' pets. The portraits are then mailed to unsuspecting customers:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/chewy1a.jpg" alt="Chewy pet paintings portraits").img__100
  p If they hear about a pet passing away, they'll send a bouquet of flowers and a condolence note:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/chewy2a.jpg" alt="Chewy flowers").img__100
  p And if you buy the wrong dog food, customer service will tell you:
  p.inwardSpeech Don’t worry about returning it, we’ll refund you, just donate the item to a pet shelter
  h2.under The customer service multiplier
  p Delighting customers is expensive. Not every company should be hiring artists and sending flowers. Why does it work for Chewy?
  p
    span.bold Firstly
    |, pet food is a recurring purchase. One customer might spend $70,000 on dog food over a lifetime. It pays to delight customers when their lifetime value is high.
  p
    span.bold Secondly
    | , people love to share pet-related content. Each day social media is littered with Chewy’s portraits. It pays to delight customers when they're likely to broadcast their delight.
  p
    span.bold Finally
    |, in certain sensitive markets (e.g., education, healthcare, pets), people make buying decisions based on who cares most. And Chewy's customer service shows they care.
  p It's this combination of high lifetime value, high sharing coefficient and customers who care which make Chewy's customer service efforts so effective.
  p.inwardSpeech The!{' '}
    span multiplier effect
    |!{' '}of delighting your customers is contextual on the marketplace.
  p You can’t set up an online kitchenware store and outcompete Amazon with better customer service. The customer service multiplier just isn't big enough.
  h2.under Support
  p If you'd like more Marketing Examples in your inbox joining the!{' '}
    a(href="https://marketingexamples.com/newsletter") email list
    |!{' '}is really appreciated and sharing on social media makes a big difference.