extends ../base

block content
  p.list.list__top 1. Film one longform video
  p.list.list__bottom 2. To get a dozen!{' '}
    span.italic clippable
    |!{' '}moments
  p Clips attract!{' '}
    span.italic new
    |!{' '}fans. Longform satisfies!{' '}
    span.italic old
    |!{' '}fans.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/n13/nl1q.jpg" alt="Clips YouTube content marketing").img__100
  p
    span.italic — Harry