extends ../base

block content
  p
    span.bold 1/
    |!{' '}Alka-Seltzer and!{' '}
    a(href="https://thedecisionlab.com/biases/suggestibility" target="_blank") The Suggestibility Bias
  p Alka-Seltzer infamous jingle!{' '}
    span.italic “plop, plop, fizz, fizz, oh, what a relief it is”
    |!{' '}reminded customers to take two tablets instead of one. Sales doubled.
  p
    span.bold 2/
    |!{' '}Nomad List and!{' '}
    a(href="https://thedecisionlab.com/biases/halo-effect" target="_blank") The Halo Effect
  p Nomad List started donating 5% of revenue to remove CO2 from the atmosphere.!{' '}
    a(href="https://twitter.com/levelsio/status/1356685990354649089" target="_blank") Conversions increased 200%
    |. Yes. This is unbelievable.
  p
    span.bold 3/
    |!{' '}Uber and!{' '}
    a(href="https://thedecisionlab.com/biases/zero-risk-bias" target="_blank") Our Bias Towards Certainty
  p Uber's map didn't reduce waiting time but it did make waiting less frustrating. The uncertainty of waiting bothers us more than the duration.
  p
    span.bold 4/
    |!{' '}Swedish Blood Banks and!{' '}
    a(href="https://thedecisionlab.com/biases/peak-end-rule" target="_blank") The Peak End Rule
  p When you donate blood in Sweden you get sent a follow up text when your blood’s been used. The happy ending makes us want to do it again.
  p
    span.bold 5/
    |!{' '}Rolls Royce and!{' '}
    a(href="https://thedecisionlab.com/biases/peak-end-rule" target="_blank") The Anchoring Bias
  p Rolls Royce favourite exhibition spot is yacht and aircraft shows.
  p.inwardSpeech “If you’ve been looking at jets all morning, a £300,000 car is an impulse buy. It's like putting sweets next to the counter” — Rory Sutherland
  p
    span.bold 6/
    |!{' '}Peloton and!{' '}
    a(href="https://thedecisionlab.com/biases/the-sunk-cost-fallacy" target="_blank") The Sunk Cost Fallacy
    span.italic !{' '}(Money)
  p A peloton costs $2000. The subscription costs $39/mo. So, either, you're locked in, or you admit to your spouse you've thrown away $2000.
  p
    span.bold 7/
    |!{' '}Ikea and!{' '}
    a(href="https://thedecisionlab.com/biases/the-sunk-cost-fallacy" target="_blank") The Sunk Cost Fallacy
    span.italic !{' '}(Time)
  p Ikea stores are deliberately placed on the outskirts of cities. The extra effort to get there incentivises customers to make the most of their trip.
  p
    span.bold 8/
    |!{' '}Lyft and!{' '}
    a(href="https://journals.sagepub.com/doi/full/10.1177/0022243720932532" target="_blank") The Left Digit Bias
  p Lyft cutting the price of a journey from $15 to $14.99 had the same increase on consumer demand as from $15.99 to $15.
  p
    span.bold 9/
    |!{' '}Starbucks and!{' '}
    a(href="https://www.sciencedirect.com/topics/medicine-and-dentistry/cocktail-party-effect" target="_blank") The Cocktail Party Effect
  p The sweetest sound in any language is our name. So Starbucks stopped calling out the drink and started using the customer's name instead.
  p
    span.italic These are not my own discoveries. Credit to!{' '}
      a(href="https://www.amazon.co.uk/dp/B01F1HOAWA/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="_blank") Rory Sutherland
      | ,!{' '}
      a(href="https://twitter.com/rshotton" target="_blank") Richard Shotton
      | ,!{' '}
      a(href="https://twitter.com/TrungTPhan" target="_blank") Trung Phan
      | ,!{' '}
      a(href="https://productgems.io" target="_blank") Product Gems
      | . Four fountains of knowledge.
  p
    span.italic — Harry