extends ../base

block content
  h2.under 1) Evo Entertainment cinema
  p
    a(href="https://www.forbes.com/sites/jamos/2020/03/30/texas-cinemas-drive-in-is-a-blockbuster-opening-weekend-hit/#3db2affc5d6a" target="_blank") Evo Entertainment
    |!{' '}converted their parking lot into a drive-in movie theatre.
  p It opened a fortnight ago to!{' '}
    span.italic Spider-Man Homecoming
    | . Every show since has been sold out:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv1.jpg", alt="Evo Entertainment's drive in cinema").img__95
  h2.under 2) Shake Shack
  p
    a(href="https://www.shakeshack.co.uk/" target="_blank") Shake Shack!{' '}
    | launched “DIY burger kits” with a free cooking tutorial. Now everyone stuck at home could recreate their legendary Shackburger:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv3.jpg", alt="Shake Shack's Shackburger kits").img__95
  h2.under 3) New Balance
  p In six simple words New Balance became a company with a much bigger purpose than!{' '}
    span.italic just selling shoes:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv8b.png", alt="New Balance").img__95
  h2.under 4) Lucky Devil Lounge
  p Portland strip club,!{' '}
    a(href="https://www.rollingstone.com/culture/culture-news/boober-eats-lucky-devil-lounge-strip-club-covid-19-coronavirus-quarantine-971544/" target="_blank") Lucky Devil
    | , transitioned to food delivery service,!{' '}
    span.italic Boober Eats
    | .
  p Pay $30, and a pair of scantily clad dancers deliver to your door:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv5.jpg", alt="Boober Eats").img__95
  h2.under 5) Joe Wicks
  p In response to UK schools being cancelled, fitness instructor,!{' '}
    a(href="https://www.youtube.com/user/thebodycoach1/videos" target="_blank") Joe Wicks
    |!{' '}started live-streaming 30-minute “P.E.” classes every morning on YouTube.
  p The nation got behind him. So far, he's pulled in more than 35 million views:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv2.png", alt="P.E. with Joe").img__95
  h2.under 6) Mobile Escape
  p The Canadian escape room company launched!{' '}
    span.italic
      a(href="https://www.mobileescape.ca/shop" target="_blank") Escape Mail
    |!{' '}— escape room-style puzzles delivered to your door.
  p Demand was so overwhelming it's now a subscription service:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv6.jpg", alt="Mobile Escape launch Escape Mail").img__95
  h2.under 7) The SnapBar
  p Events company,!{' '}
    a(href="https://thesnapbar.com/" target="_blank") The SnapBar
    | , pivoted to gift boxes full of products from struggling local businesses.
  p After selling 500 in Seattle, they've expanded to LA, San Francisco, and Portland:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv7.jpg", alt="Keep Your City Smiling Boxes").img__95
  h2.under 8) El Che Steakhouse
  p
    a(href="https://elchechicago.com/butchershop" target="_blank") El Che Steakhouse
    |!{' '}opened a popup butchers shop, selling raw cuts of the USDA Choice meat they normally serve.
  p All online. Curbside pickup:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cv4.png", alt="El Che Steakhouse's butcher shop").img__95