extends ../base

block content
  p
    a(href="https://twitter.com/CarrieRosePR" target="_blank") Carrie Rose
    |!{' '}is the co-founder of!{' '}
    a(href="https://riseatseven.com/" target="_blank")
      span.italic Rise at Seven
    | , a creative SEO agency.
  p Over the last year I’ve been consistently blown away by how easy she makes getting press look.
  p And it’s not!{' '}
    span.italic press for press's sake
    | .
  p The reward is high quality backlinks which help her clients rank for!{' '}
    span.bold ultra-competitive
    |!{' '}search terms.
  h2.under Lets start with an example
  p
    span.italic Missguided
    |!{' '}is a fashion retailer who started working with!{' '}
    span.italic Rise
    |!{' '}last year.
  p Carrie looked at their site for 5 minutes, saw they sold dog jumpers, and knew there was a story there.
  p So she found some similar looking regular jumpers, and wrote the headline:
  p.inwardSpeech Missguided launch matching jumpers for you and your dog this winter
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie1.jpg" alt="Rise at Seven Missguided press").img__100
  p The media loved it. The campaign pulled in!{' '}
    span.bold 80
    |!{' '}links. And!{' '}
    span.italic Missguided
    |!{' '}soared from!{' '}
    span.bold #30
    |!{' '}to!{' '}
    span.bold #1
    |!{' '}for the search “dog jumpers”.
  p No big budget or photoshoot. Just!{' '}
    span.italic the idea
    |!{' '}to link two pre-existing products with a clever headline.
  h2.under Another example
  p November 2019,!{' '}
    span.italic Game
    |!{' '}came to!{' '}
    span.italic Rise
    | .
  p They'd just launched a new webpage full of gaming chairs. The challenge was to rank this page in time for Christmas.
  p Now, getting press to link to a bunch of gaming chairs is near impossible. So, instead, Carrie dreamt up!{' '}
    a(href="https://www.game.co.uk/en/the-game-christmas-tinner-2704307" target="_blank")
      span.italic The Christmas Tinner
    | .
  p A 3-course meal in a tin for hardcore gamers. And it was!{' '}
    span.italic this page
    |!{' '}that then linked to their gaming chairs.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie3.jpg" alt="Game's Christmas Tinner press").img__100
  p
    span.italic The Christmas Tinner
    |!{' '}went viral.
  p “SEO juice” passed down. And within 3 weeks!{' '}
    span.italic Game's
    |!{' '}gaming chair page was ranking for over!{' '}
    span.bold 400
    |!{' '}keywords.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie4.jpg" alt="Christmas Tinner PR outreach email").img__100
  p Honestly, I could tell a dozen more stories like this.. But I think it’s more important to try and understand the process.
  p Carrie tells me the trick is!{' '}
    span.italic learning to think in headlines
    | .
  p For example, last Easter she worked with a sex toy startup. The first thing they do is figure out the headline:
  p.inwardSpeech The world’s first Easter egg with a sex toy inside=
  p Then they!{' '}
    span.bold work backwards
    |!{' '}until it becomes reality.
  p Most people plough ahead with an idea. And, only when it's too late, realise there's no “hook”.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie5.jpg" alt="Carrie Rose PR campaign press").img__100
  p Once you've got your story the next step is pitching it. Here's Carrie's crash course:
  p.inwardSpeech.list__bottom 1/ Journalists are busy. Make their life easy.
  p.inwardSpeech 2/ The email subject is my headline. I outline my article in the body. Embed my best image. And link my “campaign page”.
  p.inwardSpeech.list__top 3/ Timing is key. Journos open laptops at 8:30. So schedule outreach for 8.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/carrie6.png" alt="Carrie Rose PR Outreach email example").img__100
  h2.under So there you go
  p 14 months ago!{' '}
    span.italic Rise
    |!{' '}launched with one client at!{' '}
    span £2k / mo
    | .
  p Today revenue is!{' '}
    span £2M / yr
    | . And yes, that is crazy!
  p It reminds me that nothing moves the needle like!{' '}
    span.bold genuine creativity
    | .
  p
    span One
    |!{' '}5 minute idea can have more impact than!{' '}
    span 100
    |!{' '}guest posts.
  h2.under That's all folks
  p Thanks to!{' '}
    a(href="https://www.linkedin.com/in/carrieroseballoch" target="_blank") Carrie
    |!{' '}for sharing her wizardry. She tells me I've given her too much credit, and it's the team at Rise which really makes stuff happen.
  p
    span.italic — Harry
