extends ../base

block content
  p
    a(href="https://indiehackers.com/?ref=marketingexamples.com" target="_blank") Indie Hackers
    |!{' '}is an online community of independent entrepreneurs, with a pretty sizeable email list.
  p Throughout 2019 they’ve moved away from one!{' '}
    span.bold generic
    |!{' '}email digest and started offering users the option of up to eight!{' '}
    span.bold tailored!{' '}
    a(href="https://www.indiehackers.com/newsletters" target="_blank") newsletters:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ih1.png" alt="Indie Hackers Newsletter").img__90
  p It's vintage self-serve!{' '}
    a(href="https://www.campaignmonitor.com/resources/glossary/segmentation/" target="_blank") email segmentation
    | . And it has four big benefits:
  h2.under 1) Better subscriber experience
  p Instead of “batch and blasting” their entire email list, users can cherrypick the specific topics they!{' '}
    span.bold actually want to read about
    | .
  p If you just want podcast updates you're not going to be bombarded with “Top Milestones” and “Growth Bites”.
  h2.under 2) More email opens
  p.list.list__top • Previously Indie Hackers would send!{' '}
    span.bold 150,000
    |!{' '}emails / week.
  p.list.list__bottom • With tailored newsletters they're sending!{' '}
    span.bold 310,000
    | :
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ih2.png" alt="Indie Hackers Newsletter Graph").img__90
  p It's not rocket science. The result is more Indie Hackers in your inbox. More clicks to the website. And a greater % of total users engaged.
  h2.under 3) More valuable emails
  p The sheer volume of items in the old digest made it impossible to go into any!{' '}
    span.bold depth
    | . A podcast episode or text interview would be summarised by just a quote and a title.
  p Now, with a bespoke email for each part of the digest, there’s actually space to add value. For example, the!{' '}
    a(href="https://www.indiehackers.com/podcast" target="_blank") podcast newsletter
    |!{' '}is filled with “exclusive commentary from host, Courtland Allen.”
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/ih3.png" alt="Indie Hacker Email Digest v Indie Hacker Podcast").img__100
  h2.under 4) Improved deliverability
  p And finally, there's a!{' '}
    span.bold second-order benefit
    |!{' '}of segmentation.
  p “More valuable emails” results in a greater % of emails being opened and clicked. Both of which are considered “positive actions” by mail providers and the result is!{' '}
    span.bold improved deliverability
    |!{' '}to primary inboxes.
  p.asterix * * *
  p Voila! There's nothing left to say except it's light years ahead of the competition and only a matter of time before Product Hunt try and copy it!
  p
    span.italic Thanks to!{' '}
      a(href="https://twitter.com/csallen" target="_blank") Courtland
      |!{' '}and!{' '}
      a(href="https://twitter.com/channingallen" target="_blank") Channing
      |!{' '}for providing subscriber numbers. And to!{' '}
      a(href="https://twitter.com/alecbee" target="_blank") Alec
      |!{' '}from!{' '}
      a(href="http://emailmastery.org/" target="_blank") Email Mastery
      |!{' '}for helping me understand the benefits of segmentation.
  h2 Support
  p If you'd enjoyed the article I'd really appreciate it if you joined the!{' '}
    a(href="https://marketingexamples.com/newsletter") email list
    |!{' '}or shared the article.
  p If you've got a few minutes for another, I'll recommend!{' '}
    a(href="https://marketingexamples.com/landing-page/pricing") this gem
    |!{' '}about Refactoring UI's high prices.