extends ../base

block content
  p Over the last 2 months, Marketing Examples welcomed!{' '}
    span.bold 31,000
    |!{' '}first time visitors.!{' '}
    span.bold 4,100
    |!{' '}of these visitors subscribed to the email list. That’s an email opt-in of!{' '}
    span.bold 12.9%
    | .
  p The industry average is!{' '}
    span.bold 2%
    | . The top 10 percentile average is!{' '}
    span.bold 5%
    | . So, screw it, I’ll go there:
  p.inwardSpeech Marketing Examples is one of the best websites in the world at converting passers-by into email subscribers.
  p What follows is a series of things I've observed whilst trying to build a website which maximises email subscribers.
  h2 Being obvious works
  p I imagine a few of you have read The Alchemist. Pretty good book right? How many of you signed up to Paulo Coelho's email list?
  //- p Last week a friend told me they wanted a new blog to read. I recommended Paul Modrowski’s blog, “On the Inside”. It then occurred to me that I've never actually signed up to Paul’s email list. I must have just missed it.
  p No matter how amazing your work no one is going to go out of their way to sign up to your email list. You have to make it obvious. Incredibly obvious.
  p There are four ways to sign up to the Marketing Examples email list:
  p.list.list__top 1) From the fixed position navbar
  p.list 2) At the end of any article
  p.list 3) Through the exit intent popup
  p.list.list__bottom 4) Directly from the!{' '}
    a(href="https://marketingexamples.com/newsletter" target="_blank") subscribe
    |!{' '}page
  p From any given point you're only one click away from subscribing:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/eoi1a.mp4" class="img__80" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/eoi1b.jpg" onclick="this.paused ? this.play() : this.pause();")
  h2 Popup timing matters
  p I went to a museum recently. On my way out a member of staff told me that every time a new exhibition opens they send out an email and asked whether I'd like to sign up. I said sure.
  p Now, imagine a parallel universe. Ten seconds after I walk through the museum's doors the same lady jumps out in front of me and asks if I’d like to join the email list.
  p The latter is how most popups do work. The former is how they!{' '}
    span.bold should
    |!{' '}work. For those unfamiliar, I'm talking about!{' '}
    a(href="https://wisepops.com/exit-popup-examples/" target="_blank") exit intent popups
    | .
  p The benefit is clear. In waiting until a user is ready to exit your website you're not going to annoy them by springing open a popup whilst they’re in the middle of an article.
  h2 Popups run the game
  p If human behaviour was rational the exit intent popup on Marketing Examples would be futile. Users have already seen the email box on the home page or at the end of an article. Surely they've already decided whether or not to sign up?
  p Well, not quite. Here is a graph showing Marketing Examples subscribers by source:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/eoi1.png" alt="Go viral with Hunter.io").img__70
  p  The “futile” popup contributes!{' '}
    span.bold 50%
    |!{' '}of total sign-ups (all of whom were about to leave the website). Without it Marketing Examples would currently have!{' '}
    span.bold 2900
    |!{' '}subscribers instead of!{' '}
    span.bold 5800
    | .
  p *See end of article for popup implementation.
  h2 Subscribe pages work
  p The benefit of a dedicated subscribe page is that it allows you to link!{' '}
    span.bold directly
    |!{' '}to your email list.
  p This means any value I create on other platforms (Twitter, Reddit, Startup School, etc ...) can be converted!{' '}
    span.bold directly
    |!{' '}into email subscribers rather than just exchanged for a website session.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/eoi5.png" alt="Go viral with Hunter.io").img__100
  p And it works. Over the past 3 months!{' '}
    span.bold 1070
    |!{' '}users have come directly to the subscribe page (
    span.bold 45%
    |!{' '}of whom joined the email list). You’ll notice the little spikes every time an article gains traction on another platform.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/eoi6.png" alt="Go viral with Hunter.io").img__80
  h2 Asking personally works
  p The most surefire way of getting someone to do something is (drum roll, please) ... ask them!{' '}
    span.bold personally
    |. It’s hardly rocket science. Humans respond better to humans than they do to a little box with the word “Subscribe” on.
  p For instance, if Kanye West was in the business of growing an email list he should write:
  p.inwardSpeech Hi, I’m creative genius Kanye West. Every song I make is dope. If you want to get notified when I make a new one pop your email in the box below.
  p On YouTube people get this. Most videos include some sort of!{' '}
    span.bold personal call to action
    |!{' '}— “Hit the subscribe button”. But on websites impersonal email boxes remain the modus operandi.
  p On observing this I added a gentle personal nudge to every Marketing Examples case study:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/eoi9.png" alt="Go viral with Hunter.io").img__65
  h2 Appearance matters
  p Everything up to now has been focused on perfecting structure. But it’s not going to count for much if your email box still looks like this:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/eoi7.png" alt="Go viral with Hunter.io").img__60
  p I've got 3 simple rules to improve any email section:
  p.list.list__top 1) Explain!{' '}
    span.bold why
    |!{' '}people should sign up
  p.list 2) Add social proof (e.g. Number of subscribers, unsubscribe rate, quote)
  p.list.list__bottom 3) Replace “Subscribe” with a value-based CTA
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/eoi8.png" alt="Go viral with Hunter.io").img__95
  h2 Summary
  p Choosing whether or not to subscribe to an email list is a split-second decision. This means that!{' '}
    span.bold subtle psychological tweaks
    |!{' '}can make a big difference.
  p Here’s the checklist:
  p.list.list__top 1) Make it obvious
  p.list 2) Use an exit-intent popup
  p.list 3) Get a subscribe page
  p.list 4) Ask as a human
  p.list 5) Give a clear reason to sign up
  p.list 6) Add Social Proof
  p.list.list__bottom 7) Use value-based messaging
  h2 *Popup Implementation
  p Exit-intent popup implementation is easier than you think. With code:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/eoi4.png" alt="Exit itent popup code").img__80
  p And without code:
  p.list.list__top 1)!{' '}
    a(href="https://blog.emailoctopus.com/optinmonster-integration?ref=marketingexamples" target="_blank") OptinMonster
    |!{' '}connects with EmailOctopus
  p.list.list__bottom 2)!{' '}
    a(href="https://help.mailmunch.com/hc/en-us/articles/360020642493-Integrating-MailMunch-with-Mailchimp?ref=marketingexamples" target="_blank") MailMunch
    |!{' '}&!{' '}
    a(href="https://wisepops.com?ref=marketingexamples" target="_blank") Wisepops
    |!{' '}connect with Mailchimp, Klaviyo etc ...
  p Most basic exit intent popups default to timeout based on mobile.
  h2 Appreciation
  p Thank you to!{' '}
    a(href="https://stephsmith.io?ref=marketingexamples" target="_blank") Steph Smith
    |!{' '}and!{' '}
    a(href="https://zerotomarketing.com/" target="_blank") Andrea Bosoni
    |!{' '}for a lot of the ideas.
