extends ../base

block content
  p Dogs bark, cows moo, horses neigh, and poorly crafted cold emails get thrown in the trash after ten seconds.&nbsp;
    a(href="https://marketingexamples.com/sales/personalise" target="_blank") Genuine personalisation
    | &nbsp;and&nbsp;
    a(href="https://marketingexamples.com/sales/advice-email" target="_blank") “advice emails”
    | &nbsp;are good ways round this, but if you are working from a list of several thousand you're going to be forced to send everyone the same default template.
  h2 challenge of template emails
  p Templated emails are the hardest to write. People can smell them a mile away. The classic mistakes are:
  p.list.list__top 1. following a painfully predictable pattern
  p.list 2. offering no upfront value
  p.list.list__bottom 3. displaying the emotional range of a teaspoon
  p As templated emails go,&nbsp;
    a(href="https://gusto.com/" target="_blank") Gusto’s
    |&nbsp;isn’t a bad effort:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gusto2.png" alt="Gusto Dog Cold Email").img__90
  h2 Self Awareness
  p I’ve mentioned this a few times, but calling out the awkwardness of your own cold email is always a solid start. It’s a display of emotional intelligence and helps humanise you.
  h2 Before you pitch
  p The vast majority of cold email templates follow the same embarrassing pattern:
  p.inwardSpeech Hello,
    br
    | Do you want to use my new bullshit app.
    br
    | Statistics indicate it reduces churn by 90%.
    br
    | Happy to jump on a call if you want to discuss further.
  p This is the equivalent of walking up to a girl in a bar and saying:
  p.inwardSpeech Hello,
    br
    | Do you want to sleep with me tonight.
    br
    | Statistics indicate I last longer than 90% of other men.
    br
    | Happy to jump on a call if you want to discuss further.
  p You’re going to get a slap in the face.
  p When opening cold emails people’s defences are up. They’re going to block any salsey, robotic pitches every day of the week and twice on a Sunday. You have to prove that you’re a real life living, laughing, loving human.
  p There’s 3 easy ways to do this:
  p.list.list__top 1. Personalisation
  p.list 2. Offer genuine value for free
  p.list.list__bottom 3. Make them smile
  p Before any pitch it’s&nbsp;
    span.bold essential
    | &nbsp;you do at least one of the three above steps.
  p In Gusto’s case, the picture of Finnley the dog puts a smile on faces. It’s disarming. And that buys your pitch some time.
  h2 Force comparisons
  p I'm also a fan of asking the recipient to score their “current payroll provider” before going into the pitch.
  p Asking someone directly to switch payroll provider, the default response will always be no. But first, forcing them to think back to their current provider, you're more likely to uncover a pain point. This move is straight out of a behavioral psychology textbook.
  h2 Poor ending
  p To be honest, I think the remainder of the email is pretty useless.
  p The call to action is vague and unclear. There’s no information on how to instigate that, “quick conversation”. Something like:
  p.inwardSpeech Would love your thoughts, even if you think Gusto’s a load of rubbish! I’m around all next week, so feel free to reply or give me a call on +44 7463 686533 ...
  p would be an improvement. When cold emailing you need to make the CTA as&nbsp;
    span.bold simple as possible
    | &nbsp;to follow.
  p And the last four lines look like a waste of words to me. But that’s another story.
  p If you're looking for some more cold email inspiration:
  p.list.list__top 1) I like!{' '}
    a(href="https://marketingexamples.com/sales/advice-email" target="_blank") this
    |!{' '}advice email example
  p.list 2)!{' '}
    a(href="https://artofemails.com/cold-emails?ref=marketingexamples.com" target="_blank") Art of Emails
    |!{' '}has some great templates
  p.list.list__bottom 3)!{' '}
    a(href="https://blog.lemlist.com/follow-up-email-template/" target="_blank") This article
    |!{' '}is a great guide for following up on cold emails.

