extends ../base

block content
  p Giphy serves!{' '}
    span.bold 7 billion
    |!{' '}GIFs and stickers to!{' '}
    span.bold 500 million
    |!{' '}people every single day. Their API powers pretty much every messaging app out there: Facebook, Twitter, Instagram, TikTok etc .
  p This has opened up a novel way for brands to get exposure. All you need is a!{' '}
    a(href="https://support.giphy.com/hc/en-us/articles/360019977992-Apply-For-A-Brand-Channel" target="_blank") Giphy brand channel
    | . Then any GIF you upload is publicly available on Giphy's search engine. And there's nothing stopping you slipping in your logo, product, or even URL.
  p For example, if you open up Facebook Messenger and search for a Premier League footballer you'll see the BT Sport logo in the top right-hand corner. A reminder that they own the rights to Premier League matches:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb1.mp4" poster="https://harrydry.s3.amazonaws.com/gdmarketing/giphyp1.jpg" class="img__70" playsinline="playsinline" controls)
  h2 Levelling the playing field
  p While Google Search is dominated by big companies and backlinks, Giphy search is more of a level playing field.
  p Take!{' '}
    a(href="https://karlaandco.com/" target="_blank") Karla and Co.
    |, a home-run, Latina clothing brand. They have no real presence on Google. But on Giphy they can pull in!{' '}
    span.bold 100,000
    |!{' '}views each day from just!{' '}
    span.bold 16
    |!{' '}sticker uploads:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/giphy4.png" alt="Marketing Examples Product Hunt").img__85
  p The key is creating GIFs which both match what your audience might search for and have little competition.
  p For example, one of Karla's stickers is of the Latin American phrase “Ay Mama”. It's the only sticker on Giphy with this tag, so anyone searching just sees their sticker and crucially their URL:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/bb2.mp4" poster="https://harrydry.s3.amazonaws.com/gdmarketing/giphyp2.jpg" class="img__50" playsinline="playsinline" controls)
  h2 Who should be doing this?
  p Currently, it's consumer brands who are jumping on this strategy. For instance!{' '}
    a(href="https://giphy.com/starbucks" target="_blank") Starbucks
    |!{' '}domination of the Pumpkin Spice Latte search term alone pulls in more than 1M+ daily views.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy8.jpg" alt="Marketing Examples Product Hunt").img__95
  p But that's also where most of the competition is at. If you’re in the tech world, for example, very few keywords are tagged.
  h2 Stickers or GIFs
  p One final consideration is whether to make GIFs or stickers.
  p
    a(href="https://support.giphy.com/hc/en-us/articles/360019674452-How-To-Make-A-GIF" target="_blank") GIFs
    |!{' '}have solid backgrounds.!{' '}
    a(href="https://support.giphy.com/hc/en-us/articles/360019683332-What-Is-A-GIPHY-Sticker-" target="_blank") Stickers
    |!{' '}have transparent backgrounds. And Giphy has separate APIs for each which different apps plug into.
  p Facebook, Twitter, and WhatsApp use the GIF API. Instagram, TikTok, and Snap use the sticker API. So your decision depends on what platform your audience hangs out on.
  p For example,!{' '}
    a(href="https://giphy.com/tennistv" target="_blank") Tennis TV's
    |!{' '}audience exists on Twitter and WhatsApp. So they make GIFs.!{' '}
    a(href="https://giphy.com/prettylittlething" target="_blank") Pretty Little Thing's
    |!{' '}audience exists on Instagram and Snap. So they make stickers.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/giphy2.jpg" alt="Marketing Examples Product Hunt").img__90
  h2 In Summary
  p.list.list__top 1) Create GIFs which match what your audience might search for
  p.list 2) Add your logo, product, or URL
  p.list 3) Upload to Giphy and tag with relevant keywords
  p.list 4) Make!{' '}
    span.bold 5 GIFs
    |. Then you can apply for a free brand channel.
  p This last step is crucial. Only with a brand channel are your GIFs publicly searchable. And to be accepted the GIFs you make must be!{' '}
    span.bold original content
    | . I learned this the hard way after all my!{' '}
    a(href="https://marketingexamples.com/gifs" target="_blank") Startup GIF's
    |!{' '}were rejected.
  h2 Appreciation
  p Thank you to!{' '}
    a(href="https://twitter.com/thebutvidas" target="_blank") Bryan Butvidas
    |!{' '}from!{' '}
    a(href="https://www.boardme.app/" target="_blank") Board Me
    |!{' '}for explaining this trick to me.
  h2 Support
  p And thank you for taking the time to read. If you liked it, joining the!{' '}
    a(href="https://marketingexamples.com/newsletter") email list
    |!{' '}or is really appreciated: