extends ../base

block content
  p There’s two parts of a landing page: what’s immediately visible!{' '}
    span.italic (above the fold)
    |!{' '}and what the user scrolls to!{' '}
    span.italic (below the fold)
    | .
  p Let's start!{' '}
    span.italic above the fold
    | . To quote Donald Miller,!{' '}
    span.italic a caveman should be able to glance at it and immediately grunt back what you offer.
    |!{' '}Here’s my formula:
  p.list.list__top 1/ Explain the value you provide!{' '}
    span.italic (title)
  p.list 2/ Explain how you'll create it!{' '}
    span.italic (subtitle)
  p.list 3/ Let the user visualise it!{' '}
    span.italic (visual)
  p.list 4/ Make it believable!{' '}
    span.italic (social proof)
  p.list.list__bottom 5/ Make taking the next step easy!{' '}
    span.italic (CTA)
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll1.png" alt="My landing page formula").img__100
  h2.slab.bg1 1/ Title
  p There’s one hundred ways to write a great title. I'm going to focus on three.
  p.ni.inwardSpeech
    span.bold 1/ Explain what you do
  span.isBreak
  p.ni.inwardSpeech When your product is unique all you have to do is explain what you do as simply as possible.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll1a.png" alt="Copywriting fundementals").img__100.sesquon
  p.ni.inwardSpeech
    span.bold 2/ Hooks
  span.isBreak
  p.ni.inwardSpeech Most products aren't unique. So a hook adds!{' '}
    span.italic oomph
    | . The easiest way to write hooks is to address your customer's biggest objection.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll1b.png" alt="How to write hooks copywriting").img__100.sesquon
  p.ni.inwardSpeech
    span.bold 3/ Own your niche
  span.isBreak
  p.inwardSpeech.ni Some startups transcend hooks. Another pattern is to!{' '}
    span.italic own your niche in one line
    | . Write with conviction. You're!{' '}
    span.italic THE
    |!{' '}solution.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll1c.png" alt="Copywriting examples").img__100.sesquon
  h2.slab.bg2 2/ Subtitle
  p Subtitles are where you get specific. Introduce the product. Explain how it creates the value in your title.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll2.png" alt="How to write a subtitle").img__100
  h2.slab.bg4 3/ Visual
  p Show off your product in all its glory. The goal is to get as close to reality as possible.
  p Don't show me fancy illustrations. Show me your product. Or even better, your product!{' '}
    span.italic in action
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll3.jpg" alt="Landing page great images").img__100
  h2.slab.bg3 4/ Social Proof
  p Social proof (
      span.italic above the fold
      | ) adds instant credibility to the value you're promising.
  p Take Privy for example. Any startup can write “How small brands sell more online”. But it's their “18,000+ reviews” that make you believe it.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll4.png" alt="Above the fold social proof").img__100
  h2.slab.bg5 5/ CTA
  p Your CTA makes taking the next step easy.
  p Most buttons emphasise action:!{' '}
    span.italic Sign Up, Start Trial etc.
    |!{' '} Here's three more compelling CTA types.
  p.ni.inwardSpeech
    span.bold 1/ Call to value
  span.isBreak
  p.ni.inwardSpeech Buttons which emphasise “value” over “action” usually perform better. The trick is to fulfil the value your title promises.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll5a.png" alt="Call to action").img__100.sesquon
  p.ni.inwardSpeech
    span.bold 2/ Objection handle
  span.isBreak
  p.ni.inwardSpeech Add a few words to your CTA to handle the user's biggest objection to clicking.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll5b.png" alt="Objection handl").img__100.sesquon
  p.ni.inwardSpeech
    span.bold 3/ Email capture + CTA
  p.ni.inwardSpeech Pair email capture with your CTA to make signing up as easy as possible.
  span.isBreak
  p.ni.inwardSpeech This doesn't mean sacrificing customer info. You can collect during onboarding.
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll5c.mp4" playsinline="playsinline" autoplay muted).img__100.sesquon
  h2.slab.bg1 “Above the fold” recap
  p In five seconds customers try to establish whether or not you can help them. Make their life easy. Clarity over creativity.
  p.list.list__top 1/ Explain the value you provide!{' '}
    span.italic (title)
  p.list 2/ Explain how you'll create it!{' '}
    span.italic (subtitle)
  p.list 3/ Let the user visualise it!{' '}
    span.italic (visual)
  p.list 4/ Make it believable!{' '}
    span.italic (social proof)
  p.list.list__bottom 5/ Make taking the next step easy!{' '}
    span.italic (CTA)
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll5d.jpg" alt="Above the fold landing page examples").img__100.sesquon
  h2.slab.bg2 “Below the fold”
  p
    span.italic Above the fold
    |!{' '}you earn the customer's attention.
    span.italic Below the fold
    |!{' '}you earn the sale. Here's the last five steps:
  p.list.list__top 6/ Make the value concrete!{' '}
    span.italic (features and objections)
  p.list 7/ Inspire action!{' '}
    span.italic (social proof)
  p.list 8/ Tie up loose ends!{' '}
    span.italic (FAQ)
  p.list 9/ Repeat your call to action!{' '}
    span.italic (2nd CTA)
  p.list.list__bottom 10/ Make yourself memorable!{' '}
    span.italic (Founder's note)
  h2.slab.bg1 6/ Features and Objections
  p The first thing you do!{' '}
    span.italic below the fold
    |!{' '}is make concrete the value you promise!{' '}
    span.italic above the fold
    | .
  p Take Riverside for example. Their title promises “podcasts that!{' '}
    span.ss4 look
    |!{' '}and!{' '}
    span.ss3 sound
    |!{' '}amazing”. Their first two features make this promise concrete.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll6a.png" alt="Landing page features").img__100
  p The second thing you do is handle your customer's biggest objections. This means talking to customers.
  p Group together reoccurring objections. Use their own words to handle them.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll6b.png" alt="Handle landing page objections").img__100
  h2.slab.bg2 7/ More social proof
  p
    span.italic Above the fold
    |!{' '}social proof is about!{' '}
    span.italic credibility
    | .!{' '}
    span.italic Below the fold
    |!{' '}social proof is about!{' '}
    span.italic inspiring action
    | . It's a free pass to sell your product.
  p Use existing customers to!{' '}
    span.italic bring to life
    |!{' '}the value you promise.
  p.list.list__top • “Get a smile you love” ⟶ Customers smiling
  p.list • “Email reinvented” ⟶ Customers describing the difference
  p.list.list_bottom • “How small brands sell more” ⟶ Sales numbers
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll7.jpg" alt="Landing Page social proof").img__100
  h2.slab.bg3 8/ FAQ
  p There's going to be features and objections you want to mention that don't fit in neatly above. This is where your FAQ comes in.
  p Write them down. Reframe into questions and answers.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll8.png" alt="Landing Page FAQs").img__100
  h2.slab.bg4 9/ 2nd CTA
  p We've done the hard selling. It's time for our 2nd CTA.
  p This time we've got the luxury of space. So instead of dropping one measly button remind the customer why they're clicking.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll9.png" alt="Landing Page CTA").img__100
  h2.slab.bg5 10/ Founder's note
  p Finally, you leave the customer with a story that makes you easy to sum up.
  p.list.list__top 1/ Put yourself in their shoes
  p.list 2/ Explain their problem
  p.list 3/ Take ownership of it
  p.list.list__bottom 4/ Show the happy ending
  p You're walking them down a path they'll want to walk themselves. Oh, and!{' '}
    spam.italic people buy from people
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll10.png" alt="Privy landing page").img__100
  h2.slab.bg2 Putting it all together
  p.list.list__top 1/ Explain the value you provide!{' '}
    span.italic (title)
  p.list 2/ Explain how you'll create it!{' '}
    span.italic (subtitle)
  p.list 3/ Let the user visualise it!{' '}
    span.italic (visual)
  p.list 4/ Make it believable!{' '}
    span.italic (social proof)
  p.list 5/ Make taking the next step easy!{' '}
    span.italic (CTA)
  <br><br>
  p.list 6/ Make the value concrete!{' '}
    span.italic (features and objections)
  p.list 7/ Bring to life your offer!{' '}
    span.italic (social proof)
  p.list 8/ Tie up loose ends!{' '}
    span.italic (FAQ)
  p.list 9/ Repeat your call to action!{' '}
    span.italic (2nd CTA)
  p.list.list__bottom 10/ Make yourself memorable!{' '}
    span.italic (Founder's note)
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lll11.png" alt="My landing page formula").img__100
  h2.slab.bg2 One last thing
  p Your landing page is your sales pitch. Never forget this. Examine each element and ask:
  p.inwardSpeech Would this help me sell if I met the customer in person?
  p If not, remove it. If you don't know go out and!{' '}
    span.italic sell to customers in person.
  p You'll learn that fancy words and random images of people shaking hands don't get you far. More importantly, you'll learn the attitude of your customer and the words you need to convince them.
  p.asterix * * *
  p
    span.italic Phew! That was a long one. Thanks for reading. This is a guide. Not an instruction manual.
  p
    span.italic Please do share with your pals. I spent goodness knows how many hours on this so it would be nice if a few people read it.
  p
    span.italic If you found it useful, you'll like my new project!{' '}
      a(href="https://marketingexamples.com/inspiration") Copywriting Examples
      | . It's the world's best copy. In one place. 330+ handpicked examples. All free.
  p
    span.italic If you'd don't want to miss more marketing guides (like this one), please do join my!{' '}
      a(href="https://marketingexamples.com/newsletter" target="_blank") newsletter
      | .
  p
    span.italic Thanks to!{' '}
      a(href="https://www.amazon.com/Building-StoryBrand-Miller-Donald/dp/1400201837" target="_blank") Building a Storybrand,
      |!{' '}by Donald Miller,!{' '}
      a(href="https://www.amazon.com/Scientific-Advertising-Claude-Hopkins/dp/1603866361" target="_blank") Scientific Advertising
      |!{' '}by Claude Hopkin's, Julian Shapiro's!{' '}
      a(href="https://www.julian.com/guide/growth/landing-pages" target="_blank") landing page guide
      | , and Demand Curve's!{' '}
      a(href="https://www.demandcurve.com/playbooks/above-the-fold" target="_blank") Above the fold guide
      |!{' '}where I got some ideas from. All great resources.
  p
    span.italic — Harry