extends ../base

block content
  p Joe Ades started selling potato peelers in 1993.
  p He quickly became a New York legend. Then a millionaire. All from $5 peelers.
  //-
  h2.under Let's walk through it
  p Before we get specific, let’s set up an outline.
  p Joe's pitch follows the!{' '}
    span.bold AIDA formula
    |!{' '}: Attention, interest, desire, action.
  //- p The first challenge any salesperson faces is getting people to listen.
  //- p The first challenge any salesperson faces is stopping traffic.
  h2.under Attention
  p The first challenge any salesperson faces is stopping traffic.
  p Joe pulls in passers-by, assuring them he won't ask for money.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ja001.mp4" class="img__95" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/ja1.jpg" onclick="this.paused ? this.play() : this.pause();")
  p Once Joe's got the crowds attention he talks to them!{' '}
    span.bold directly
    | .
  p Every sentence is peppered with “you”. It’s hard to walk away when someones talking directly to you.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ja001.mp4" class="img__95" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/ja1.jpg" onclick="this.paused ? this.play() : this.pause();")
  p Joe’s sentences are punchy. The majority six words or less.
  p He also favours simple words. 79% just one syllable.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ja001.mp4" class="img__95" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/ja1.jpg" onclick="this.paused ? this.play() : this.pause();")
  p When Joe does use more elaborate language there’s a purpose to it. Often the punchline to a joke.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ja001.mp4" class="img__95" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/ja1.jpg" onclick="this.paused ? this.play() : this.pause();")
  p
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ja001.mp4" class="img__95" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/ja1.jpg" onclick="this.paused ? this.play() : this.pause();")
  p Whilst Joe’s hands show you!{' '}
    span.italic features
    | . His language sells you!{' '}
    span.italic benefits
    | .
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ja001.mp4" class="img__95" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/ja1.jpg" onclick="this.paused ? this.play() : this.pause();")
  p Now it's time to close the sale.
  p He takes a wad of notes out his pocket. Moves his tray of peelers to the center.
  p Signalling it’s time to buy without ever having to say the words.
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ja001.mp4" class="img__95" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/ja1.jpg" onclick="this.paused ? this.play() : this.pause();")
