extends ../base

block content
  //- p November 2018 Lil Nas X was a college dropout sleeping on sister’s coach with a negative balance in his Wells Fargo account.
  //- p 5 months later he broke Mariah Carey’s record for the most consecutive weeks at No. 1 on the Billboard Hot 100 chart.
  //- p.asterix * * *
  //- p So Nas changed his strategy. He stopped tweeting Soundcloud links and began writing a song he could promote through memes. The formula was simple:
  //- p So Nas got creative. He knew he could make videos go viral, so he started promoting his music through them. The strategy was simple:
  h2.under Part 1
  p Most musicians think like failed startups. Too much time creating. Not enough time promoting.
  p When Lil Nas X dropped out of college to pursue music he didn’t create much. Instead, he lived on Twitter, made online friends and got popular posting memes. His account quickly grew to 30,000 followers.
  p The plan was to use his following to promote his music. But it wasn’t that simple. In Nas’s words:
  p.inwardSpeech I’d post a funny meme and get 2,000 retweets. Then I’d post a song and get 10.
  p So Nas got creative. He stopped tweeting SoundCloud links and started writing a song he could promote through memes. In his words:
  p.inwardSpeech It had to be short. It had to be catchy. It had to be funny.
  p
    span.italic Old Town Road
    |!{' '}was the result. And on the 3rd December 2018 Nas paired it with a video of a dancing cowboy and shared it with his followers:
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | country music is evolving
      a(href='https://t.co/BEZIw3TE8l') pic.twitter.com/BEZIw3TE8l
    | &mdash; nope (@LilNasX)
    a(href='https://twitter.com/LilNasX/status/1069424901373730816?ref_src=twsrc%5Etfw') December 3, 2018
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p The video went viral. So Nas stuck to this formula: Short viral videos. To the tune of Old Town Road. With the full song linked underneath.
  p As an unknown artist, it was the only way he could get the word out. And the views started piling up:
  //- video(src="https://s3.amazonaws.com/harrydry/gdmarketing/otr2.mp4" class="img__60" playsinline="playsinline" preload="auto" controls="controls")
  //- p By February short videos featuring Old Town Road were everywhere on Twitter. The problem was none of them included the words!{' '}
  //-   span.italic Old Town Road.
  h2.under Part 2
  //- p Part 2 is less about marketing and more about momentum.
  //- p Inspired by!{' '}
  //-   span.italic Old Town Road's
  //-   |!{' '}success on Twitter TikTok influencers took note.
  p Inspired by!{' '}
    span.italic Old Town Road's
    |!{' '}success on Twitter it spread to TikTok, and then onto Billboard’s country music charts. Yes, the!{' '}
    span.bold country music charts
    | . Nas listed it as a country song aware that the charts were less competitive.
  p One week later Billboard removed it for “not being a country song”. Ironically, this was the best thing that could have possibly happened. Billboard's decision turned!{' '}
    span.italic Old Town Road
    |!{' '}into a national talking point and two weeks later it was No. 1.
  p Nas wasn't stopping. He began lining up remixes with some of music's biggest stars.
  p Billboard has a loophole whereby remix plays count towards the original song's chart placement. With every remix millions more streams poured in, and!{' '}
    span.italic Old Town Road
    |!{' '}became impossible to budge.
  p 17 weeks later he'd broke Mariah Carey’s record for the most consecutive weeks at No. 1.
  p It’s easy to forget quite what an extraordinary achievement this is. Five months earlier, Nas was a college dropout sleeping on his sister’s couch with a negative balance in his Wells Fargo account.
  h2.under Part 3
  //- p As I researched the story I was waiting for the moment where Nas benefits from some freakish good fortune. But it didn’t come.
  p On my first day researching Old Town Road I read a quote from Nas:
  p.inwardSpeech A lot of people like to say “a kid accidentally got lucky”. No. This was no accident.
  p The more I learned about Nas the more I believed him.
  //- p I believed him. Things didn't happen!{' '}
  //-   span.italic to Nas
  //-   | . Things happened!{' '}
  //-   span.italic because of Nas
  //-   | .
  p A key moment in!{' '}
    span.italic Old Town Road's
    |!{' '}rise was a video of a man standing on a galloping horse going viral on Twitter. The audio was set to!{' '}
    span.italic Old Town Road
    | . Different versions of the video were viewed millions of times.
  //- p One key moment in Nas' rise was the creation of a four second video of a man standing on a galloping horse (set to the tune of!{' '}
  //-   span.italic Old Town Road
  //-   | ).
  //- p Early January, a video of a man standing on a galloping horse (set to the tune of Old Town Road) spread round Twitter.
  //- p Countless versions of the video were viewed millions of times. It was a key moment in!{' '}
  //-   span.italic Old Town Road
  //-   |!{' '}gaining early momentum.
  //- | !{' '}
  //-   a(href="https://twitter.com/bleacherreport/status/1079594756877905920") pretty big accounts
  p I wanted to know how the video spread, so I did some digging and found it first posted on the 24th December:
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | here&rsquo;s the full song
      a(href='https://t.co/K471dssOD7') https://t.co/K471dssOD7
    | &mdash; motiv8&#x1F617; (@customnigga)
    a(href='https://twitter.com/customnigga/status/1077240508622213120?ref_src=twsrc%5Etfw') December 24, 2018
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
  p I asked the Twitter user why he made the video. He told me that Nas sent it to him. But it doesn't end there.
  p Aware that people watching the video would search for the full song, Nas changed the song title on!{' '}
    a(href="") YouTube
    |!{' '}and!{' '}
    a(href="") SoundCloud
    |!{' '}to include the lyric from the viral video — “I got the horses in the back”.
  p He also posted on the!{' '}
    a(href="") NameThatSong
    |!{' '}subreddit which ranked on Google. Now, anyone searching from the video had an easy route to the song.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/otr1.png" alt="Hilton Doubletree cookie").img__90
  //- p This story is about the principles of sharing online. When you're starting out:
  //- p.list.list__top • No one knows you
  //- p.list • No one wants to check out “your thing”
  //- p.list.list__bottom • No one is going to promote anything for you.
  //- p So to get a foothold you’ve got to make friends and offer value.
  //- p Then when you’ve got an audience you’ve got to package your content in a way that fits into their life. That’s why Nas’ memes worked and his SoundCloud links didn’t.
  //- p The words in the viral video were “I got the horses in the back”.
  //-   span.italic Old Town Road
  //-   |!{' '}was never mentioned. And this made searching for the song hard.
  //- p Aware of this, Nas changed the song title on!{' '}
  //-   a(href="") YouTube
  //-   |!{' '}and!{' '}
  //-   a(href="") SoundCloud
  //-   |. He also posted on the!{' '}
  //-   a(href="") Name That Song
  //-   |!{' '}subreddit which ranked on Google. Problem solved:
  p Things didn’t happen!{' '}
    span.italic to Nas
    | . Things happened!{' '}
    span.italic because of Nas
    |
  p Virality is not mystical. The story of!{' '}
    span.italic Old Town Road
    |!{' '}is not magical.
  //- p The story of!{' '}
  //-   span.italic Old Town Road
  //-   |!{' '}is remarkable. But it's not magical.
  p Look behind the curtain: Nas is sitting in his underpants, on his sister's couch, iPhone in hand, making the whole thing happen.
  //- p No one is going to promote anything for you.
  p No one knew him. No one wanted to check out his song. No one promoted anything for him.
  p He made friends, made them laugh, and built an audience. Then he packaged his song in a way that fit into their life. The rest is history.
  blockquote.twitter-tweet
    p(lang='en' dir='ltr')
      | u can literally scroll down my account and see my promoting this fuckin song for months. each accomplishment it gets just makes all this shit feel so worth it. i can&rsquo;t stop taking about it.
    | &mdash; nope (@LilNasX)
    a(href='https://twitter.com/LilNasX/status/1117893737147846656?ref_src=twsrc%5Etfw') April 15, 2019
  script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')