extends ../base

block content
  p When Loom launched in 2016 it was called OpenVid. And it was!{' '}
    span.italic just another
    |!{' '}“easy-to-use screen recorder”.
  p At the time all screen recorders walked the same and talked the same. No opinions, no personality.
  p Until, one day, Loom came up with a!{' '}
    span.italic point of view:
  p.list.list__top
    span.italic 1. The way remote teams communicate sucks.
  p.list
    span.italic 2. Meetings are boring. Calls drag on. Email lacks personality.
  p.list.list__bottom
    span.italic 3. The solution? Async video messaging.
  p And with that said a new category was created. Loom was no longer “just another screen recorder”. It was “video messaging for work”.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl18/loom1f.png" alt="Loom Category Creation").img__100
  p The wonderful thing about creating a new category is you haven't got any competitors. You make the rules. You own the language.
  p “Send a video message” quickly became “Send a Loom”.
  p Today, Loom's valued at!{' '}
    span.italic $1.5bn
    | . More than all the other unopinionated screen recorders put together.!{' '}
    span.italic That's the power of positioning.
  p
    span.italic — Harry