extends ../base

block content
  p 30 years ago, to get millions of views you needed a Super Bowl budget. Today all you need is a phone and an idea.
  p Grab a cup of tea, enjoy the ads, and afterwards we’ll discuss what connects them:
  h2.under 1) Alamo's angry voicemail — 5M views
  p Back in 2011, a customer left an angry voicemail after being kicked out of an Alamo cinema. Alamo turned the voicemail into an ad and started playing it in all their theatres:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/1L3eeC2lJZs' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  p Movie go-ers found it hilarious. Soon the ad made!{' '}
    a(href="https://www.youtube.com/watch?v=tRuLRuBTy8w" target="_blank") national news
    | .
  h2.under 2) Say NO to Crack, Say YES! to Roller Skating — 13M views
  p Comedians,!{' '}
    span.italic Rhett and Link
    |, teamed up with Roller Kingdom in Reno to produce this gem:
  //- p How do you promote a roller skating park?<br>By pitching it as the solution to local gang violence. Duh:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/t0LSkX46dS4' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  p The video went viral on!{' '}
    a(href="https://twitter.com/8ALTON8/status/1084064178027917312" target="_blank") Twitter
    |!{' '}after being shared by Complex News and Andy Richter.
  h2.under 3) Flea Market Montgomery — 12M views
  p Back in 2006, Sammy Stephens recorded a song to promote his flea market in Montgomery, Alabama.
  p Local DJs started playing the song and before Sammy knew it he was on!{' '}
    a(href="https://www.youtube.com/watch?v=5vX5m5rkPsY" class="italic" target="_blank") The Ellen Show
    | :
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/FJ3oHpup-pk' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  h2.under 4) Burglars just want Tacos — 5M views
  p On the 16th December 2015,!{' '}
    a(href="" target="_blank") Frijoles & Frescas Tacos
    |!{' '}was robbed. The next day store manager, Greg Carlson, released the security footage.
  p Except he added captions which turned the burglary into a story about the thieves just wanting tacos:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/kzdv4FUHqP8' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  h2.under 5) Our Blades Are F***ing Great — 27M views
  p You knew it was coming. The OG low-budget viral video cost $4,500 and was shot in 7 hours:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/ZUG9qYTJMsI' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  p Dollar Shave Club raised a seed round a month before shooting the video. Cleverly, they delayed the announcement.
  p This meant when!{' '}
    a(href="https://techcrunch.com/2012/03/06/dollar-shave-club/" target="_blank") startup media
    |!{' '}wrote about their funding, they all linked to the launch video which came out the same day. Smart.
  h2.under 6) Furkids Kitty Kommercial — 6M views
  p Furkids volunteer, Helen, invited her brother Paul to the pet shelter. Paul improvised with the cats for 30 minutes and produced this masterpiece:
  p The video hit the front page of Reddit and was all over!{' '}
    a(href="https://www.huffingtonpost.co.uk/entry/animal-shelter-funny-cat-commercial_n_586bc6bce4b0de3a08f98179?ri18n=true" target="_blank") national media
    |!{' '}overnight:
  .yt
    iframe(width='' height='' src='https://www.youtube-nocookie.com/embed/-F_8qaQ3DD0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  p.asterix * * *
  //- h2.under There are a few common threads these ads share:
  //- p So there you go. 6 videos that forever changed the fortune of their companies. What common threads do they share?
  p Whilst preparing the article I played each video for my brother. The first thing he said:
  p.inwardSpeech None of these ads make it through meetings
  p And he's right. These ads are the product of!{' '}
    span.bold an individual's vision
    | .
  p Another common thread is!{' '}
    span.bold humour
    | . There is nothing special about flea markets, razor blades, or roller skating. The product is unimportant. People share what makes them laugh.
  p To quote Howard Gossage, “Nobody watches ads. People watch what entertains them. Sometimes it's an ad”.
  //- p The final thread is!{' '}
  //-   span.bold amateurishness
  //-   | . Each ad embraces its amateurishness.
  p And finally, each ad embraces its!{' '}
    span.bold amateurishness.
  p Fancy cameras, professional actors, and film degrees can be a hindrance. There is something charming about the novice. We celebrate the Sammy Stephens of the world.
