extends ../base

block content
  p
    span.italic Clermont-Ferrand, France, 1900.
  p Andre and Edouard Michelin had just started making tyres.
  p The problem was there were less than 300 cars in France.
  p So hoping to encourage car ownership they published the world's first!{' '}
    span.italic Michelin Guide
    | .
  p It was the ultimate guide for new motorists: maps, instructions on how to change tyres, locations of fine restaurants, etc.
  p And they printed 35,000 copies and gave them away for free.
  p Over the next decade the number of motorists soared. And so did demand for the guide.
  p The brothers started charging 7 francs and ramped up distribution. By 1908 different versions were being sold throughout Europe.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich1.jpg" alt="Michelin Guide content marketing").img__100
  p It would have been easy to rest on their laurels. But each year the brothers took pride in improving the guide.
  p Shortly after the First World War they hired inspectors to visit restaurants. And the first!{' '}
    span.italic Michelin stars
    |!{' '}were awarded.
  p By 1930 each new edition was a regular on France’s bestseller list.
  p.inwardSpeech Why am I telling you this?
  p Well, The Michelin brothers made something so useful they never had to worry about selling tyres.
  p Car enthusiasts loved the!{' '}
    span.italic Michelin Guide
    | . What sort of tyres do you think they bought?
  h2.under Confessions of an Advertising Man
  p In 1962 David Ogilvy had!{' '}
    span.italic 19
    |!{' '}clients.
  p He took a long vacation to write about everything he’d learnt from 14 years in advertising.
  p
    span.italic Confessions of an Advertising Man
    |!{' '}sold 1 million copies. And in two decades Ogilvy's agency grew to!{' '}
    span.italic 3000
    |!{' '}clients and!{' '}
    span.italic 267
    |!{' '}offices around the world.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich2.png" alt="Ogilvy content marketing — Confessions of an Advertising Man").img__100
  h2.under River Pools
  p After the 2008 recession River Pools were on the brink of collapse.
  p They cut their $250k marketing budget and started writing blog posts answering!{' '}
    span.italic every single question
    |!{' '}customers had ever asked them.
  p 700 articles later they'd built the!{' '}
    span.italic Wikipedia for Fibreglass pools
    |. It saved their business. Every month pulling in!{' '}
    span.italic 300k
    |!{' '}visitors to their website.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich3.png" alt="River Pools content marketing").img__100
  h2.under Planterina
  p When Planterina started selling plants, their founder, Amanda, set up a YouTube channel.
  p Her goal wasn’t to sell plants. But to be!{' '}
    span.italic the place
    |!{' '}to learn about plantcare.
  p Two years (and 180 videos) later the channel pulls in!{' '}
    spam.italic 110,000
    |!{' '}views every single day!
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich5.png" alt="Planterina content marketing").img__100
  p I'm re-telling these stories because their lessons have been forgotten.
  p Throwing a blog on a website and churning out content is the status quo. But what does it really achieve?
  p Content is winner takes all. The top 1% gets 99% of the attention.
  p So set out to create the!{' '}
    span.italic single best
    |!{' '}resource for your niche.
  p And don't expect immediate results. Content compounds in a way other marketing channels can't.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/mich4.png" alt="Content marketing compounds").img__100
  h2.under Support
  p Thanks for reading. If you'd enjoyed the story, I'd appreciate if you joined the!{' '}
    a(href="https://marketingexamples.com/newsletter") email list
    | . I share a new case study, like this one, each week.
  p
    span.italic — Harry