extends ../base

block content
  p Last week Molly-Mae did an!{' '}
    a(href="https://www.instagram.com/p/CE7P2L8F42o/" target="_blank") Instagram giveaway
    | . She spent £8k on gifts.
  p So far it's returned:
  p.list.list__top • 270k new YouTube subscribers
  p.list • 210k new Instagram followers
  p.list.list__bottom • 550k new followers of her brand,!{' '}
    span.italic Filter by Molly-Mae
  p That's < 1p / fan. Possibly the best ROI I've seen. Let's break it down:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly1.png" alt="Molly-Mae's Instagram and YouTube graph growth").img__100
  p The most important thing Molly-Mae did was time her giveaway with reaching 1M YouTube subscribers.
  p This gave it!{' '}
    span.italic purpose
    | .
  p It wasn't just an attempt to get some new followers. It was a!{' '}
    span.italic celebration
    | . And people got behind her.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly2.jpg" alt="Molly-Mae's Instagram giveaway").img__100
  p Next, let's look at the specifics.
  p Molly-Mae asked followers to “like and tag”. She also offered bonus entries for “multiple tags” or if users shared the post to their stories.
  p Each one created a mini viral loop which helped the post spread.
  p And it worked. Her post got 1.9M comments (1900x her average).
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly3.png" alt="Molly-Mae's Instagram giveaway case study").img__100
  p So the giveaway exploded. To the point where it was becoming a meme. Boys started sarcastically offering girls £5 to!{' '}
    span.italic not
    |!{' '}enter.
  p The easy thing would be to not respond. But Molly did. And her self-awareness took ownership of the joke.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly5.png" alt="Molly-Mae's Twitter giveaway response").img__95
  p Finally, let's talk results.
  p The aim of!{' '}
    span.italic most
    |!{' '}giveaways is to grow the account hosting the giveaway.
  p But the problem is you end up with a load of new followers who unfollow or disengage after. Molly-Mae realised this.
  p Her aim wasn't to attract!{' '}
    span.italic new followers
    |!{' '}(who just want the prize). It was was to incentivise!{' '}
    span.italic existing followers
    |!{' '}to follow her brand account and YouTube.
  p And she managed to pull across 820k!
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/molly4b.png" alt="Instagram giveaway conversions").img__100
  p Okay. Last thing. Yes, it’s well-executed. But for £8k the return is still insane.
  p Molly-Mae's!{' '}
    span.italic personal brand
    |!{' '}is what makes the difference.
  p If a fashion brand runs the same giveaway the numbers don't compare.
  p We don't celebrate!{' '}
    span.italic brands
    | . We celebrate!{' '}
    span.italic individuals
    | .
  h2.under Support
  p Thanks for reading. If you'd enjoyed this one, I'd love it if you joined the!{' '}
    a(href="https://marketingexamples.com/newsletter") email list
    | . I share a new marketing case study, like this one, each week.
  p
    span.italic — Harry