extends ../base

block content
  p I've been chatting to the owner of a!{' '}
    a(href="https://niemanconcrete.com/" target="_blank") decorative concrete company
    | .
  p Each month they pay!{' '}
    span.italic $600/mo
    |!{' '}for an ad in a local magazine that gets sent to 7000 wealthy homes in Georgia. Last 3 months they've made!{' '}
    span.italic $75,000
    |!{' '}from these ads.
  p Don't complicate marketing. Fish where the fish are.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl7/nl3.jpg" alt="Neiman Concrete magazine ads").img__100