extends ../base

block content
  p Imagine you're doing cold outreach for an exec coaching program.
  p Here’s the email!{' '}
    a(href="https://www.linkedin.com/in/davegerhardt/" target="_blank") Dave
    |!{' '}would send the CEO.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/dave1a.png", alt="Dave Gerhardt's Sales Email").img__100
  p The goal is simple.!{' '}
    span.italic.bold Get a reply
    | .
  p A reply!{' '}
    span gives you something to work with.
  p So how does Dave do that?
  p
    span.italic Keeps it short. Asks a question.
  p Much better
    | !{' '}than a hit and hope template asking for a “quick call”.