extends ../base

block content
  p
    span.italic From someone who's sent 1M+ emails with a 49.89% open rate.
  p.list.list__top
    span.bold 1/
    |!{' '}Ask subscribers to “add to address book”
  p.list
    span.bold 2/
    |!{' '}Ask for a reply to your welcome email
  p.list
    span.bold 3/
    |!{' '}Send as a real person. Add pic to sender address.
  p.list
    span.bold 4/
    |!{' '}Lower case subject line. Add preview text.
  p.list
    span.bold 5/
    |!{' '}Ask “mind rating today's email?” (boosts clicks)
  p.list
    span.bold 6/
    |!{' '}Make unsubscribing easy
  p.list
    span.bold 7/
    |!{' '}Ask cold subscribers if they'd like to stay
  p.list.list__bottom
    span.bold 8/
    |!{' '}Write emails people want to open
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl10/nl3.png" alt="High Open Rate Numbers").img__80
  p
    span.italic — Harry