extends ../base

block content
  p It took!{' '}
    a(href="https://www.youtube.com/c/watfordfcofficial" target="_blank") Watford F.C.
    |!{' '}ten years to get!{' '}
    span.bold 170k
    |!{' '}YouTube subscribers.
  p It took Watford F.C. goalkeeper!{' '}
    a(href="https://www.youtube.com/c/BenFosterTheCyclingGK" target="_blank") Ben Foster
    |!{' '}one year to get!{' '}
    span.bold 1M
    |!{' '}YouTube subscribers.
  p
    span.italic h/t!{' '}
      a(href="https://twitter.com/JonBaxter17") Jon Baxter
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl4/nl1.png" alt="Ben Foster's YouTube Growth").img__100
  p
    span.italic — Harry