extends ../base

block content
  h2.under Step 1 - Research
  p First up, we need an angle. How can we connect with Tom Hanks and not just be!{' '}
    span.italic another person
    |!{' '}asking him to do something:
  //- p What makes Tom Hanks smile?
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/th1.png" alt="Tom Hanks likes typewriter").img__80
  p Typewriters! Tom Hanks loves typewriters.
  h2.under Step 2 - Idea
  p We’ve got an angle. Now we need an idea.
  p What about if we send him a vintage typewriter? Or, even better, what if we type out our podcast invitation on a vintage typewriter and leave it in the carriage:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/th2.jpg" alt="Chris Hardwick Nerdist Tom Hanks Podcast Invitation").img__75
  //- p.inwardSpeech Dear Tom,
  //- p.inwardSpeech Please accept this typewriter–o–gram as a formal invitation to be a guest on my wildly-popular-with-the-kids Nerdist Podcast. It is a super relaxed, fun chat that will probably cover comedy, NASA, and whatever else you want to talk about — a new webseries, perhaps?? We are nice guys who are easy to get along with and have never murdered anyone. Other guests have included folks like your son Colin, Tina Fey, Conan, Jimmy Fallon, Bryan Cranston, John Lithgow, Willem Dafoe, JJ Abrams, Neil Patrick Harris, Neil Degrasse Tyson, Joel McHale, Jon Hamm, and THE MUPPETS. It would be an absolute dream come true to add you to this list. Please accept this 1934 Smith Corona as a gift for even considering this request. It should only VERY SLIGHTLY affect your decision.
  //- p.inwardSpeech Hugs and high fives,<br>Chris “Vintage Typewriters” Hardwick
  h2.under Step 3 - Execution
  p Now, all we need is Tom Hank's address.
  p
    a(href="http://www.fanmail.biz/7607.html" target="_blank") FanMail.Biz
    |!{' '}and!{' '}
    a(href="https://contactanycelebrity.com/trial/do/celebrityView?name=Tom-Hanks&id=4729" target="_blank") Contact Any Celebrity
    |!{' '}show the same place.!{' '}
    a(href="https://www.reddit.com/r/typewriters/comments/9w1mmf/my_crusade_to_politely_ask_tom_hanks_for_a_free/" target="_blank") Reddit
    |!{' '}confirms it. Let’s post this thing:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/th3.png" alt="Tom Hanks Address Typewriter").img__60
  h2.under Results
  p Four days later Tom Hanks sends back a brilliant reply:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/th4.jpg" alt="Tom Hanks reply to Chris Hardwick's Nerdist Podcast Invitation").img__75
  p.asterix * * *
  p This is the formula Chris Hardwick used to get Tom Hanks to come on!{' '}
    a(href="https://podtail.com/en/podcast/the-nerdist/tom-hanks/" target="_blank") his podcast
    |!{' '}back in 2012.
  //- p It works for the same reason you open a Fedex envelope before a regular envelope. Costliness carries meaning.
  p It works for the same reason you open a FedEx envelope before a regular envelope. We can’t help but assume the importance of a message is proportional to the cost of delivering it.
  p.inwardSpeech Whose fan mail shall I reply to first? Probably the people who sent me a vintage 1934 Smith Corona.
  p For more articles on this topic I'd recommend, “
    a(href="https://marketingexamples.com/sales/signalling") Costly Signalling Theory
    | ”
  //- p A little sprinkle of creativity goes a long way.