extends ../base

block content
  p For two and and a half years Rev. Chris Lee's!{' '}
    a(href="https://www.instagram.com/p/B5cmnDuA5G9/" target="_blank") Instagram account
    |!{' '}grew steadily. He posted mostly pictures of himself, his family, and the church.
  p In July 2019 things changed. Chris started uploading!{' '}
    a(href="https://www.instagram.com/p/BzsoGX7gHe3/" target="_blank") “60 second sermons”
    |. The next five months saw him go from averaging!{' '}
    span.bold 1,000
    |!{' '}new followers each month to!{' '}
    span.bold 10,000
    |.
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/revchris1.png" alt="Rev Chris 60s sermon Instagram Growth").img__95
  p Here's a little compilation of Chris in action:
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/revchris.mp4" class="img__50" playsinline="playsinline" preload="auto" controls="controls")
  p The format is wonderfully simple. It's also a great reminder of some social media fundamentals:
  h2.under 1) Give people a reason to follow you
  //- p The first question to answer before posting on social media is, “Why should someone follow us?”
  p Chris’s “60 second sermons” give his account a clear!{' '}
    span.bold purpose
    | .
  p You can’t tell your friend, “You should follow this priest”. But you can say, “You should follow this priest... He posts these 60 second sermons”.
  h2.under 2) Tailor your content to the platform
  p Instagram is for light entertainment. Chris's content reflects this.
  p He doesn’t preach from the pulpit. His “sermons” aren’t polished. He walks down the street holding an iPhone. That's what people on Instagram like to consume.
  h2.under 3) Don't ask for anything in return
  p Chris records his sermons, uploads them for free, and never asks for anything in return. First his Instagram grew, and more recently!{' '}
    | his own congregation has grown as well.
  p That's how social media marketing works. People do not follow you to be advertised to. You can't force it. Consistently add value and people will check you out!{' '}
    span.bold because they want to
    | .
  h2.under And finally ...
  p I'd like to end with this tweet by!{' '}
    a(href="https://twitter.com/mkobach" target="_blank") Matthew Kobach
    | :
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/revchris2.png" alt="Matthew Kobach Twitter").img__70
  p Chris's “60 second sermons” look obvious. But, of course, it's only obvious in hindsight. Before Chris no one was doing it.
  p Chris's story is a reminder to experiment. Don't fall into line and post what everyone else is posting. Because for two and a half years you might be doing it one way, only to find, a much better way under your nose the whole time.

