extends ../base

block content
  p Last week I asked people on!{' '}
    a(href="https://twitter.com/GoodMarketingHQ/status/1316053333463969792") social media
    |!{' '}to “submit your company landing page” and I’d rewrite it.
  p Well, we did it! I teamed up with!{' '}
    a(href="https://anniemaguire.com/" target="_blank") Annie Maguire
    | , one of the best copywriters in the business.
  p Hopefully this gives you an insight into!{' '}
    span.italic the mind
    |!{' '}of a pro copywriter.
  h2.under 1) Everydae
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie8a.png" alt="Listen to customers copywriting").img__100
  p Put yourself in the customer's shoes. Kids don't care about “the next generation of SAT prep”. They care about “Acing the SAT”.
  p We also pulled up the $1 trial. And made the “five stars” feel REALER.
  h2.under 2) Banquist
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie2.jpg" alt="Banquist landing page copywriting").img__100
  p Banquist is a unique product. But they waste their uniqueness with a vague title that could mean fifty different things.
  p When you've got a unique product the golden rule is to!{' '}
    span.italic let the product speak for itself
    | .
  h2.under 3) Dormio
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie6b.png" alt="Dormio landing page").img__100
  p Customers' buy!{' '}
    span.italic outcomes
    |!{' '} not!{' '}
    span.italic products
    | . What's more appealing:
  p.inwardSpeech.list__bottom a) A calming tea
  p.inwardSpeech.list__top b) A calming tea that helps you relax, unwind, and drift into deep, restorative sleep
  h2.under 4) JobBoardSheet
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie1a.png" alt="JobBoardSheet landing page").img__100
  p Their current copy is!{' '}
    span.italic clear
    | . But it's also!{' '}
    span.italic forgettable
    | . So we looked down their page and found this new line.
  p It's much more specific. And handles the customer's!{' '}
    span.italic four main objections in one sentence
    | .
  h2.under 5) Silva
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie3.png" alt="Silva landing page").img__100
  p Firstly, “Trail Runner Free” is very confusing. Is that the product? Is it free?
  p Also, there's no!{' '}
    span emotional pull. People don't get excited by a new!{' '}
    span.italic headlamp
    | . They get excited by new!{' '}
    span.italic adventures
    | . So sell the latter.
  h2.under 6) Socios
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie9a.png" alt="Socios landing page copywriting").img__100
  p Football fans don't care about “tokens”, “surveys”, and “rewards”.
  p Take ownership of the!{' '}
    span.italic real problem
    | . Fans are crying out to have their voices heard. Socios solves this. So own it.
  p Also, add social proof. You're literally working with Barcelona!
  h2.under 7) Counterweight Creative
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie10.png" alt="Counterweight Creative landing page").img__100.
  p This one had promise. But the language is too vague. It doesn't feel REAL.
  p We replaced all their!{' '}
    span.italic vague
    |!{' '}words with!{' '}
    span.italic specific
    |!{' '}ones. You can't bullshit specifics.
  h2.under 8) Haako
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie5.png" alt="Haako copywriting").img__100
  p This one's more about!{' '}
    span.italic repackaging
    |!{' '}than!{' '}
    span.italic rewriting
    | . You can't expect people to read one huge text block to understand your product.
  p So we condensed their text block to!{' '}
    span.italic one sentence
    |. And added an image to bring the product to life.
  h2.under 9) Ladybird driving school
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/annie4.png" alt="Ladybird driving school landing page").img__100
  p Ladybird's uniqueness is that!{' '}
    span.italic all their instructors are female
    | . So don't bury it half-way down the page. Lead with it.
  p
    span.italic Write the title only you can
    | .
  p.asterix * * *
  p
    span.italic That's all folks. I hope you found this useful. Massive thank you to!{' '}
      a(href="https://www.linkedin.com/in/maguireannie/" target="_blank") Annie
      | . She did the hard work. If you'd like to work with a world-class copywriter, I couldn't recommend her more. She has a great!{' '}
      a(href="https://blog.copyfol.io/marketing-portfolio" target="_blank") marketing portfolio
      | . Get in touch!{' '}
      a(href="https://anniemaguire.com/#contact" target="_blank") here.
  p
    span.italic — Harry