extends ../base

block content
  p Rhetorical Devices are techniques that twist the wording of a sentence to make it more memorable and persuasive.
  //- p They work by!{' '}
  //-   span.italic.bg4 creating rhythm
  //-   | ,!{' '}
  //-   span.italic.bg1 interrupting a pattern,
  //-   |!{' '}or by!{' '}
  //-   span.italic.bg2 painting a picture
  //-   |!{' '}in a way that literal language can't.
  p I like to group them into three buckets:
  p.inwardSpeech
    span.italic.bg4 Rhythmic
    | .!{' '}
    span.italic.bg1 Interrupts
    | .!{' '}
    span.italic.bg2 Figurative
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr0.png" alt="My landing page formula").img__100
  //- p Let's start with one's that!{' '}
  //-   span.italic.bg4 create rhythm
  //-   | .!{' '}
  //- p Let's start with!{' '}
  //-   span.italic.bg4 rhythmic devices
  //-   | . With rhythm comes fluency. And the more fluent writing feels the more it resonates.
  p Let's start with!{' '}
    span.italic.bg4 rhythmic devices
    | . These are all about fluency, bounce, momentum. They work by bewitching words into memorable sentences.
  h2.slab.bg4 1/ Meter
  //- p
  //-   span.italic The beat of your line.!{' '}
  //-   | An alternating pattern of stressed / unstressed creates a natural flow.
  p
    span.italic The beat of your line. Made up of stressed and unstressed syllables.<br>
    |!{' '} An alternating pattern creates a natural flow.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr2.png" alt="Copywriting fundementals").img__100
  h2.slab.bg4 2/ Rhyme
  p Creates fluency. And the more fluent copy feels the more it resonates.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr1.png" alt="Copywriting fundementals").img__100
  h2.slab.bg4 3/ Tricolon
  p If you want something to roll off the tongue put it in a sequence of three.
    //- span.italic Round, rhythmic, rolls of the tongue.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr3.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg4 4/ Repetition
  p Adds a little chime.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr4.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg4 5/ Alliteration
  p Propels the reader along.!{' '}
    span.italic It's surprisingly simple to add alliteration.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr5.png" alt="How to write hooks copywriting").img__100
  .clines
    .clines__inner.bg1
    .clines__inner.bg2
    .clines__inner.bg3
  p Okay. Onto
    span.bg1 pattern interrupts
    | . These are all about
    span.italic emphasis.
  p.inwardSpeech If you disrupt the reader's flow, you stop them skimming, you force them to engage.
  p When you break convention you surprise the reader. And when you surprise the reader you have their attention. You stop them skimming and force them to engage.
    |!{' '}work by!{' '}
    span.italic interrupting flow.
  p.inwardSpeech If you disrupt the reader's flow, you get their attention.
  p Let's run through the techniques.
  h2.slab.bg1 6/ Contrast
  p If you experience two similar things in succession, your perception of the second is influenced by the first.
  //- p What something's!{' '}
  //-   span.italic not
  //-   |!{' '}emphasises!{' '}
  //-   span.italic what it is.
  //- p Fish don't know they're in water. But they might
  //- p A Rolls Royce is expensive. Until you sell it at a yacht exhibition.
  p What something's!{' '}
    span.italic not
    |!{' '}emphasises!{' '}
    span.italic what it is.
  p The!{' '}
    span.italic opposite!{' '}
    |!{' '}of something
    |!{' '}emphasises!{' '}
    span.italic the essence
    | of something.
  p A Rolls Royce is expensive. Until you stick it next to a yacht.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr6.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg1 7/ Questions
  p The simplest pattern interrupt. When you ask a question the reader has to answer it.
  p Pull the reader down the page.
  h2.slab.bg1 7/ Purely Questions
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr7.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg1 8/ Juxtaposition
  p Place two clashing entities side by side we can't help but compare them.!{' '}
    span.italic Contrast
    |!{' '}emphasises.!{' '}
    span.italic Incongruity
    |!{' '}intrigues.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr8.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg1 9/ Double Entendre
  p Two ideas. One sentence. The!{' '}
    span.italic Aha
    |!{' '}moment makes it memorable.
  //- p Two meanings connect two different parts of brain and the phrase gets locked in memory.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr9.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg1 10/ Hyperbole & Understatement
  p Turns a plain line into a playful one.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr10.png" alt="How to write hooks copywriting").img__100
  .clines
    .clines__inner.bg1
    .clines__inner.bg2
    .clines__inner.bg3
  p Finally, onto!{' '}
    span.bold.bg2 figurative devices
    | that painting a picture in a way that literal language can't.
  h2.slab.bg2 12/ Simile
  p Explains the unfamiliar in terms of the familiar.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr12.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 13/ Metaphor
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr13.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 14/ Implied Metaphor
  p A subtle metaphor. Where comparison is made!{' '}
    span.italic implicitly
    | .
  p Compares two unlike things without mentioning one of them.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr14.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg1 15/ Metonymy
  p Where a!{' '}
    span.italic related
    |!{' '}term stands in for the!{' '}
    span.italic literal
    |!{' '}term.!{' '}
    span.italic Punchy, surprising, colorful.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr15.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg4 16/ Personification
  h2.slab.bg5 13/ Simile
  p Paints the unfamiliar, with the color of the familiar.
  h2.slab.bg3 16/ Personification
  p Breathes life into lifeless copy.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/lit8.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg4 17/ Onomatopoeia
  p Words which imitate sound lift off the page.!{' '}
    span.italic Ahoy. Aha. Shh. Shazam. Crash. Bang. Wallop.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/lit9.png" alt="How to write hooks copywriting").img__100