extends ../base

block content
  p Rhetorical Devices are techniques that twist the wording of a sentence to make it more memorable and persuasive.
  //- v1
  p I like to group them into three buckets.
  p One's that!{' '}
    span.italic.bg4 create flow
    | . One's that!{' '}
    span.italic.bg1 interrupt flow
    |!{' '}. One's that!{' '}
    span.italic.bg2 paint a picture
    |!{' '}in a way that literal language can't.
  //- v2
  //- p They work by!{' '}
  //-   span.italic.bg4 creating flow
  //-   | ,!{' '}
  //-   span.italic.bg1 interrupting flow
  //-   |!{' '}, or by!{' '}
  //-   span.italic.bg2 painting a picture
  //-   |!{' '}in a way literal language can't.
  //- p Let's run through them.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr0a.png" alt="My landing page formula").img__100
  p Let's run through the different techniques.
  p Let's start with the techniques that!{' '}
    span.bold create rhythm
    | . With rhythm comes fluency. And the more fluent writing feels the more it resonates.
  h2.slab.bg4 1/ Rhyme
  //- p Adds musicality. Emphasises key words. Makes each line!{' '}
  //-   a(href="https://mediatel.co.uk/news/2017/10/09/the-power-of-rhyme/")
  //-     span.bold twice
  //-     |!{' '}as!{' '}
  //-     span.italic memorable
    |.
  p Creates fluency. The more fluent copy feels the more it resonates.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr1.png" alt="Copywriting fundementals").img__100
  h2.slab.bg4 2/ Rhythm
  p
    span.italic The beat of your line. Comprised of stressed and unstressed syllables.<br>
    | An alternating pattern creates a natural flow.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr2.png" alt="Copywriting fundementals").img__100
  h2.slab.bg4 3/ Tricolon
  p If you want something to roll off the tongue put it in a sequence of three.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr3.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg4 4/ Repetition
  p Adds a little chime.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr4.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg4 5/ Alliteration
  p Propels the reader along.!{' '}
    span.italic It's surprisingly simple to add alliteration.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr5.png" alt="How to write hooks copywriting").img__100
  //- v1
  h2.slab.bg1 6/ Contrast
  p A Rolls Royce feels expensive. Until you stick it next to a yacht.
  //- p A Rolls Royce is expensive. Until you sell it at a yacht exhibition.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr6.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg1 7/ Questions
  p There's two types of question:
  p.ni.inwardSpeech
    span.bold 1/ Leading questions
  span.isBreak
  //- p Challenge the reader. Force an answer.
  p.ni.inwardSpeech Walk the reader down a path towards your product.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr7a.png" alt="Call to action").img__100.sesquon
  p.ni.inwardSpeech
    span.bold 2/ Purely rhetorical questions
  span.isBreak
  //- p.ni.inwardSpeech Pull the reader down the page.
  //- p.ni.inwardSpeech Force reader to read the next line.
  p.ni.inwardSpeech Opens a loop the reader wants to close.
  //- img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit25.png" alt="Objection handl").img__100.sesquon
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr7b1.png" alt="Objection handl").img__100.sesquon
  h2.slab.bg1 8/ Juxtaposition
  p Place two clashing entities side by side we can't help compare them.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr8.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg1 9/ Double Entendre
  p
    span.italic Two ideas. One sentence.
    | The!{' '}
    span.italic Aha
    |!{' '}moment makes it memorable.
  //- p Two meanings connect two different parts of brain and the phrase gets locked in memory.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr9.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg1 10/ Hyperbole & Understatement
  p Turns a plain line into a playful one.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr10.png" alt="How to write hooks copywriting").img__100
  //- NEW
  //- h2.slab.bg5 12/ Comparison
  //- p The simplest comparison. We understand a product by comparing it to others.
  //- p Paints the unfamiliar, with the color of the familiar.
  //- p The simplest comparison. Instantly creates context for a product.
  //- //- p Copywriting without comparison is like describing a Spork without mentioning Spoon or Fork.
  //- img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit15.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 11/ Simile
  p Explains the unfamiliar in terms of the familiar.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr11.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 12/ Metaphor
  p Like a simile. But more visceral.
  //- p Turns the unfamiliar into the familiar, the abstract into the concrete, and the vapid into the vivid.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr12.png" alt="How to write hooks copywriting").img__100
  //- img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit20.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 13/ Implied Metaphor
  //- p A type of metaphor where comparison is made!{' '}
  //-   span.italic implicitly.
  p A more subtle metaphor. Where comparison is made!{' '}
    span.italic implicitly
    | .
  //- p Adds color without complexity.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr13.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 14/ Metonymy
  p Where a!{' '}
    span.italic related
    |!{' '}term stands in for the!{' '}
    span.italic literal
    |!{' '}term. Punchy and colorful.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr14.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 15/ Personification
  p Breathes life into lifeless copy. Quite literally.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr15.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 16/ Onomatopoeia
  p
    span.italic Words which imitate sound.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr16.png" alt="How to write hooks copywriting").img__100