extends ../base

block content
  p Rhetorical Devices are techniques that twist the wording of a sentence to make it more memorable and persuasive.
  p I like to group them into three buckets:
  //- p.inwardSpeech
  //-   span.italic.bg4 Rhythmic
  //-   | .!{' '}
  //-   span.italic.bg1 Interrupts
  //-   | .!{' '}
  //-   span.italic.bg2 Figurative
  //-   | .
  //- p They work by!{' '}
  //-   span.italic.bg4 creating rhythm
  //-   | ,!{' '}
  //-   span.italic.bg1 interrupting a pattern,
  //-   |!{' '}or by!{' '}
  //-   span.italic.bg2 painting a picture
  //-   |!{' '}in a way that literal language can't.
  //- p
  //-   span.bold Rhythmic devices
  //-   |!{' '}work by
  //-   span.italic creating flow.
  //-   span.bold Pattern Interrupts
  //-   |!{' '}work by
  //-   span.italic interrupting flow.
  //-   span.bold Figurative devices!{' '}
  //-   span.italic paint a picture in a way that literal language can't.
  img(src="https://ik.imagekit.io/o08ysq9vx/dr/dr0.png" alt="My landing page formula").img__100
  .clines
    .clines__inner.bg1
    .clines__inner.bg2
    .clines__inner.bg3
  p Let's start with the one's that!{' '}
    span.italic.bg4 create rhythm
    | :
  h2.slab.bg4 1/ Meter
  p
    span.italic The beat of your line. Comprised of stressed and unstressed syllables.
    |!{' '}An alternating pattern rolls of the tongue.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/litextra.png" alt="Copywriting fundementals").img__100
  h2.slab.bg4 2/ Rhyme
  p Creates fluency. And the more fluent copy feels the more it resonates.
  //- p Adds musicality. Emphasises key words. Makes each line!{' '}
  //-   a(href="https://mediatel.co.uk/news/2017/10/09/the-power-of-rhyme/")
  //-     span.bold twice
  //-     |!{' '}as!{' '}
  //-     span.italic memorable
  //-   |.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit1.png" alt="Copywriting fundementals").img__100
  h2.slab.bg4 3/ Tricolon
  p
    span.italic Round, rhythmic, rolls of the tongue.
    |!{' '}If you want something to roll off the tongue put it in a sequence of three.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit2.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg4 4/ Repetition
  p Adds a little chime.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit3.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg4 5/ Alliteration
  p Propels the reader along.!{' '}
    span.italic It's surprisingly simple to add alliteration.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit4.png" alt="How to write hooks copywriting").img__100
  .clines
    .clines__inner.bg1
    .clines__inner.bg2
    .clines__inner.bg3
  p Okay.!{' '}
    span So!{' '}
    span.bg4 Rhythmic devices
    |!{' '} work by!{' '}
    span.italic creating flow
    |.!{' '}
    span.bg1 Pattern interrupts
    |!{' '}work by!{' '}
    span.italic interrupting flow.
  p.inwardSpeech If you disrupt the reader's flow, you stop them skimming, you force them to engage.
  p Let's run through the techniques.
  //- p Okay.!{' '}
  //-   span So!{' '}
  //-   span.bg4 Rhythmic devices
  //-   |!{' '} work by!{' '}
  //-   span.italic creating flow
  //-   |.!{' '}
  //-   span.bg1 Pattern interrupts
  //-   |!{' '}work by!{' '}
  //-   span.italic interrupting the expected flow of a sentence.
  //- p.inwardSpeech When you break a pattern you surprise the reader. When you surprise the reader you have their attention. You stop them skimming and force them to engage.
  //- p Let's run through the techniques.
  h2.slab.bg1 6/ Contrast
  //- p What something's!{' '}
  //-   span.italic not
  //-   |!{' '}emphasises!{' '}
  //-   span.italic what it is.
  //- p Fish don't know they're in water. But they might
  //- p A Rolls Royce is expensive. Until you sell it at a yacht exhibition.
  p A Rolls Royce is expensive. Until you stick it next to a yacht.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit13.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg5 7/ Questions
  p The simplest pattern interrupt. When you ask a question the reader has to answer it.
  p Pull the reader down the page.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit5.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 8/ Juxtaposition
  //- h2.slab.bg2 8/ Juxtaposition
  //- p When you place two clashing entities side by side we can't help compare them.!{' '}
  //-   span.italic Contrasting
  //-   |!{' '}entities emphasise.!{' '}
  //-   span.italic Incongruous
  //-   |!{' '}entities intrigue.
  //- //- p
  //- //-   span.italic Contrasting
  //- //-   |!{' '}for emphasis.!{' '}
  //- //-   span.italic Incongruous
  //- //-   |!{' '}for intrigue.
  p Place two clashing entities side by side we can't help but compare them.!{' '}
    span.italic Contrast
    |!{' '}emphasises.!{' '}
    span.italic Incongruity
    |!{' '}intrigues.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit7c.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg5 9/ Double Entendre
  p Two ideas. One sentence. The!{' '}
    span.italic Aha
    |!{' '}moment makes it memorable.
  //- p Two meanings connect two different parts of brain and the phrase gets locked in memory.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit10.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg1 10/ Hyperbole & Understatement
  p Turns a plain line into a playful one.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit11b.png" alt="How to write hooks copywriting").img__100
  .clines
    .clines__inner.bg1
    .clines__inner.bg2
    .clines__inner.bg3
  p And finally,!{' '}
    span.bg4 figurative devices
    | . They work by painting the product in a way literal language can't.
  h2.slab.bg2 12/ Simile
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit12b.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 13/ Metaphor
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit41.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 14/ Implied Metaphor
  p Compares two unlike things without mentioning one of them.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit14.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 15/ Metonymy
  p Where a!{' '}
    span.italic related
    |!{' '}term stands in for the!{' '}
    span.italic literal
    |!{' '}term.!{' '}
    span.italic Punchy, surprising, colorful.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit6.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 16/ Personification
  h2.slab.bg2 13/ Simile
  p Paints the unfamiliar, with the color of the familiar.
  h2.slab.bg3 16/ Personification
  p Breathes life into lifeless copy.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit8.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg4 17/ Onomatopoeia
  p Words which imitate sound.
  p
    span.italic Ahoy. Aha. Shh. Shazam. Crash. Bang. Wallop.
    | Onomatopoeia throws the reader in.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit9.png" alt="How to write hooks copywriting").img__100
  p Rhetorical Devices are techniques that twist the wording of a sentence to make it both more memorable and persuasive.
  p They work by!{' '}
    span.italic creating rhythm
    | ,!{' '}
    span.italic interrupting a pattern,
    |!{' '}or by!{' '}
    span.italic painting a picture in a way that linear language can't
    |.
  //- v2
  //- p They work by!{' '}
  //-   span.italic creating rhythm
  //-   | ,!{' '}
  //-   span.italic interrupting a pattern,
  //-   |!{' '}or by!{' '}
  //-   span.italic comparisons
  //-   |!{' '}that link the unfamiliar to the familiar.
  //-   |!{' '}that paint the unfamiliar in the language of familiar.
  //- v3
  //- p I like to group them into three different camps.
  //- p.list.list__top • Creating Rhythm !{' '}
  //- p.list 2. Interrupting a familiar pattern (engaging the reader)
  //- p.list.list__bottom 3. Painting a picture in a way literal language can't.
  //- img(src="https://ik.imagekit.io/o08ysq9vx/rd/rdr0a.png" alt="My landing page formula").img__100
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit0b.png" alt="My landing page formula").img__100
  h2.slab.bg1 1/ Rhyme
  //- p Rhyme creates fluency. The more fluent writing feels the more it resonates. Make something rhyme and you've made it!{' '}
  //-   a(href="https://mediatel.co.uk/news/2017/10/09/the-power-of-rhyme/")
  //-     span.bold twice
  //-     |!{' '}as memorable
  //-   | .
  p Rhyming statements are!{' '}
    a(href="https://mediatel.co.uk/news/2017/10/09/the-power-of-rhyme/")
      span.bold twice
      |!{' '}as memorable
    |!{' '}and!{' '}
    a(href="https://www.linkedin.com/pulse/rhyme-past-its-prime-richard-shotton/")
      span.bold 22%
      |!{' '}more believable
    |. I don't care if you think it's cheesy. It works.
  p Least respected. Most effective.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit1.png" alt="Copywriting fundementals").img__100.sesquon
  h2.slab.bg4 2/ Tricolon
  p Power of three.!{' '}
    span.italic Round, rhymic, complete
    | .
  p
    span Three
    |!{' '}is the magic number in copywriting. It feels!{' '}
    span.italic complete
    | . And when something feels !{' '}
    span.italic complete
    |!{' '}we're more likely to remember it.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit2.png" alt="How to write hooks copywriting").img__100.sesquon
  h2.slab.bg3 3/ Repetition
  p
    span.italic Adds a little chime to your copy.
  //- p Musicians create rhythm with!{' '}
  //-   span.italic repeated notes
  //-   | . Writers create rhythm with!{' '}
  //-   span.italic repeated words
  //-   |.
  p “The name's James Bond” doesn't quite chime like “The name's Bond. James Bond”.
  //- p “The first rule is: You do not talk about Fight Club” doesn't quite have the same chime?!
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit3.png" alt="How to write hooks copywriting").img__100.sesquon
  h2.slab.bg4 4/ Alliteration
  //- p Propels the reader along.
  p It's!{' '}
    span.italic surprisingly simple
    |!{' '}to!{' '}
    span.italic add alliteration
    | .!{' '} String together words beginning with the same letter and they're much easier to remember.
  //- p It's!{' '}
  //-   span.italic surprisingly simple
  //-   |!{' '}to!{' '}
  //-   span.italic add alliteration
  //-   | . !{' '}
  //-   span.italic Sift
  //-   |!{' '}through!{' '}
  //-   span.italic synonyms
  //-   |!{' '}to find!{' '}
  //-   span.italic suitable substitutes
  //-   | .
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit4.png" alt="How to write hooks copywriting").img__100.sesquon
  h2.slab.bg5 5/ All together now
  p Alliteration, repetition, tricolon. Working in harmony. Love to see it.
  //- img(src="https://ik.imagekit.io/o08ysq9vx/rd/dr4.png" alt="How to write hooks copywriting").img__100.sesquon
  //- v1
  //- p Okay. So!{' '}
  //-   span rhythm
  //-   |!{' '}works by!{' '}
  //-   span.italic creating fluency
  //-   |. The more fluent writing feels the more it resonates.
  //- p
  //-   span.bold Pattern interrupts
  //-   |!{' '}work by!{' '}
  //-   span.italic disrupting fluency.
  //-   | Break a familiar pattern and you get the reader's attention.
  //- p Let's run through the techniques.
  //- v1
  .clines
    .clines__inner.bg1
    .clines__inner.bg2
    .clines__inner.bg3
    .clines__inner.bg4
    .clines__inner.bg5
  //- p Okay. That's!{' '}
  //-   span.bold rhythm
  //-   |. Onto!{' '}
  //-   span.bold pattern interrupts
  //-   |.!{' '} They
  //-   |!{' '}work by!{' '}
  //-   span.italic disrupting flow
  //-   |.
  p Okay. That's it for rhythm. Onto!{' '}
    span.bold pattern interrupts
    | .!{' '} Pattern interrupts work by disrupting the expected flow of a sentence.
  p They slow down the reader.
  p.inwardSpeech If you disrupt the reader's flow, you get their attention.
  p.inwardSpeech If you break a familiar pattern, you stop them scrolling, you force them to engage.
  h2.slab.bg5 5/ Questions
  p The simplest pattern interrupt. When you ask a question you force the reader to answer it.
  p The simplest pattern interrupt. When you ask a question the reader has to try answer it.
  p Either they know the answer.
  p Or they can't answer it. So they read on tto figure it out.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit5.png" alt="How to write hooks copywriting").img__100
  p Or thet
  h2.slab.bg5 6/ Metonymy
  p Where a!{' '}
    span.italic shorthand
    |!{' '}term stands in for the!{' '}
    span.italic literal
    |!{' '}term. Punchy, surprising, and colourful.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit6.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg1 7/ Juxtaposition
  p When you place two entities side by side we can't help compare them. Anything!{' '}
    span.italic incongrous
    |!{' '}or!{' '}
    span.italic contrasting
    |!{' '}gets our attention.
  p There's two types of juxtaposition.
    span.italic Incongruity intrigues.
    |!{' '}Where you place two things together that shouldn't go together. Opens a loop the reader wants to close.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit7.png" alt="How to write hooks copywriting").img__100
  h2.slab.bg2 7/ Personification
  p Breathes life into dull copy.!{' '}
    span.italic Quite literally.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit8.png" alt="How to write hooks copywriting").img__100.sesquon
  //- img(src="https://ik.imagekit.io/o08ysq9vx/rd/rdr10a.png" alt="How to write hooks copywriting").img__100.sesquon
  h2.slab.bg4 9/ Onomatopoeia
  p
    span.italic Words which imitate sound.
    |!{' '}Another technique that breathes life into copy.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit9.png" alt="How to write hooks copywriting").img__100.sesquon
  h2.slab.bg3 8/ Double Entendre
  p
    span.italic Two ideas in one sentence.
  p It works because it!{' '}
    span.italic makes the reader work.
    |!{' '}You don't!{' '}
    span.italic skim it
    |, you!{' '}
    span.italic translate it
    |. The!{' '}
    span.italic Aha
    | !{' '}moment makes it memorable.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit10.png" alt="How to write hooks copywriting").img__100.sesquon
  h2.slab.bg5 10/ Hyperbole / Understatement
  //- p In copywriting “the expected” is forgettable and “the unexpected” is memorable.
  //- p Hyperbole and understatement take “the expected” and magnify or minify it, til the reader's left with someting unexpected.
  //- p.asterix * * *
  //- p Take the “expected” and magnify or minify it til the reader's left with someting unexpected.
  //- p.asterix * * *
  p Anything “expected” is forgettable. Hyperbole and understatemnet take “the expected” and magnify or minify it. Leaving the reader with someting unexpected.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit11a.png" alt="How to write hooks copywriting").img__100.sesquon
  .clines
    .clines__inner.bg1
    .clines__inner.bg2
    .clines__inner.bg3
    .clines__inner.bg4
    .clines__inner.bg5
  p Okay. That's!{' '}
    span.bold pattern interrupts
    | . Finally, onto!{' '}
    span.bold comparison
    | .
  p And finally, onto techniques that paint a picture in a
    span.bold comparisons
    | .
  p It's our shortcut to understanding.
  p Comparison creates context. And context is how we understand products.
  p Let's run through the techniques.
  h2.slab.bg1 11/ Direct
  p The simplest type.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit15.png" alt="How to write hooks copywriting").img__100.sesquon
  h2.slab.bg2 12/ Simile
  p Explains the unknown in terms of the known.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit12b.png" alt="How to write hooks copywriting").img__100.sesquon
  h2.slab.bg3 13/ Contrast
  p Most products aren't unique. So a hook adds The easiest way to write hooks is to address your customer's biggest objection.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit13.png" alt="How to write hooks copywriting").img__100.sesquon
  h2.slab.bg4 14/ Metaphor
  p Most products aren't unique. So a hook adds The easiest way to write hooks is to address your customer's biggest objection.
  img(src="https://ik.imagekit.io/o08ysq9vx/rd/lit14.png" alt="How to write hooks copywriting").img__100.sesquon