extends ../base

block content
  p
    a(href="https://kapwing.com" target="_blank") Kapwing
    |!{' '}is an online video editor founded by Julia Enthoven and Eric Lu.
  p Two years ago it was just like every other new startup. No funding. No organic traffic. No users.
  p They tried cold emails, ads, posting in Facebook groups. None of it worked. Every single one of Kapwing’s first fifteen paying users came from Google.
  p To quote Julia, “We learned that, for our product, SEO is king.” So she and Eric set out on a mission to climb the Google rankings.
  p This case study focuses on one particular link building strategy they employed. I’m going to call it!{' '}
    span.bold SEO Project Marketing
    | . It works like this:
  p.list.list__top 1. Make side projects
  p.list 2. Host them on your own domain
  p.list.list__bottom 3. Get them in front of the press
  p The idea is!{' '}
    span.bold press exposure results in articles
    |!{' '}(and backlinks). And because the projects are hosted on your own domain any “link juice” flows to other pages on your website helping them rank better.
  p Using this strategy Kapwing has pulled in more than!{' '}
    span.bold 480
    |!{' '}unique!{' '}
    a(href="https://raventools.com/marketing-glossary/dofollow-link/" target="_blank") DoFollow
    |!{' '}backlinks. Today they get an estimated!{' '}
    span.bold 1.8M
    |!{' '}organic traffic from Google each month. Fair to say it's mission accomplished.
  h2 Press Exposure?!
  p How do I get my side project in front of the press?
  p Well, the!{' '}
    span.bold direct approach
    |!{' '}is outreach to journalists / bloggers who work in your niche.
  p The!{' '}
    span.bold indirect approach
    |!{' '}is to utilise!{' '}
    a(href="https://producthunt.com" target="_blank") Product Hunt
    | . Journalists browse Product Hunt for article inspiration. So if you do well there you’re rewarded with articles and backlinks.
  p Julia and Eric made use of both techniques. Let's look at an example:
  h2
    a(href="https://www.kapwing.com/cartoonify" target="_blank") Cartoonify
    |!{' '}- An example
  p Back in 2018 a polaroid camera was getting attention for being able to turn photos into cartoon drawings. Eric came across the!{' '}
    a(href="https://github.com/danmacnish/cartoonify" target="_blank") open-sourced code
    |!{' '}and turned it into a simple web app illustrating what would happen if you “cartoonify” an image on your computer.
  p First Eric and Julia launched on!{' '}
    a(href="https://www.producthunt.com/posts/cartoonify" target="_blank") Product Hunt
    | . Then they started emailing all the journalists who wrote about the original, sharing their web-app version.
  p Their reward was!{' '}
    span.bold 100+ new backlinks:!{' '}
    a(href="https://www.theverge.com/2018/7/6/17539798/ai-powered-doodle-camera-quick-draw-dan-macnish" target="_blank") The Verge
    |,!{' '}
    a(href="https://www.makeuseof.com/tag/ai-based-photo-editing-apps/" target="_blank") Make Use Of
    |,!{' '}
    a(href="https://experiments.withgoogle.com/collection/ai" target="_blank") With Google
    |,!{' '}
    a(href="http://resourcemagonline.com/2018/07/let-this-non-sentient-being-sketch-your-photos/91603/" target="_blank") Resource Magazine
    |,!{' '}
    a(href="https://blog.adafruit.com/2019/08/13/draw-this-machine-learning-powered-instant-sketches-machinelearning-diy-ai-raspberrypi-quickdraw-tensorflow-cartoonify/" target="_blank") Adafruit
    |,!{' '}
    a(href="https://www.androidpolice.com/2018/08/03/remember-ai-camera-made-doodles-instead-photos-google-shares-browser-based-version-can-try/" target="_blank") Android Police
    |,!{' '}
    a(href="https://www.neoteo.com/cartoonify-la-ia-que-no-sabe-dibujar-pero-lo-intenta/" target="_blank") Neoteo
    |,!{' '}
    a(href="https://www.ticbeat.com/socialmedia/quieres-ver-como-era-facebook-google-o-amazon-en-sus-inicios/" target="_blank") Ticbeat
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/kapwing2.jpg" alt="Cartoonify: Backlink Review").img__95
  h2 Results
  p In total Kapwing has launched!{' '}
    span.bold ten
    |!{' '}of these side projects. You only have to add together the numbers to see what an effective link building strategy it has been:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/kapwing1.png" alt="Kapwing: Side Project Backlink Review").img__90
  p.list.list__top •!{' '}
    span.bold 15
    |!{' '}days
  p.list •!{' '}
    span.bold 106
    |!{' '}links > 60 Domain Rating (Measure of quality)
  p.list.list__bottom •!{' '}
    span.bold 481
    |!{' '}total links
  p To put in context a guest posting strategy would do well to exceed!{' '}
    span.bold 15
    |!{' '}backlinks in!{' '}
    span.bold 15
    |!{' '}days.
  p I also want to highlight the!{' '}
    span.bold quality
    |!{' '}of these links:!{' '}
    span.bold 106
    |!{' '}from websites with a Domain Rating > 60. We're talking:!{' '}
    a(href="https://www.wired.it/internet/web/2018/01/10/google-snapchat-iphone-video-startup/" target="_blank") Wired
    |,!{' '}
    a(href="https://www.huffpost.com/entry/santa-rosa-fire-3-angelsnot-in-disguise_b_59e65b00e4b0e60c4aa365d2" target="_blank") Huffington Post
    |,!{' '}
    a(href="https://www.theverge.com/2018/7/6/17539798/ai-powered-doodle-camera-quick-draw-dan-macnish" target="_blank") The Verge
    |,!{' '}
    a(href="https://www.mercurynews.com/2017/10/13/before-and-after-the-fire-satellite-photos-of-santa-rosa-neighborhoods/" target="_blank") Mercury News
    | .
  p Arguably, thats the major benefit of an SEO strategy targeting press. If you win, your rewarded with high value links.
  h2 Summary
  p SEO project marketing is an example of!{' '}
    span.bold permissionless leverage
    | .
  p
    span.bold Permissionless
    |!{' '}because any startup can implement it. It doesn't require any capital or a strong domain rating.
  p
    span.bold Leverage
    |!{' '}because it doesn't tie your outputs (backlinks) to your inputs (time). One great idea can yield 100s of backlinks.
  p Contrast this to a guest posting strategy where outputs and inputs are connected:!{' '}
    span.bold 15
    |!{' '}days.!{' '}
    span.bold 15
    |!{' '}guest posts.!{' '}
    span.bold 15
    |!{' '}backlinks.!{' '}
  h2 My own Experiment
  p I’ve decided to give Julia and Eric's strategy a go myself. The past week I've spent building!{' '}
    a(href="/gifs") Startup Gifs
    | : A collection of GIF's to make you laugh and share on Slack.
  p Today, I’m launching it on!{' '}
    a(href="https://www.producthunt.com/posts/startup-gifs-2" target="blank") Product Hunt
    |. The objective is to pull in some backlinks and get Marketing Examples some exposure:
  video(src="https://harrydry.s3.amazonaws.com/gdmarketing/StartupGifs.mp4" class="img__70" playsinline="playsinline" controls="true" preload="auto")