extends ../base

block content
  p
    span.bold How
    |!{' '}you share is just as important as!{' '}
    span.bold what
    |!{' '}you share.
  p In one second someone subconsciously decides whether to engage with your content or to scroll by.
  p These tips are about optimising for that one second:
  h2.under 1) Give people a reason to click
  p Two of the best at this are!{' '}
    a(href="https://twitter.com/stephsmithio" target="_blank") Steph Smith
    |!{' '}and!{' '}
    a(href="https://twitter.com/anthilemoon" target="_blank") Anne-Laure Le Cunff
    | .
    p They'll never “just share” an article. 90% of each tweet is focused on!{' '}
      span.bold building interest
      | :
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/twitter1.png" alt="Anne-Laure Le Cunff Tweet").img__100
  h2.under 2) Don’t waste characters
  p Characters are limited. Don’t waste them rewriting your article title. It’s already visible on your Twitter card.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/twitter2.png" alt="Steph Smith Tweet").img__100
  h2.under 3) Use video to draw attention
  p People are too busy to click your content. But they've got time to retweet a video.
  p So edit a good video, show off your content, and your link gets more attention as a result:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/twitter3.png" alt="Add video to tweet").img__100
  h2.under 4) Your SEO title doesn't need to match your meta title
  p 99% of articles have just one title. But if your SEO title is keyword heavy there's nothing stopping you going for a more engaging social sharing title:
  p.list.list__top • “How!{' '}
    span.bold Jeff Johnson
    |!{' '}sold Nike’s first shoes” - SEO title
  p.list.list__bottom • “How Nike sold its first shoes” - Social sharing title
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/twitter4.png" alt="SEO optimised tweet").img__100
  h2.under 5) A bespoke meta image signals a higher quality article
  p “If they took the time to make an image then it must be good”
  p And it’s less work than you think. Hone one template, then you’re just tweaking the copy / colours for each new article:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/twitter5.png" alt="Batch of meta images").img__100
  h2.under 6) People retweet clean tweets
  p Some people are conscious about what they retweet. My general rule of thumb is to stay away from blue text:
  p.list.list__top • Strip away hashtags
  p.list.list__bottom • Place URL at end of the tweet to hide it
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/twitter6.png" alt="Remove hashtags from tweet").img__100
  p *Edit - I've had some replies saying, “But aren't hashtags necessary for more reach”. Hashtags have merit if you're a running some sort of campaign:!{' '}
    a(href="https://marketingexamples.com/creative/volvo-contest" target="_blank") #VolvoContest
    |!{' '}or!{' '}
    a(href="https://twitter.com/search?q=%23EndAlz&src=typed_query" target="_blank") #EndAlz
    | .
  p But retweets are a far more effective way of increasing reach than hashtags. And excessive hashtags will limit your retweets.
  h2 Summary
  p If you're investing three days in an article it pays to spend an extra ten minutes getting the social sharing right:
  p.list.list__top 1) Use your tweet to build interest
  p.list 2) Don’t waste characters
  p.list 3) Use video to draw attention
  p.list 4) SEO title ≠ Meta title
  p.list 5) Use a bespoke meta image
  p.list.list__bottom 6) People retweet clean tweets
  h2 Appreciation
  p Thank you to!{' '}
    a(href="https://blog.stephsmith.io/" target="_blank") Steph Smith
    |!{' '}for helping with ideas. And no, she didn't recommend her own tweet as the “textbook example!”
