extends ../base

block content
  p
    a(href="https://signal.org/" target="blank") Signal
    |!{' '}is a private messenger app.
  p May 2021. They made Instagram ads to show all the personal data that Facebook sells about you. Facebook banned them. Signal replied with a viral blog post.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl4/nl3a.png" alt="Notion's Evernote comparison page").img__60
  p This is a great example of how to!{' '}
    span.italic pick a fight
    | !{' '} with the!{' '}
    span.italic status-quo
    | .
  p An enemy gives you a story, a wedge, a!{' '}
    span.italic reason to exist
    | . It gets people off the fence. It gets you noticed. Conflict creates interest.
  p
    span.italic Thanks for reading — Harry