extends ../base

block content
  p When I made!{' '}
    a(href="https://marketingexamples.com/inspiration" target="_blank") Copywriting Examples
    |!{' '}the goal was to rank!{' '}
    span.italic #1
    |!{' '}on Google. I need backlinks. So last week...
  p.list.list__top • I texted anyone who'd “interviewed” me in the last two years
  p.list • Asking if they could update the article
  p.list • With a “P.S.” about Copywriting Examples
  p.list.list__bottom • And woke up to seven new links
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl3/nl2b.png" alt="Easy link building").img__100
  p This isn't clever, it's!{' '}
    span.italic obvious
    | . That's!{' '}
    span.italic why
    |!{' '}I'm sharing it.
  p
    span.italic “What obvious thing are we missing?”
    |!{' '}is a better question than!{' '}
    span.italic “What exciting thing could we be doing?”