extends ../base

block content
  p Softsoap partners with singer,!{' '}
    a(href="https://www.tiktok.com/@madilynbailey" target="_blank") Madilyn Bailey
    | .
  p She writes “SoapBop”. A catchy song performed with a Softsoap bottle. And uploads it to TikTok.
  p Creators start copying it.!{' '}
    a(href="https://www.tiktok.com/tag/soapbop" target="_blank") #SoapBop
    |!{' '} now has 1.4B views.
  //- p The song is uploaded to TikTok’s music library. Creators start copying it.!{' '}
  //-   a(href="https://www.tiktok.com/tag/soapbop" target="_blank") #SoapBop
  //-   |!{' '}now has 1.4B views.
  video(src="https://s3.amazonaws.com/harrydry/gdmarketing/soapbop.mp4" class="img__50" controls playsinline="playsinline")
  //- p Why it works?
  p The key is “Soapbop” being uploaded to TikTok’s music library.
  p
    span.bold Firstly
    | , this made it easy for creators to use in their videos.
  //- p
  //-   span Firstly
  //-   | , this makes it dead simple for creators to copy.
  p
    span.bold Secondly
    | , it got Softsoap's branding in every video. The song artwork is their logo. Spinning in the bottom right corner.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/soap1.jpg" alt="Soft Soap Tik Tok").img__70
  p No platform is this truer on than TikTok.
  p.inwardSpeech Nobody watches ads. People watch what entertains them. Sometimes it's an ad — Howard Gossage
  //- p
  //-   span Secondly
  //-   | , no matter what soap TikTok creators use Softsoap get exposure. The song artwork is their logo. Spinning in the bottom right of every video.
  //- h2.under 1) Leverage TikTok's music libary
  //- p Firstly, this made it dead simple for creators to copy.
  //- p Secondly, it gets Soapbop’s branding in every video. The “cover art” is their logo.
  //- //- p On TikTok songs drive trends.
  //- p The key was uploading “Soapbop” to TikTok’s music library.
  //- //- Softsoap didn’t make it about Softsoap. No one goes on TikTok to be advertised to.
  //- h2.under 2) Leverage the TikTok music libary