extends ../base

block content
  p There's two ways people discover content.
  p.list.list__top 1/ By!{' '}
    span.bold searching
    |!{' '}for it!{' '}
    span.italic (blog posts, video tutorials)
  p.list.list__bottom 2/ By people!{' '}
    span.bold sharing
    |!{' '}it!{' '}
    span.italic (podcasts, free tools, visuals, ebooks)
  p Occasionally a piece of content does both. It hits a big keyword!{' '}
    span.italic AND
    |!{' '}it's so awesome people share it. I call this the content marketing sweet spot.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl10/nl3c.png" alt="Four CTA's").img__100
  p
    span.italic — Harry