extends ../base

block content
  p Traditional advertising is!{' '}
    span.bold less
    |!{' '}effective than ever before. It interrupts. It can’t get through ad blockers. We’ve learned to ignore it.
  p Having fans sell your product is!{' '}
    span.bold more
    |!{' '}effective than ever before.
  p Tesla grasp this. They have zero advertising budget. The focus is on!{' '}
    span.bold turning customers into fans
    | . And it's fair to say they've succeeded:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tesla1.png" alt="Graph of Tesla's Subreddit size and Twitter following").img__90
  h2 Authenticity
  p If I had one just one word to summarise Tesla's success it would be!{' '}
    span.bold authenticity
    | . They are unashamedly!{' '}
    span.italic themselves
    | .
  p The car makes!{' '}
    a(href="https://youtu.be/rfB4v-VF7zg?t=139" target="_blank") “fart noises”
    | . Their CEO makes!{' '}
    a(href="https://twitter.com/elonmusk/status/1199723451008704513" target="_blank") memes
    | . And, simultaneously, they have the best engineers in the world working on a solution to the fossil fuel crisis.
  p The result is both
    |!{' '}one of the most!{' '}
    span.bold carefree
    |!{' '}and one of the most!{' '}
    span.bold ambitious
    |!{' '}brands on the planet. It's!{' '}
    a(href="https://www.youtube.com/watch?v=vxRqPmvGlUY" target="_blank") Weasley's Wizard Wheezes
    |!{' '}meets Tony Stark. And the juxtaposition is captivating.
  h2 Controversy
  p If authenticity is how to!{' '}
    span.bold connect
    |!{' '}with an audience, controversy is how to!{' '}
    span.bold multiply
    |!{' '}an audience. And Musk is the master of this:
  p He smokes weed with Joe Rogan, sells flamethrowers, blasts a Tesla into orbit, and then when it’s time to launch a real product!{' '}
    span.bold he’s got our attention
    | .
  p Imagine any other automobile company attracting the world's media to a launch event, smashing two windows, and selling 250k+ units upfront:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tesla2.jpg" alt="Tesla's YouTube fans").img__95
  p.asterix * * *
  p Competitors spend hundreds of thousands of dollars for a 30 second commercial to play during a basketball game.
  p Tesla sit back and watch their fans make these videos for them. An army of YouTubers explaining “Why I bought the new Cybertruck” in a far more sincere way than any commercial could:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tesla3.jpg" alt="Laura Elizabeth Twitter").img__95
  p And the numbers are frightening:
  p.inwardSpeech 6.9M views * 1 / 5000 conversion = 1,380 Cybertrucks
  p That's!{' '}
    span.bold $75M
    |!{' '}revenue. From just 1 video.
  h2.under What can we learn from Tesla?
  p Well, if the best salespeople are your customers perhaps marketing should be a little less about!{' '}
    span.bold attracting eyeballs
    |!{' '}and a little more about!{' '}
    span.bold building relationships
    | .
  p Instead of asking “How many views?” ask yourself “How many fans?”
  p I experienced this on a micro level last week. One organic tweet from!{' '}
    a(href="https://twitter.com/laurium" target="_blank") Laura
    |!{' '}resulted in!{' '}
    span.bold 5x
    |!{' '}as many newsletter sign ups as!{' '}
    span.bold $30
    |!{' '}worth of Facebook ads:
  img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tesla4.png" alt="Marketing Examples Product Hunt").img__75