extends ../base

block content
  p
    a(href="https://www.youtube.com/channel/UCLr9nHPNpj7U3096nEo8Qfg") Max Maher
    |!{' '}runs the Phoenix branch of!{' '}
    a(href="http://www.skinnywimpmoving.com/") Skinny Wimp Moving
    |, a removal company in America.
  p Around!{' '}
    span.bold 5% of sales
    |!{' '}come directly from client referrals. Max wanted to see if he could improve this number. So he started a little experiment.
  p He got together a list of!{' '}
    span.bold 100 previous clients
    |!{' '}and started putting together a package which he would go on to mail to them. Each package included:
  p.list.list__top &#8226; A thank you card
  p.list &#8226; A handwritten letter
  p.list &#8226; A lottery ticket
  p.list.list__bottom &#8226; 5 business cards
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/wimpy1.jpg" alt="Baremetrics Intercom").img__100
  h2 What happened?
  p 9 weeks later the results were in:
  p.list.list__top 1. Sales coming from referrals had shot up by!{' '}
    span.bold 140%
    | !
  p.list.list__bottom 2. This equated to an additional!{' '}
    span.bold $5,200 every month
    |!{' '}in total revenue.
  h2 Why does it work?
  p Well, to quote Max:
  p.inwardSpeech When everyone else is plowing money into Adwords, I think there is an opportunity out there to be a human, build trust, and stand out from the crowd.
  p It's fresh, it's different, it!{' '}
    span.bold gets people talking
    | . And for any regional business that's key. Picture the scene down the pub:
  p.inwardSpeech Tell you what Clive, I got sent a scratch card by this removal company today in the post the other day. Ended up winning 20 quid.
  p Two weeks later:
  p.inwardSpeech Oi Harry, what was the name of that removal company that sent you that scratch card again?
  p It's the perfect of example of how to!{' '}
    span.bold turn your customers into fans
    | . And when they're fans they start selling your own product for you.
  h2 NOD OF APPRECIATION
  p This example is taken from Max's!{' '}
    a(href="https://www.youtube.com/watch?v=0xqr-vKGNso" target="_blank") YouTube video
    | . It's a good watch.