extends ../base

block content
  p January 1983. Apple finish production of their new computer,!{' '}
    span.italic Lisa
    | .
  p They launch it with a nine-page ad in the!{' '}
    span.italic New York Times
    |.
  p It's nine pages of geek speak. Nobody outside NASA is interested. Lisa sells just 10,000 units.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/steve1.jpg" alt="Apple 1983 New York Times ad").img__100
  p Fourteen years later, Steve Jobs returns to Apple.
  p In his first campaign back he reduces nine pages in the!{' '}
    span.italic New York Times
    |!{' '}to!{' '}
    span two words
    |!{' '}on billboards across America:!{' '}
    span.italic Think different
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/steve2.jpg" alt="Apple Think Differnt: Moon landing").img__100
  p There would be no computers in the ads. No technical jargon. No noise.
  p Jobs realised that people don’t buy the best product. They buy the!{' '}
    span.italic best story
    | . So that's what he sold:
  p.inwardSpeech You see greatness. You want to emulate it. Apple is how you get there.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/steve3b.png" alt="Steve Jobs storyteller").img__85
  p It's a simple story. Light on calories. And it stuck.
  p The campaign ran for 5 years. And is credited for turning Apple's fortunes around.!{' '}
    span.italic Think Different
    |!{' '}is still printed on the back of some Apple computers today.
  h2.under Credit
  p Credit to the excellent book!{' '}
    a(href="https://www.amazon.co.uk/Building-Storybrand-Clarify-Message-Customers/dp/0718033329" target="_blank") Building a StoryBrand
    |!{' '}by Donald Miller where this example comes from.
  p If you'd like to learn from one new marketing example each week please do join the!{' '}
    a(href="https://marketingexamples.com/newsletter" target="_blank") email list
    |!{' '}.