extends ../base

block content
  h2.under 1) Write with your eraser
  p You get 100 bucks for every word you rub out from your title:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt1.png" alt="Trello landing page").img__100
  h2.under 2) Don't exaggerate
  p An honest line always feels warmer:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt2.jpg" alt="Volkswagon old ads").img__100
  h2.under 3) No one cares what you can do
  p Everyone cares what you can do!{' '}
    span.italic for them
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt3.jpg" alt="Apple iPod original ads").img__100
  h2.under 4) Avoid the passive voice
  p It's indirect and awkward:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt4.png" alt="Passive voice").img__100
  h2.under 5) Don't kill your personality
  p The best brands feel “real”:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt11a.png" alt="Andie's CEO email").img__100
  h2.under 6) Avoid “landing page words”
  p
    span.italic Unlock
    | ,!{' '}
    span.italic unleash
    | ,!{' '}
    span.italic enhance
    | ,!{' '}
    span.italic exceed
    | ,!{' '}
    span.italic empower
    | ,!{' '}
    span.italic supercharge
    | , etc.
  p Real people don't use them.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt13.png" alt="Frontend mentor copywriting").img__100
  h2.under 7) Find the tension
  p “Pleasant” gets forgotten. Conflict creates interest:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt12d.png" alt="Lemonade landing page copywriting").img__100
  h2.under 8) Write how you talk
  p Casual. Colloquial. Full of pronouns:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt5.png" alt="Basecamps landing page copywriting").img__100
  h2.under 9) Avoid “contained” titles
  p Write something that pulls your reader down your page:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt14.png" alt="Zenbu landing page copywriting").img__100
  h2.under 10) Write scannable copy
  p Formatting matters:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt6.png" alt="Everyone scans Frank Kern").img__100
  h2.under 11) Stories make you memorable
  p I couldn't list The Ten Commandments. I could tell you what happened to Adam and Eve:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt8.png" alt="Adjective and verb tips").img__100
  h2.under 12) More periods, fewer commas.
  p Periods mean short sentences. We like short sentences.
  p Commas mean long, painful sentences, like this one, which!{' '}
    span.italic New Yorker
    |!{' '}writers think are clever, but real people find torturous, because they wind on and on without actually saying anything.
  p h/t!{' '}
    a(href="https://twitter.com/david_perell/status/1250149037837176834" target="_blank") David Perell
  h2.under 13) Kill adverbs. Kill adjectives.
  p They're flowery. They're vague. They try too hard:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt9.png" alt="Adjective and verb tips").img__100
  h2.under 14) Think slippery slide
  p Every line of copy should lead to the next.
  p Watch this ad. You won't be able to stop:
  .yt
    iframe(width='' height='' src='https://www.youtube.com/embed/eXL2YukS6Sc' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  h2.under 15) Fence sitters don't buy
  p Go to the edge:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt7.png" alt="Ernest Shackleton copywriting").img__100
  h2.under 16) Your first line is crucial
  p If people don’t read it, they’re not going to read your second line either.
  p Keep it short:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt10.png" alt="Joe Sugarman copywriting").img__100
  h2.under 17) Copywriting is selling
  p Don’t romanticize it. The goal isn't to be clever or cute.
  p The goal is to inspire action:
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ctt16.png" alt="Drift copywriting").img__100
  h2.under You made it!
  p Damn. This was a long one. I won't lie.
  p If you enjoyed this, you'll like my new project!{' '}
    a(href="https://marketingexamples.com/inspiration") Copywriting Examples
    | . It's the world's best copy. In one place. 330+ handpicked examples. All free.