extends ../base

block content
  p Let’s time travel back to France at the turn of the 20th century. There are two major sports papers in circulation:!{' '}
    a(href="https://en.wikipedia.org/wiki/Le_V%C3%A9lo" target="_blank").bold Le Vélo
    |!{' '}and!{' '}
    a(href="https://en.wikipedia.org/wiki/L%27%C3%89quipe" target="_blank").bold L’Auto
    | . It’s fair to say they don’t get along.
  p Le Vélo has just sued L’Auto for plagiarism. And to make matters worse for L’Auto, its circulation is falling week on week and their financial backers are getting restless.
  p Desperately in need of some fresh ideas, L’Auto calls a crisis meeting.
  p Cycling correspondent Géo Lefèvre suggests organising a three-week-long bike race around the entirety of France. Editor in chief,!{' '}
    a(href="https://en.wikipedia.org/wiki/Henri_Desgrange" target="_blank") Henri Desgrange
    | , likes the idea and three days later L’Auto’s front page announces!{' '}
    span.italic The Tour de France: the greatest cycling trial in the entire world
    | .
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tour1a.jpg" alt="L'Auto announces The Tour de France 1903").img__70
  p For a long time, it looks like Le Tour might be a bit of a disaster. With just a week to go only 15 riders are signed up. Desgrange delays the start date, introduces a 20,000 franc prize purse, and promises to pay the expenses of the first 50 riders who sign up.
  p And it works. At 3:16 P.M. on Wednesday 1st July 1903,!{' '}
    span.bold 60
    |!{' '}riders depart from Cafe au Réveil-Matin in Paris. The 1st stage of Le Tour is underway.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tour7a.jpg" alt="Gazzetta dello Sport announces Il Giro D’Italia").img__80
  p The dramatic writing in L'Auto's daily reports captivates the imagination of the French public. Throughout the 1903 tour L’Auto’s circulation grows from!{' '}
    span.bold 25,000
    |!{' '}to!{' '}
    span.bold 130,000
    |!{' '}and old rival Le Vélo is forced out of business.
  p The coming years see the profile of the tour rise, and with it so does L’Auto’s readership. By!{' '}
    | 1908
    |!{' '}circulation reaches!{' '}
    span.bold 250,000
    | , by!{' '}
    | 1923
    |!{' '}it reaches!{' '}
    span.bold 500,000
    | , and in!{' '}
    | 1933
    |!{' '}it peaks at!{' '}
    span.bold 850,000
    | .
  p To put in perspective that’s nearly double the New York Times current weekday circulation.
  p L’Auto’s meteoric rise doesn’t go unnoticed. Six years after the launch of Le Tour, Italian sports paper,!{' '}
    a(href="https://en.wikipedia.org/wiki/La_Gazzetta_dello_Sport" target="_blank") Gazzetta dello Sport
    |!{' '}organises the first Giro D’Italia and following their success Spanish paper!{' '}
    a(href="https://es.wikipedia.org/wiki/Informaciones" target="_blank") Informaciones
    |!{' '}organises La Vuelta Ciclista a España.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/tour5.jpg" alt="Gazzetta dello Sport announces Il Giro D’Italia").img__90
  p It's quite remarkable really. The three largest cycling stage races in the world today all started as “side projects” hoping to increase readership of their parent newspaper.