extends ../base

block content
  p
    span.italic The Kyiv Post
    |!{' '}and!{' '}
    span.italic The Kyiv Independent
    |!{' '}are both reporting the Ukraine War.
  p
    span.italic The Kyiv Post
    |!{' '}shares article links.
    span.italic The Kyiv Independent
    |!{' '}condenses news into tweets and threads.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl8/nl2b.png" alt="Kyiv Independent Twitter").img__100
  p At the start of the war!{' '}
    span.italic The Kyiv Post
    |!{' '}had!{' '}
    span.bold 10x
    |!{' '}more followers than!{' '}
    span.italic The Kyiv Independent
    | . Today they have!{' '}
    span.bold 5x
    |!{' '}less.
  p Don't redirect people. Be useful on the platform itself. You'll be rewarded.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl8/nl2c.png" alt="Kyiv Independent Vs Kyiv Post on Twitter").img__100
  p
    span.italic — Harry