extends ../base

block content
  p Last year I shared an easy tip to!{' '}
    span.bold increase brand awareness:
  p.list.list__top • Create an Unsplash account
  p.list • Upload images of your product
  p.list.list__bottom • Watch the views pile up
  p One of my subscribers,!{' '}
    a(href="https://twitter.com/MaxNPalmer" target="_blank") Max
    | , works for a!{' '}
    a(href="https://www.towerpaddleboards.com/" target="_blank") paddleboard startup
    | . They had some nice images from photoshoots. So he tried it out.
  p Five months later they've got!{' '}
    span.bold 6M
    |!{' '}views. And!{' '}
    soan.bold 24k
    |!{' '}downloads.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/uns1.jpg" alt="Tower Paddle Board Unsplash").img__100
  p Pretty cool. Here's where it gets interesting.
  p Max realised if people were downloading the images!{' '}
    span they’d also be being used on websites
    | .
  p So he uploads each one to!{' '}
    a(href="https://www.google.com/imghp" target="_blank") Google Images
    | . And finds!{' '}
    span.bold 50
    |!{' '}websites using!{' '}
    span.italic Tower Paddle Board
    |!{' '}photos.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/uns2.png" alt="Find Unsplash images with Google Images").img__100
  p Now, Unsplash images are free to use. There’s no obligation to link. But ask politely and people are happy to help.
  p So, Max sends the following email to each website.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/uns4.png" alt="Link building cold outreach").img__100
  p So far!{' '}
    span.bold eight
    |!{' '}have replied. And!{' '}
    span.bold four
    |!{' '}added backlinks.
  img(src="https://s3.amazonaws.com/harrydry/gdmarketing/uns5.png" alt="Link building cold outreach").img__100
  p To quote Max:
  p.inwardSpeech Four links isn’t exactly monumental, but as a company built through SEO, it's so critical.
  p I like this strategy because it’s!{' '}
    span.bold sustainable
    | .
  p Next month Max's images will be used on a new bunch of sites. He can send another bunch of emails. And pick up another bunch of links.
  p Thanks for reading — Harry
