extends ../base

block content

  p.inwardSpeech One comment with zero likes will win a...
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl14/nl2g.png" alt="Lionel Messi Pubity Giveaway").img__80
  p Hacks two positive engagement metrics: Comments and likes on comments (to stop others winning). I'll let the results speak for themselves.
  p.list.list__top 1/ Signed Messi shirt ⭢!{' '}
    span.italic 574k
    |!{' '}new followers
  p.list 2/!{' '}
    span.italic $400
    |!{' '}phone ⭢!{' '}
    span.italic 5.2M
    |!{' '}views
  p.list.list__bottom 3/ Tesco Meal Deal ⭢!{' '}
    span.italic 136k
    |!{' '}retweets
  p.inwardSpeech — Harry