include ./card
include ./filters
include ./mobfilters
//- include ./ph

mixin home(cards, title, activeFilters, filters, titlenum, displaynone = "")
  .home(class=`${displaynone}`)
    //- +phBase()
    .cegm__top.cegm__top-ph
      a(href="/inspiration")
        //- img(src="https://ik.imagekit.io/o08ysq9vx/cebits/cegLogo.png", alt="Logo")
        img(src="https://ik.imagekit.io/o08ysq9vx/mebits/q1.png", alt="Logo")
      .cegm__top-right
        .cegm__top-right-minus!=icon("cegfilterminus3")
        .cegm__top-right-plus.cegmtr__active!=icon("cegfilterplus1")
        .cegm__top-right-menu.cegmtr__active!=icon("cegmail1")
        .cegm__top-right-menuminus!=icon("cegmail3a")
    .home__left
      //- a.home__left-logo(href="/")!=icon("meLogoBig")
      //- img(src="https://ik.imagekit.io/o08ysq9vx/mebits/me1a.png", alt="Logo" class="home__left-logo")
      //- img(src="https://ik.imagekit.io/o08ysq9vx/mebits/ceg1c.png", alt="Logo" class="home__left-logo")
      //- img(src="https://ik.imagekit.io/o08ysq9vx/mebits/logo1.png", alt="Logo" class="home__left-logo")
      a(href="/")
        img(src="https://ik.imagekit.io/o08ysq9vx/mebits/q1.png", alt="Logo" class="home__left-logo")
      +filters(activeFilters, titlenum)
    .home__right
      .home__right-header
        a.home__right-header-wrap-logoSmall(href="/")!=icon("gmLogoSmall")
        .ceTop__left
          //- img(src="https://ik.imagekit.io/o08ysq9vx/lc/topbar4.svg" alt="Logo" class="topbar")
          .ceTop-mail
            .ceTop-mail-left
              .ceTop-mail-left-icon!=icon("mail")
              input(type="text" placeholder="Get 6 new tips in your inbox every Monday").nh2
              input(autocomplete='off' type='text' name='name' placeholder='Your name here' tabindex="-1").nottoday.nh4
            .nh1.cmtGlitch Yes Please :)
          .nh3
        .ceTop__right
          a(href="https://calendly.com/harrydry/live?month=2023-03" target="_blank").ceTop__right-sign.dropout3 Work with me
          a(href="https://docs.google.com/document/d/1Qw77TlBmqXdFBWCihSvI0S0gQaumKZK_2WS2dx8ok-I/edit?usp=sharing" target="_blank").ceTop__right-sign.dropout3 Sponsor
          a(href="/inspiration").ceTop__right-sign.dropout3 Copywriting Examples
          a(href="https://www.instagram.com/marketing_examples" target="_blank" class="dropout1")!=icon("instagram")
          a(href="https://www.linkedin.com/in/harrydry/" target="_blank" class="dropout1")!=icon("linu")
          a(href="https://twitter.com/goodmarketinghq" target="_blank" class="dropout2")!=icon("tnu")
      .outerCard
        .sponsor.sponsor1
          .sponsor__inner
            a(href="https://www.beehiiv.com/?via=harry-dry" target="_blank")
              img(src="https://ik.imagekit.io/o08ysq9vx/mebits/beehiiv.svg", alt="beehiiv logo")
            .sponsor__inner-p There's tons of newsletter options. Only one is built for growth.
            a.sponsor__inner-button(href="https://www.beehiiv.com/?via=harry-dry" target="_blank") Try beehiiv. First month free.
        .sponsor.sponsor2
          .sponsor__inner
            a(href="https://www.beehiiv.com/?via=harry-dry" target="_blank")
              img(src="https://ik.imagekit.io/o08ysq9vx/mebits/beehiiv.svg", alt="beehiiv logo")
            .sponsor__inner-p Don't have a newsletter? Today that changes. Stop reading. Get writing.
            a.sponsor__inner-button(href="https://www.beehiiv.com/?via=harry-dry" target="_blank") Own your audience with beehiiv
        .sponsor.sponsor3
          .sponsor__inner
            a(href="https://www.beehiiv.com/?via=harry-dry" target="_blank")
              img(src="https://ik.imagekit.io/o08ysq9vx/mebits/beehiiv.svg", alt="beehiiv logo")
            .sponsor__inner-p Includes the largest newsletter ad network in the world. $1.2M paid out last month.
            a.sponsor__inner-button(href="https://www.beehiiv.com/?via=harry-dry" target="_blank") Launch on beehiiv (takes two minutes)
        each card in cards
          +card(card)
      //- .outerLoader
      //-   .loader
    //- mobile layout
    +mobfilters(activeFilters, titlenum)
    //- .hm__filters