include ./card
include ./filters
include ./mobfilters
//- include ./ph

mixin home(cards, title, activeFilters, filters, titlenum, displaynone = "")
  .home(class=`${displaynone}`)
    //- +phBase()
    .cegm__top.cegm__top-ph
      a(href="/inspiration")
        //- img(src="https://ik.imagekit.io/o08ysq9vx/cebits/cegLogo.png", alt="Logo")
        img(src="https://ik.imagekit.io/o08ysq9vx/mebits/q1.png", alt="Logo")
      .cegm__top-right
        .cegm__top-right-minus!=icon("cegfilterminus3")
        .cegm__top-right-plus.cegmtr__active!=icon("cegfilterplus1")
        .cegm__top-right-menu.cegmtr__active!=icon("cegmail1")
        .cegm__top-right-menuminus!=icon("cegmail3a")
    .home__left
      //- a.home__left-logo(href="/")!=icon("meLogoBig")
      //- img(src="https://ik.imagekit.io/o08ysq9vx/mebits/me1a.png", alt="Logo" class="home__left-logo")
      //- img(src="https://ik.imagekit.io/o08ysq9vx/mebits/ceg1c.png", alt="Logo" class="home__left-logo")
      //- img(src="https://ik.imagekit.io/o08ysq9vx/mebits/logo1.png", alt="Logo" class="home__left-logo")
      a(href="/")
        img(src="https://ik.imagekit.io/o08ysq9vx/mebits/q1.png", alt="Logo" class="home__left-logo")
      +filters(activeFilters, titlenum)
    .home__right
      .home__right-header
        a.home__right-header-wrap-logoSmall(href="/")!=icon("gmLogoSmall")
        .ceTop__left
          //- img(src="https://ik.imagekit.io/o08ysq9vx/lc/topbar4.svg" alt="Logo" class="topbar")
          .ceTop-mail
            .ceTop-mail-left
              .ceTop-mail-left-icon!=icon("mail")
              input(type="text" placeholder="Get 6 new tips in your inbox every Monday").nh2
              input(autocomplete='off' type='text' name='name' placeholder='Your name here' tabindex="-1").nottoday.nh4
            .nh1.cmtGlitch Yes Please :)
          .nh3
        .ceTop__right
          //- .ceTop__right-surgery
          //-   a(href="/roast" target="_blank").ceTop__right-sign.dropout3 “Roast My Homepage”
          //-   img(src="https://ik.imagekit.io/o08ysq9vx/roast/new.svg", alt="")
          a(href="/inspiration").ceTop__right-sign.dropout3 Copywriting Examples
          a(href="https://www.instagram.com/marketing_examples" target="_blank" class="dropout1")!=icon("instagram")
          a(href="https://www.linkedin.com/in/harrydry/" target="_blank" class="dropout1")!=icon("linu")
          a(href="https://twitter.com/harrydry" target="_blank" class="dropout2")!=icon("tnu")
      .outerCard
        .sponsor.sponsor1
          .sponsor__inner
            a(href="/roast" target="_blank")
              img(src="https://ik.imagekit.io/o08ysq9vx/roast/rmh.jpg", alt="hubspot logo")
        //- .sponsor.sponsor2
        //-   .sponsor__inner
        //-     a(href="https://www.altalogy.com/?utm_campaign=hdsponsorship&utm_medium=newsletter&utm_source=marketingexamples" target="_blank")
        //-       img(src="https://ik.imagekit.io/o08ysq9vx/roast/roast.svg?updatedAt=1720009557311", alt="beehiiv logo")
        //-     .sponsor__inner-p 1% to 2% conversion. That's 100%. Double growth. For a can of coke and a few hours work.
        //-     a.sponsor__inner-button(href="/roast" target="_blank") “Roast My Homepage” — By Harry Dry 
        //- .sponsor.sponsor3
        //-   .sponsor__inner
        //-     a(href="https://www.altalogy.com/?utm_campaign=hdsponsorship&utm_medium=newsletter&utm_source=marketingexamples" target="_blank")
        //-       img(src="https://ik.imagekit.io/o08ysq9vx/mebits/altalogy.svg", alt="hubspot logo")
        //-     .sponsor__inner-p What do Morning Brew, Vertex, Hustle Fund have in common? 
        //-     a.sponsor__inner-button(href="https://www.altalogy.com/?utm_campaign=hdsponsorship&utm_medium=newsletter&utm_source=marketingexamples" target="_blank") All 8-figures. All designed by Altalogy.
        each card in cards
          +card(card)
      //- .outerLoader
      //-   .loader
    //- mobile layout
    +mobfilters(activeFilters, titlenum)
    //- .hm__filters