mixin men(title, slug, time, activeVid, num, last)
  - var vidActive = activeVid === num ? "zzz__left-module-vid-t-active" : "";
  .zzz__left-module-vid-t
    a(href=`/course10/${slug}` class=`${vidActive}`) #{title}
    span !{' '}(#{time})
    if !last
      |!{' '}-!{' '}

mixin menu(matchingSlug)
  .zzz__left
    img(src="https://ik.imagekit.io/o08ysq9vx/gpt99/dl2.png", alt="" class="zzz__left-toggle")
    img(src="https://ik.imagekit.io/o08ysq9vx/gpt99/lclogo2.svg", alt="" class="zzz__left-logo")
    .zzz__left-module
      .zzz__left-module-head.zzz__left-module-head-first 1. ARE YOU SITTING COMFORTABLY
      .zzz__left-module-vid
        +men("Six hours in London", "six-hours-in-london", "3:04", matchingSlug.id, 1, false)
        +men("My model of the game", "my-model-of-the-game", "3:12", matchingSlug.id, 2, false)
        +men("Why Story & Positioning", "why-story-positioning", "2:44", matchingSlug.id, 3, true)
    img(src="https://ik.imagekit.io/o08ysq9vx/gpt99/dj1.svg", alt="" class="zzz__left-disc")
    .zzz__left-module
      .zzz__left-module-head 2. STORY
      .zzz__left-module-vid
        +men("Setup. Conflict. Resolution.", "setup-conflict-resolution", "3:04", matchingSlug.id, 4, false)
        +men("Storytelling 1", "storytelling-1", "3:12", matchingSlug.id, 5, false)
        +men("Storytelling 2", "storytelling-2", "2:44", matchingSlug.id, 6, false)
    .zzz__left-module
      .zzz__left-module-head 3. POSITIONING
      .zzz__left-module-vid
        +men("The five pieces", "five-pieces", "3:04", matchingSlug.id, 4, false)
        +men("The space you own", "space-you-own", "3:12", matchingSlug.id, 5, false)
        +men("How you win", "how-you-win", "2:44", matchingSlug.id, 6, false)
        +men("Competitive set", "competitive set", "3:04", matchingSlug.id, 7, false)
        +men("Why you", "why-you", "3:12", matchingSlug.id, 8, false)
        +men("All together now", "all-together", "2:44", matchingSlug.id, 11, true)
    img(src="https://ik.imagekit.io/o08ysq9vx/gpt99/dj2.svg", alt="" class="zzz__left-disc")
    .zzz__left-module
      .zzz__left-module-head 4. WHO YOU'RE TALKING TO
      .zzz__left-module-vid
        +men("Match your messaging", "match-your-messaging", "3:04", matchingSlug.id, 12, false)
        +men("Components of Copy", "components-of-copy", "3:12", matchingSlug.id, 13, false)
    .zzz__left-module
      .zzz__left-module-head 5. SEVEN COLOURED PENS
      .zzz__left-module-vid
        +men("Match your messaging", "six-hours-in-london", "3:04", matchingSlug.id, 12, false)
        +men("Com", "six-hours-in-london", "3:12", matchingSlug.id, 13, false)
        +men("Sharpen", "six-hours-in-london", "2:44", matchingSlug.id, 14, false)
        +men("Stitch", "six-hours-in-london", "3:04", matchingSlug.id, 15, false)
        +men("Three rewrites", "six-hours-in-london", "3:12", matchingSlug.id, 16, true)
        +men("Stitch", "six-hours-in-london", "3:04", matchingSlug.id, 15, false)
        +men("Three rewrites", "six-hours-in-london", "3:12", matchingSlug.id, 16, true)
      .zzz__left-module-head 6. WRITING SIMPLY
      .zzz__left-module-vid
        +men("Intro", "six-hours-in-london", "3:04", matchingSlug.id, 12, false)
        +men("Cut", "six-hours-in-london", "3:12", matchingSlug.id, 13, false)
        +men("Sharpen", "six-hours-in-london", "2:44", matchingSlug.id, 14, false)
        +men("Stitch", "six-hours-in-london", "3:04", matchingSlug.id, 15, false)
        +men("Three rewrites", "six-hours-in-london", "3:12", matchingSlug.id, 16, true)
    .zzz__left-module
      .zzz__left-module-head 7. WRITING PERSUASIVELY
      .zzz__left-module-vid
        +men("Three litmus tests", "six-hours-in-london", "3:04", matchingSlug.id, 17, false)
        +men("Visual", "six-hours-in-london", "3:12", matchingSlug.id, 18, false)
        +men("Falsifiable", "six-hours-in-london", "2:44", matchingSlug.id, 19, false)
        +men("Yours", "six-hours-in-london", "3:04", matchingSlug.id, 20, false)
        +men("How to write not like a robot", "six-hours-in-london", "3:12", matchingSlug.id, 21, false)
        +men("Hot 97 Freestyle", "six-hours-in-london", "3:04", matchingSlug.id, 22, true)
    .zzz__left-module
      .zzz__left-module-head 8. WRITING RHYMICALLY
      .zzz__left-module-vid
        +men("Cadence", "six-hours-in-london", "3:04", matchingSlug.id, 23, false)
        +men("Rhetorical", "six-hours-in-london", "3:12", matchingSlug.id, 24, false)
        +men("Three rewrites", "six-hours-in-london", "2:44", matchingSlug.id, 25, true)
    .zzz__left-module
      .zzz__left-module-head 9. WRITING VISUALLY
      .zzz__left-module-vid
        +men("Tools in your bag", "six-hours-in-london", "3:04", matchingSlug.id, 26, false)
        +men("Not quite angel delight", "six-hours-in-london", "3:12", matchingSlug.id, 27, false)
        +men("I like pictures", "six-hours-in-london", "2:44", matchingSlug.id, 28, false)
    img(src="https://ik.imagekit.io/o08ysq9vx/gpt99/dj3a.svg", alt="" class="zzz__left-disc")
    .zzz__left-module
      .zzz__left-module-head 10. LANDING PAGES
      .zzz__left-module-vid
        +men("Three litmus tests", "six-hours-in-london", "3:04", matchingSlug.id, 26, false)
        +men("Visual", "six-hours-in-london", "3:12", matchingSlug.id, 27, false)
        +men("Falsifiable", "six-hours-in-london", "2:44", matchingSlug.id, 28, false)
        +men("Yours", "six-hours-in-london", "3:04", matchingSlug.id, 29, false)
        +men("How to write not like a robot", "six-hours-in-london", "3:12", matchingSlug.id, 30, false)
        +men("Hot 97 Freestyle", "six-hours-in-london", "3:04", matchingSlug.id, 31, true)