include ../home/mixins/home
include ../home/mixins/mail
include ../home/mixins/harry
include ./mixins/card

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/bundle.v5.css')
    link(rel='icon', type='image/png', sizes='32x32', href='https://s3.amazonaws.com/harrydry/gdmarketing/meFav.png')
    meta(name='twitter:site', content='@harrydry')
    meta(property='og:site_name', content='Marketing Examples')
    meta(name='twitter:card', content='summary_large_image')
    meta(property='og:image:height', content='630')
    meta(property='og:image:width', content='1200')
    meta(property='og:type', content='website')
    title #{card.title}
    meta(property='og:title', content=`${card.title}`)
    meta(name='twitter:title', content=`${card.title}`)
    meta(property='og:url', content=`https://marketingexamples.com/${card.tBack}/${card.slug}`)
    link(rel='canonical', href=`https://marketingexamples.com/${card.tBack}/${card.slug}`)
    meta(name='description', content=`${card.desc}`)
    meta(property='og:description', content=`${card.desc}`)
    meta(name='twitter:description', content=`${card.desc}`)
    meta(property='og:image', content=`https://s3.amazonaws.com/harrydry/gdmarketing/cards/${card.img}.jpg`)
    meta(name='twitter:image', content=`https://s3.amazonaws.com/harrydry/gdmarketing/cards/${card.img}.jpg`)
    .iosOverflow.home__outer.pausedatanimation
      .home__outer-side.home__outer-side-left
        #stars.stars-left
        #stars2.stars2-left
      .outerPost
        a(href="/").outerPost__close!=icon("cross")
        article.post
          .popupLoader
            .loader
          +pCard(card)
          .content
            block content
            .undera
              .undera__center
                .undera__center-text Share on
                a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/${card.tBack}/${card.slug}` target="_blank")!=icon("facebook")
                a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/${card.tBack}/${card.slug}&via=GoodMarketingHQ%20&text=${encodeURI(card.title)}` target="_blank")!=icon("twitter")
                a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/${card.tBack}/${card.slug}` target="_blank")!=icon("linkedin")
      +home(cards, activeFilters)
      +mail(subscribePage)
      .home__outer-side.fed__outer-side-right
        #stars.stars-right
        #stars2.stars2-right
  block scripts
    script(src="/dist/bundle4.js")