extends ../home/base
include ../home/mixins/home
include ../home/mixins/mail
include ../home/mixins/cardPopup
include ../home/mixins/harry

block head
  title #{title} Marketing Examples
  meta(property='og:title', content=`${title} Marketing Examples`)
  meta(name='twitter:title', content=`${title} Marketing Examples`)
  meta(property='og:url', content=`https://marketingexamples.com/${filters}`)
  link(rel='canonical', href=`https://marketingexamples.com/${filters}`)
  meta(name='description', content=`A collection of real world ${title} case studies used by successful companies`)
  meta(property='og:description', content=`A collection of real world ${title} case studies used by successful companies`)
  meta(name='twitter:description', content=`A collection of real world ${title} case studies used by successful companies`)
  meta(property='og:image', content=`https://s3.amazonaws.com/harrydry/gdmarketing/cards/coldemail.jpg`)
  meta(name='twitter:image', content=`https://s3.amazonaws.com/harrydry/gdmarketing/cards/coldemail.jpg`)
block content
  .iosOverflow.home__outer
    .home__outer-side.home__outer-side-left
      #stars.stars-left
      #stars2.stars2-left
    +home(cards, title, activeFilters, filters, titlenum)
    +mail()
    +cardPopup()
    .home__outer-side.fed__outer-side-right
      #stars.stars-right
      #stars2.stars2-right
    //- +harry()