p Brand Storytelling 101. You're the guide, not the hero.
p No-one watches TikTok for brand self-adultation. What's the coolest thing you can do with Photoshop,!{' '}
  span.italic without mentioning Photoshop?
p.inwardSpeech
  span.italic “Redesigning signs in New York without anyone asking me to”
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl22a/p1.jpg" alt="Adobe Redesigning Posters TikTok Marketing").img__100.img__caption
p.caption
  a(href="https://www.tiktok.com/@adobe/video/7216403244891770155" target="_blank") 4.2M views
p Story first, product second. That's the recipe. Anyone can do it. Here's three more I wrote. Nothing fancy. Just!{' '}
  span.ns3 A
  |!{' '}to!{' '}
  span.ns1 B
  | .
p.list.list__top • “Day 42!{' '}
  span.ns3 learning Mandarin
  |!{' '}so I can!{' '}
  span.ns1 chat with my Grandma
  |” -!{' '}
  span.italic Duolingo
p.list • “From!{' '}
  span.ns3 stay-at-home
  |!{' '}dad to!{' '}
  span.ns1 software engineer at Apple
  |” -!{' '}
  span.italic Udemy
p.list.list__bottom • “Me and the guy I!{' '}
  span.ns3 met on Club Penguin
  |!{' '}9 years ago!{' '}
  span.ns1 just married
  | !”
p
  span.italic Credit to Jack's!{' '}
    a(href="https://futuresocial.beehiiv.com/" target="_blank") social strategy newsletter
    |!{' '}where I saw this :)
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/ads/adobe` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/ads/adobe&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/ads/adobe` target="_blank")!=icon("linkedin")