p Back in 2017,&nbsp;
  a(href="https://ramptshirts.com/" target="_blank") Ramp
  | &nbsp;sent 50,000 emails to companies hoping to sell some personalised t-shirts.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rampt1.png" alt="Rampt T-Shirts Cold Email").img__85
p I think the best way to illustrate why this email is so good is by contrasting it to what another t-shirt company might send. I will call the fictional t-shirt company:&nbsp;
  span.bold Average America T-Shirts.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/aats.png" alt="Example of a bad cold email").img__85
p Their email is&nbsp;
  span.bold just
  |&nbsp;the “sales pitch” from the Ramp email.
h2 Subject Line
p Firstly, lets compare the subject lines:
p.list.list__top
  span.bold Average America T-Shirts:
  | &nbsp;
  span.italic Looking for personalised t-shirts?
p.list.list__bottom
  span.bold Ramp:
  | &nbsp;
  span.italic I'm wearing a [!Your Company] t-shirt
p Ramp’s&nbsp;
  span.bold gets your attention
  |. Average America’s doesn’t. It’s that simple. An attention grabbing title dictates open rate which is a half the battle.
h2 The Pitch
p Ramp’s email is a great example of how to tee up your “sales pitch”. They begin by acknowledge that:
p.inwardSpeech Nobody likes cold emails...
p I'm a fan of calling out your own cold email. Addressing the elephant in the room head on is the best way to get rid of it.
p Next, you see the photo of Ramp's founder wearing your companies t-shirt. Hopefully they have you chuckling a little here. Whilst your interest is piqued they quickly transition to the “sales pitch”.
p Compare this to Average America T Shirts. There is no&nbsp;
  span.bold tee up
  | . They make the classic mistake on kicking straight off with the “sales pitch” without first getting your attention. This results in a deathly boring email ready for the trash can.
h2 Small criticism
p I do think the bottom half of Ramp’s email drags on too long.&nbsp;
  span.bold Brevity should be a priority
  | &nbsp;when writing cold emails. But hey, I guess it worked for them.
h2 Content Marketing - 2nd Order Benefits
p When you successfully pull of a stunt like this, there's also the 2nd order benefits of all the great content you can produce as a result. Ramp duly wrote an&nbsp;
  a(href="https://ramptshirts.com/blog/2018/01/12/wrote-sent-best-cold-email-ever/" target="_blank") excellent blog
  | &nbsp;about the campaign which was shared so widely it has been translated into&nbsp;
  a(href="https://www.lafabriquedunet.fr/email-marketing/articles/meilleur-email-prospection/" target="_blank") French
  | &nbsp;and German
  | .
p The story of this cold email is the top answer to the&nbsp;
  a(href="https://www.quora.com/Whats-the-best-cold-email-you-have-ever-read" target="_blank") Quora question
  | , "What's the best cold email you have ever read?" and the founder, Neil Cocker, has told this story at conferences and events across four different countries.
p In fact, I wouldn't be surprised if Ramp made more money through circulation of this story than the email campaign itself.
h2 SEO - 3rd Order Benefits
p As you can see the cold email blog pulled in 25 referring domains, more than the rest of Ramp T Shirt's blog combined.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ramp2.png" alt="Rampt T-Shirt Backlinks").img__90
p Lots of high value backlinks, media and social shares will work wonders for Ramp's&nbsp;
  a(href="https://moz.com/learn/seo/domain-authority" target="_blank") domain authority
  | . Particularly useful given the competitiveness of keyword phrase: customised t-shirts.
h2 Bold marketing is underrated
p People are typically blinded to&nbsp;
  span.bold just
  |&nbsp;the direct consequences of a marketing strategy, however, once you begin to analyse the 2nd and 3rd order effects you realise just how tremendously underrated&nbsp;
  a(href="https://marketingexamples.com/viral" target="_blank") viral marketing
  |&nbsp;is.
p In my opinion creative marketing which generates a viral buzz is the high road to great content marketing and huge SEO improvements.
h2 Support
p If you liked the article and want to learn from more!{' '}
  span.bold real world examples
  |!{' '}joining the email list below is really appreciated. Thank You!

.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/sales/ai-email` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/sales/ai-email&via=GoodMarketingHQ%20&text=${encodeURI("The “best sales email ever” from a personalised t-shirt company")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/sales/ai-email` target="_blank")!=icon("linkedin")
