p January 2021. Italian pasta producer Barilla created!{' '}
  a(href="https://open.spotify.com/user/w2p1oq867ns7jele6g3lw66fk") Spotify playlists
  |!{' '}that are the exact length of time it takes to cook different types of pasta.
p.list.list__top 1. 330,000 Spotify followers
p.list 2. 140 media placements
p.list.list__bottom 2M views on!{' '}
  a(href="https://www.tiktok.com/@leahmelle/video/6936573326622002437") TikTok
p Don't get so strangled by data that you forget to have fun.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl7/nl2a.png" alt="TT1").img__100
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/creative/barilla` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/creative/barilla&via=GoodMarketingHQ%20&text=${encodeURI("Barilla's pasta playlists")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/creative/barilla` target="_blank")!=icon("linkedin")
