p The idea is simple. You rent a digital billboard for 24hrs. You write something funny / controversial / clever. You post it on social.
p And because “it's on a billboard, wow!” it goes viral.
p Here's five examples:
p.inwardSpeech.ni
  span.bold a)
  |!{' '}Pieter Levels promoting his remote jobs board on the day Apple announced employees must return to the office.!{' '}
  span.italic 1.5M impressions.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl9/nl1bb.jpg" alt="Pieter Levels Billboard" href="https://twitter.com/levelsio/status/1401649846117830659").img__90
p.inwardSpeech.ni
  span.bold b)
  |!{' '}Twitter showing off celebs who “tweeted their dreams into existence”.!{' '}
  span.italic 132M impressions.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl9/nl1cc.jpg" alt="Twitter Billboard" href="https://twitter.com/Twitter/status/1483427664518164485").img__100
p.inwardSpeech.ni
  span.bold c)
  |!{' '}Adult Swim announcing they're now on HBO.!{' '}
  span.italic 20M impressions.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl9/nl1eea.png" alt="Adult Swim Billboard" href="https://twitter.com/ederfever/status/1499546047684784144").img__90
p.inwardSpeech.ni
  span.bold d)
  |!{' '}Netflix has a billboard they update weekly dedicated to this idea.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl9/nl1aa.jpg" alt="Netflix Billboard" href="https://www.linkedin.com/posts/netflix_this-is-about-as-motivational-as-were-gonna-activity-6849148772665192448-B5_Y").img__100
p.inwardSpeech.ni
  span.bold e)
  |!{' '}One more for luck.!{' '}
  span.italic 12M impressions.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl9/nl1dd.png" alt="Funny Billboard" href="https://twitter.com/bloodberry_tart/status/1429453352258129925").img__90
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/social/billboards` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/social/billboards&via=GoodMarketingHQ%20&text=${encodeURI("I love Billboards designed for social")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/social/billboards` target="_blank")!=icon("linkedin")
