p Insurance company,!{' '}
  a(href="https://www.lemonade.com/" target="_blank") Lemonade
  | , sent a personalised birthday email to loyal customer, Andrew.
p Andrew was touched and thanked them on Twitter:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lemon1.png" alt="Lemonade Insurance customer goodwill").img__100
p Lemonade then followed up with an!{' '}
  span.italic actual birthday cake
  |!{' '} sent to Andrew's workplace:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lemon2.jpg" alt="Lemonade Insurance birthday cake").img__100
p And once again, Andrew thanked them on Twitter.
p It's fair to say Andrew's now a fan for life, but what often goes unnoticed is the!{' '}
  span.bold 2nd order benefits
  |!{' '}of delighting your customers:
p.list.list__top • Andrew’s Twitter followers now think Lemonade is awesome
p.list • Andrew’s co-workers, who all enjoyed a slice of cake, now think Lemonade is awesome
p.list.list__bottom • Matthew Kobach shared this story on Twitter. His 35,000 Twitter followers now think Lemonade is awesome.
p One delicious birthday cake.!{' '}
  |!{' '}Hundreds of new fans.
p That's the power of delighting individual customers.
p
  span.italic Hattip to!{' '}
    a(href="https://twitter.com/mkobach" target="_blank") Matthew Kobach's Twitter
    |!{' '}where I got this one from.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/retention/birthday-cake` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/retention/birthday-cake&via=GoodMarketingHQ%20&text=${encodeURI("Surprising a customer with birthday cake")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/retention/birthday-cake` target="_blank")!=icon("linkedin")
