p Ten years ago Dave Trott drew a triangle on a flipchat and said “every ad needs three things”.
p.list.list__top -!{' '}
  span.ns2 Impact
  | : “You've got to get noticed”
p.list -!{' '} 
  span.ns3 Communication
  | : “You've got to tell me!{' '}
  span.italic what
  | ”
p.list.list__bottom -!{' '}
  span.ns1 Persuasion
  | : “You've got to tell me!{' '}
  span.italic why
  | ”
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl29a/be1a.jpg" alt="Dave Trott Drawing on a Flipchart").img__100
p Most ads just do the “communication” part.
p.list.list__top - “We're a brand agency”
p.list.list__bottom - “No s***. I just googled that”
p Look what happens when you do all three.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl29a/be1.png" alt="Bou's Display Ad").img__100
p 
  a(href="https://www.linkedin.com/in/jesse-korhonen/") Jesse from Bou
  |!{' '}tells me it's their best performing ad.
  span.italic — Harry
