p Five lessons. Read!{' '}
  a(href="https://www.getscrapbook.com/saas-teardowns/reddit-ads-masterclass" target="_blank") the full ad
  |!{' '}in all it's glory.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl20/n4.png" alt="The most upvoted Reddit ad of all time").img__100.img__caption
p.caption Credit!{' '}
  a(href="https://www.getscrapbook.com/saas-teardowns/reddit-ads-masterclass" target="_blank") Scrapbook
  |!{' '}where I saw this!{' '}
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/ads/caliber` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/ads/caliber&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/ads/caliber` target="_blank")!=icon("linkedin")