p This week I read an!{' '}
  a(href="https://twitter.com/nathanbarry/status/1482374302414426116" target="_blank") excellent thread
  |!{' '}from Nathan Barry explaining how he used direct sales to grow his email marketing platform. Here's four lessons:
h2.slab.bg1 1/ Start with a niche
p When Convert Kit launched it was!{' '}
  span.italic just
  |!{' '}for bloggers.
p There's a big difference between “want to try this random new tool?” and “want to try this new tool!{' '}
  span.italic made specifically for people like you?”
h2.slab.bg2 2/ Don't sell, ask about frustrations
p Here's Nathan's first email.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl3/nl1a.png" alt="Nathan Barry Sales Email").img__80
p He'd then offer a call to help people through their frustrations and show off Convert Kit.
h2.slab.bg3 3/ Remove the biggest objection
p Most calls would end with “Sounds great but switching is a hassle...” So Nathan offered to!{' '}
  span.bold migrate customers for free
  | .
p Forms, sequences, templates. One by one.
h2.slab.bg4 4/ Always ask for referrals
p Once one blogger was set up Nathan would ask for intros to others.
p It's 10x easier to persuade a!{' '}
  span.italic friend's friend
  |!{' '}than it is to persuade a!{' '}
  span.italic stranger
  | . Soon referrals drove as many leads as cold outreach.
p.asterix * * *
p Today, Convert Kit makes $29M/yr. To quote Nathan,
p.inwardSpeech “My rate was $5/hr. But you do things that don't scale. Because that enables channels that do scale.”
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/sales/convert-kit` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/sales/convert-kit&via=GoodMarketingHQ%20&text=${encodeURI("How Convert Kit grew from $1.5k to $100k MRR")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/sales/convert-kit` target="_blank")!=icon("linkedin")
