p Conversational copy is!{' '}
  span.italic writing how you talk.
p No sales megaphone. No business speak.
p But that's easier said than done. So I've put together this guide:
h2.under 1/ Don't write!{' '}
  span.italic AT
  |!{' '}the reader
p Involve the reader in your copy.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con6.jpg" alt="Dave Harland copywriting").img__100
h2.under 2/ Use your customers' words
p It's the easiest way to get the tone right.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con10.png" alt="Use your customer's words").img__100
h2.under 3/ Load up on personal pronouns
p People pay attention when!{' '}
  span.bold you
  |!{' '}talk directly to them.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con2.png" alt="Personal pronounds in copywriting").img__100
h2.under 4/ Don't worry about grammar
p If you break the rules you’ll sound human.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con3.png" alt="Wendy's Twitter copywriting").img__100
h2.under 5/ Start sentences with conjunctions
p It flows better.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con5.png" alt="Conjunctions in copywriting").img__100
h2.under 6/ Don't persuade
p Let the reader!{' '}
  span.italic be persuaded
  | .
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con7.png" alt="Persuasive copywriting").img__100
h2.under 7/ Use contractions
p Only academics say “you are”.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con1.png" alt="Contractions in copywriting").img__100
h2.under 8/ Don't imitate
p.inwardSpeech You're alive in inverse proportion to the density of cliches in your writing — Nassim Taleb
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con12.png" alt="Don't imitate copywriting").img__100
p
  span.italic h/t!{' '}
    a(href="https://www.madisontaskett.com/lazy-bastard-productivity/" target="_blank") Madison Taskett
h2.under 9/ Ditch the thesaurus
p You're not impressing anyone.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con4.png" alt="Plain English copywriting").img__100
h2.under 10/ Empathise
p Understanding your customer is more important than impressing them.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con8.png" alt="Design Academy copywriting").img__100
h2.under 11/ Respect the competition
p It reflects self-confidence.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con9.png" alt="Drift v Intercom copywriting").img__100
h2.under 12/ Don’t try too hard
p Customers can see through fake shit.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con13.png" alt="Dave Gerhardt copywriting").img__100
h2.under 13/ Tell stories
p They’re more memorable than facts and figures.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con11.png" alt="Innocent copywriting").img__100
h2.under 14/ Read it aloud at the kitchen table
p If your partner cringes, re-write it.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/con14.png" alt="Ahrefs copywriting").img__100
h2.under That's all folks!
p Before I go, I want to credit!{' '}
  a(href="https://twitter.com/wordmancopy" target="_blank") Dave Harland
  | . A few of these were straight out of his playbook. He shares great tips on!{' '}
  a(href="https://www.linkedin.com/in/daveharland/" target="_blank") LinkedIn
  | . Check him out!
p If you enjoyed this, you'll like my new project!{' '}
  a(href="https://marketingexamples.com/inspiration") Copywriting Examples
  | . It's the world's best copy. In one place. 330+ handpicked examples. All free.
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/conversational/copywriting` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/conversational/copywriting&via=GoodMarketingHQ%20&text=${encodeURI("My guide to conversational copywriting")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/conversational/copywriting` target="_blank")!=icon("linkedin")
