h2.under 1) Use value-based messaging
p Talk less about your!{' '}
  span.bold product!{' '}
  |!{' '}and more about the!{' '}
  span.bold value
  |!{' '}your product brings. People don’t want a!{' '}
  span.bold better toothbrush
  | . They want a!{' '}
  span.bold brighter smile
  | :
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc1.jpg" alt="Value-based messaging").img__80
h2.under 2) Get specific
p Landing page copy is full of unfalsifiable, blanket claims: “more, easier, faster ...”
p If you want to stand out!{' '}
  span.bold get specific
  | . You can’t bullshit specifics:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc5.png" alt="Get specific in copywriting").img__85
h2.under 3) Call out the type of customer you serve
p People pay attention when they know something is specifically!{' '}
  span.bold for them
  | :
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc6.png" alt="Call out the type of customer you serve").img__75
p.inwardSpeech “What? Loads of authors are using this. I’m an author. Maybe I should be too ...”
h2.under 4) Think “Call-to-value” not “Call-to-action”
p Buttons which amplify!{' '}
  span.bold “value”
  |!{' '}over!{' '}
  span.bold “action”
  |!{' '}usually perform better. “Create Your Website” is more enticing than “Sign up now”:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc7.png" alt="Call-to-value").img__70
h2.under 5) Write for one reader
p You're not talking to!{' '}
  span.bold 1000 people
  | . You're talking to the!{' '}
  span.bold single person
  |!{' '}reading your page. So write like it.
p An informal tone and addressing your users personally (“you”) makes a big difference:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc9.png" alt="Podia's Intercom message").img__85
h2.under 6) Break long blocks of text into appetising chunks.
p Better converting copy is as much about!{' '}
  span.bold repackaging
  |!{' '}as it is!{' '}
  span.bold rewriting
  | .
p The 2019 human mind prefers “3 simple steps” to “two long paragraphs”:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc2.png" alt="3 simple steps copywriting").img__80
h2.under 7) Use your customers' voice
p Your copy should read like your customer wrote it.
p Compare the feature page of!{' '}
  a(href="") Etsy
  |!{' '}and!{' '}
  a(href="") Amazon Handmade
  |!{' '}(two competitors in the handcrafted e-commerce space):
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc3a.png" alt="Use your customers' voice").img__90
p Etsy's voice reflects their customers independence, creativity and imagination. Amazon’s voice sounds like their accounts department:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/cc3b.png" alt="Use your customers' voice copywriting").img__70
h2 Summary
p So there we go:
p.list.list__top 1) Use value-based messaging
p.list 2) Get specific
p.list 3) Call out the type of customer you serve
p.list 4) Think “Call-to-value” not “Call-to-action”
p.list 5) Write for one reader
p.list 6) Break long blocks of text into appetising chunks
p.list.list__bottom 7) Use your customers' voice
h2 That's all folks
p If you enjoyed this, you'll like my new project!{' '}
  a(href="https://marketingexamples.com/inspiration") Copywriting Examples
  | . It's the world's best copy. In one place. 330+ handpicked examples. All free.

.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/copywriting/conversion` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/copywriting/conversion&via=GoodMarketingHQ%20&text=${encodeURI("7 practical ways to write copy that converts")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/copywriting/conversion` target="_blank")!=icon("linkedin")
