//- p March 24. Popular Instagram account!{' '}
//-   a(href="https://www.instagram.com/dudewithsign/" targe="_blank")
//-     span.italic DudeWithSign
//-   |!{' '}takes aim at home workout videos. Us Weekly shares the post:
p March 24. Popular Instagram account!{' '}
  a(href="https://www.instagram.com/dudewithsign/" target="_blank")
    span.italic DudeWithSign
  |!{' '}holds up a sign reading, “stop posting your home workouts”.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cp1.jpg", alt="New Balance").img__60
//- p March 26. Beachbody’s CEO fires back, rallying his followers to,!{' '}
//-   span “do your home workout with pride”
//-   |!{' '}and!{' '}
//-   span “hold up your signs”
//-   |!{' '}this Saturday.
p Beachbody is a home workout company.
p 48 hours later, their CEO,!{' '}
  a(href="https://www.instagram.com/p/B-ND2L9DD1x/" target="_blank") Carl Daikeler
  | , responds with his own sign reading, “keep posting your home workouts (you're inspiring people)”.
p Carl then rallies his followers to hold up their own signs on Saturday:
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cp2.png", alt="New Balance").img__100
p Saturday comes round. Thousands join in with Carl's protest. And Beachbody gets a load of free publicity:
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/cp3a.jpg", alt="New Balance").img__100
p Why does it work?
p The secret ingredient is!{' '}
  span.bold conflict
  | .
p Without!{' '}
  span.italic DudeWithSign
  |, Carl's campaign is a movie with just the good guy. There’s no story. No one cares about shiny happy people.
p Opposing forces create energy. And Carl leverages that.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/social/counterpunch` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/social/counterpunch&via=GoodMarketingHQ%20&text=${encodeURI("Counterpunch like Carl")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/social/counterpunch` target="_blank")!=icon("linkedin")
