p
  a(href="http://tadabase.io/" target="_blank") Tadabase
  |!{' '}is a no-code startup looking to raise money.
p Their CEO, Moe Levine, was a fan of investor!{' '}
  a(href="https://en.wikipedia.org/wiki/Mark_Suster" target="_blank") Mark Suster
  | . So he set up some Google ads targeting Suster’s name, reminding him that he's yet to invest in no-code startups:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/suster1.png" alt="Mark Suster Tadabase Ad").img__95
p Levine had read that Suster used Google Alerts to track mentions of his own name. So in theory he'd see the ad.
p As it happened, Product Hunt's founder, Ryan Hoover, beat him to it:
blockquote.twitter-tweet
  p(lang='en' dir='ltr') Love it! Just checked out the website
  | &mdash; Mark Suster (@msuster)
  a(href='https://twitter.com/msuster/status/1238604502808137730?ref_src=twsrc%5Etfw') March 13, 2020
script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
p Suster saw Hoover's tweet and immediately contacted Levine to set up a call.
h2.under Creative marketing is underrated
p I'm sure Levine could have tracked down Suster's email. But then he'd be one of a hundred other emails sitting in his inbox.
p The extra effort Levine took!{' '}
  span.bold signalled
  |!{' '}he was someone worth talking to.
p He skipped the queue. And was also rewarded with a write up in!{' '}
  a(href="https://techcrunch.com/2020/03/14/this-startup-got-a-meeting-with-mark-suster-by-getting-clever-with-google-ads/" target="_blank") TechCrunch
  | .
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/ads/creative-google-ad` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/ads/creative-google-ad&via=GoodMarketingHQ%20&text=${encodeURI("How a creative Google ad got an investor's attention")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/ads/creative-google-ad` target="_blank")!=icon("linkedin")
