p “Cron jobs” are what developers write to schedule tasks. They're hard to remember. So!{' '}
  a(href="https://cronitor.io/" target="_blank")
    span.italic Cronitor
  |!{' '}made a little side project to help.
p Developers search “Cron job every [time interval]”. And!{' '}
  a(href="https://crontab.guru/" target="_blank")
    span.italic Crontab
  |!{' '}(the little side project) gives you the code to copy and paste. Lovely.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl4/nl2f.png" alt="Crontab Guru SEO").img__90
p Now, there's 100's of possible time intervals (meaning 100's of possible keywords).!{' '}
  span.italic Crontab
  |!{' '}has a new page for every single one.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl4/nl2d.png" alt="Crontab Guru Search Volumes").img__90
p It's a ridiculously simple site. Pulling in
  span.italic 120k organic traffic/mo
  | . Lightly promoting their paid tool.
p How to replicate? Well, you're looking for:
p.inwardSpeech A group of!{' '}
  span.bold similar questions
  | . That your customers are googling. That you can answer with!{' '}
  span.bold one template.
p
  span.italic h/t!{' '}
    a(href="https://twitter.com/PierreDeWulf") Pierre de Wulf
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/seo/cronitor` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/seo/cronitor&via=GoodMarketingHQ%20&text=${encodeURI("Cronitor's Little Side-Project")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/seo/cronitor` target="_blank")!=icon("linkedin")
