p Nothing to add.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl10/nl4.png" alt="Four CTA's").img__100.img__caption
p.caption h/t!{' '}
  a(href="https://twitter.com/VikkiRossWrites" target="_blank") Vikki Ross
  |!{' '}&!{' '}
  a(href="https://twitter.com/jasonfried" target="_blank") Jason Fried
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/copywriting/cta` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/copywriting/cta&via=GoodMarketingHQ%20&text=${encodeURI("Four ways to write a CTA")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/copywriting/cta` target="_blank")!=icon("linkedin")
