p The best copy reads like your customers wrote it.
p In the case of!{' '}
  a(href="https://www.designacademy.io/" target="_blank") Design Academy
  |, this is quite literally the case. On sign up you get sent an email asking “what is your biggest frustration with design?”
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/da1.png", alt="Design Academy email").img__75
p The answers are then saved in one big Google sheet:
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/da2.png", alt="Design Academy Google Sheets").img__90
p This means when it comes to writing landing page copy Design Academy don't have to guess. They know exactly who their customer is, the language they use and the pain points they want solved.
p Instead of writing!{' '}
  span.bold “catch-all” copy
  |!{' '}they can write
  span.bold  specific copy
  |!{' '}talking directly to their customer:
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/da.png", alt="Design Academy before and after copy").img__85
p Take the following paragraphs for example:
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/da3.png", alt="Design Academy Copywriting").img__75
p To quote!{' '}
  a(href="https://twitter.com/laurium" target="_blank") Laura
  |!{' '}from Design Academy:
p.inwardSpeech We didn’t write that. Our customers wrote that. It was a recurring statement that we heard over and over and over again. All we did was listen.
p Copywriting doesn't require!{' '}
  span.italic the perfect line
  |!{' '}or a!{' '}
  span.italic flash of inspiration
  | . Just ask your customers questions and let them do the work for you.
h2 Nod of Appreciation
p This example comes from an excellent!{' '}
  a(href="https://www.designacademy.io/writing-copy-part-1/" target="_blank") blog post
  |!{' '}Laura Elizabeth wrote on how to write landing page copy.
h2 Support
p If you'd like more real world marketing examples joining the!{' '}
  a(href="https://marketingexamples.com/newsletter") email list
  |!{' '}is appreciated.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/copywriting/customers` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/copywriting/customers&via=GoodMarketingHQ%20&text=${encodeURI("Let your customers write your copy for you")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/copywriting/customers` target="_blank")!=icon("linkedin")
