p The story starts in California. 1981.
p Charlie Munger hires Chet Holmes to sell magazine ads. He's given a list of 2,200 potential advertisers and a bunch of flyers.
p Chet doesn’t send one flyer.
p Instead he backorders hundreds of issues of competitor magazines. And  realises 167 companies are responsible for 95% of all ad sales.
p So Chet ditches the list and goes all-in on!{' '} 
  span.italic the 167
  | . Free gifts, lunches, dog-eared determination.
p A few months later Xerox order!{' '} 
  span.italic 104
  |!{' '}full-color spreads. “The biggest deal in the history of the industry”.
p In three years Chet takes the magazine from 16th in the market to double their closest competitor. At this point Munger calls him into his office.
p.inwardSpeech “Now Chet. In all my years, I’ve never seen anybody double sales three years in a row. Are you sure we’re not lying, cheating, and stealing?”
p He wasn't. The Dream 100 was born.
p.inwardSpeech “Write down your dream 100 clients. Do anything you can to win them.”
p I've seen hand-delivered briefcases, carrier pigeons, gifted typewriters, watercolor art, YouTube call-outs, fedexed phones that “will ring at 3pm”.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl28a/gn4.jpg" alt="Dream 100 Examples").img__100
p When you're negotiating with millionares nothing is off the table. Let me tell you the Walt Batansky story...
p So Walt's CFO at Avocat. For months the sales team have been going after a publically traded medical company. Crickets and tumbleweed.
p Walt reads in the Wall Street Journal that they're having a shareholders meeting a month out. So he buys 100 shares ($6 each).
p That gets him an invite and he flies to their headquarters in Jacksonville, FL.
p The presentation ends, a receiving line forms, the CEO works his way down, Walt sense his moment.
p.inwardSpeech “I'm a shareholder, I've reviewed your annual report, and I'm convinced I can show you how to save several million dollars on real estate”
p The CEO is taken aback. But gives Walt the name of their executive who handles properties. Walt calls. “Your CEO put me in touch”.
p The entire sales team are invited to present. They become Avocat's single largest account overnight.
p Sources:!{' '} 
  a(href="https://www.amazon.com/Ultimate-Sales-Machine-Turbocharge-Relentless/dp/1591842158") Chet's book
  | ,!{' '}  
  a(href="https://www.youtube.com/watch?v=Vvzqb9r9Otk") his keynote
  | ,!{' '}  
  a(href="https://www.nutshell.com/blog/crazy-sales-stories") Nutshell's sales blog
  | .
p
  span.italic Thanks for reading — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/sales/dream-100` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/sales/dream-100&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/sales/dream-100` target="_blank")!=icon("linkedin")
