p My dad runs a small!{' '}
  a(href="https://www.maximizeyourpotential.co.uk/" target="_blank") study skills company
  |!{' '}in the UK.
p It's an old-school business. Up until last year, the only marketing he's ever done was sending flyers to schools. But, over time, flyers had stopped working so well, so he started thinking about running digital ads.
p One of his friends was raving about Facebook. So he began recording testimonials with teachers and putting them out as Facebook ads:
video(src="https://s3.amazonaws.com/harrydry/gdmarketing/dad1.mp4" class="img__65" playsinline="playsinline" preload="auto" controls="controls")
p The return was awful. But it didn't deter him. He started watching YouTube videos, signing up for webinars, and even bought an online course.
p Two months later he got his first sale. The ads still weren't close to being cost-effective.
//- p I mentioned that he should try out other ad platforms. Instead, he went deeper into Facebook.
//- p He watched YouTube videos, signed up for webinars, and even bought an online course. The ROI slowly improved, but it still was far from cost-effective.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/dad1b.png" alt="Marketing Examples Product Hunt").img__50
//- p.asterix * * *
p Dad remained adamant Facebook would come good. Every time I called he would tell me about another idea for a new campaign:
//- p Dad remained adamant Facebook would come good. Every time I called he would tell me about his latest revelation:
p.inwardSpeech I've got the pixel firing... We need a lookalike audience... It's all about the relevancy score...
p Now, my dad is 58 years old. He has an old brick for a phone and thinks “emojis” are a Caribbean fruit. It was inspiring seeing him so far out his comfort zone, but I can't say I agreed with his approach.
//- p Now, my dad is 58 years old. He has an old brick for a phone and thinks “emojis” are a Caribbean fruit. It was inspiring seeing him so far out his comfort zone, but his approach reminded me of that quote “To a worm in horseradish, the whole world is horseradish”.
p “How do you know Facebook is!{' '}
  span.italic the best
  |!{' '}way of getting in front of teachers?” I asked.
p “What do you mean?”
p “Well, you haven't tried any other platforms. So how do you know Facebook is this holy grail?”
//- p “Well, imagine you're on a quest to make the perfect bowl of soup. You don't try and finesse one recipe straight away. First, you experiment with lots of different flavours. Then, only when you know what works, do you perfect it.
//- p “Well, imagine you're on a quest to make the perfect bowl of soup. You don't try and finesse one recipe straight away. You experiment with lots of different flavours. Then, only when you know what works, do you perfect it.
//- p “Imagine you're a caveman on a quest to make the perfect stew. You don't try and finesse one recipe straight away. First, you experiment with lots of different ingrediants: plants, bark, oxtail ... Then, only when you knows what works, do you start perfecting it.
p To Dad's credit, he took my point onboard. He got stuck into Twitter ads, Google ads, and even sponsored a teacher's conference.
//- p It took a while for my advice to sink in. But to his credit, a few months later he was testing ads on Twitter, Google, and he even sponsored a teacher's conference.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/dad3.jpg" alt="Marketing Examples Product Hunt").img__80
p The Google ads bombed. His first attempt on Twitter performed better than six months of “perfecting” on Facebook. But, the conference was the real success. In just one day it pulled in more than a month's revenue.
p Big up yourself, Dad.
//- p And I'm proud. This is a fifty-eight year old man with an old brick for a phone, who thinks “emojis” are a Caribbean fruit. He sat on YouTube, taught himself how to run different types of ads, and is doing a better job than most agencies. If he can do it, so can you.
//- p My dad is fifty-eight years old. He has an old brick for a phone and thinks “emojis” are a Caribbean fruit. He sat on YouTube, taught himself ads, and is doing a better job than most agencies.
h2.under The moral of the story
//- p.asterix * * *
//- p There is no “best” way to advertise. Every product is different. Every audience is different.
p A little knowledge is a dangerous thing.
//- p A little knowledge is a dangerous thing. Any marketer tied to one idea will spend six months going from “A” to “B”.
p Any marketer tied to one idea will spend six months going from “A” to “B”. Only the one who assumes nothing finds “X“, “Y“ and “Z“.
p The foolproof approach is to assume you're a fool.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/dad2a.png" alt="Marketing Examples Product Hunt").img__100
p Try lots of quick experiments with different platforms. The pattern to replicate is:
p  - - - - - | - - - - | - | - - - -
p where a dash represents a!{' '}
  span.bold small loss
  |!{' '}and a straight line a!{' '}
  span.bold new discovery
  | . Then, when you find what works, hone it.
h2.under And finally
p When running ads you want to make sure you're measuring!{' '}
  span conversions
  |, not!{' '}
  span clicks
  |. Clicks are!{' '}
  span.bold noise
  | . Conversions are!{' '}
  span.bold signal
  | .
//- p A conversion is someone buying your product. A click just means they've hit your landing page.
p Facebook would consistently drive the cheapest clicks to my dad's site. But it wasn’t the right type of “click”. None of them were interested in buying.
p *!{' '}
  a(href="https://neilpatel.com/blog/track-conversions-with-google-analytics/" target="_blank") This article
  |!{' '}is a good intro to conversion tracking in Google Analytics.
p ** A simple proxy for conversions is “
  a(href="https://www.optimizesmart.com/read-average-session-duration-google-analytics/" target="_blank") session duration
  | ”. If most of your traffic is bouncing after a few seconds it’s probably the wrong!{' '}
  span.italic type
  |!{' '}of traffic.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/seo/long-tail-keywords` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/seo/long-tail-keywords&via=GoodMarketingHQ%20&text=${encodeURI("How Nomad List dominates longer tail keywords")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/seo/long-tail-keywords` target="_blank")!=icon("linkedin")