p In the early 90's Gillette started posting free shaving kits to men to celebrate their 18th birthday.
p The idea was simple —!{' '}
  span.italic Hook men at the age they decide their shaving brand for life.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl5/nl2b.jpg" alt="Gilette's 18th birthday shaving kits").img__100
p Let's do some rough maths:
p.inwardSpeech 90% of men pay no attention. 10% get hooked on Gillette. And spend $40/yr on replacement blades for the next 10 years.
p.inwardSpeech That's an average return of!{' '}
  span.bold $40
  |!{' '}(10% * $40 * 10 yrs). On a gift that costs $10 to post.
p Gillette post two million a year. $80M revenue. $60M profit.
p.inwardSpeech “Give 'em the razor, sell 'em the blades”. — King Camp Gillette
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl5/nl2q.png" alt="Gilette's free shaving kits marketing").img__100
p
  span.italic Thanks for reading — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/referral/gillette` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/referral/gillette&via=GoodMarketingHQ%20&text=${encodeURI("A simple idea that’s makes Gillette $60M/yr")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/referral/gillette` target="_blank")!=icon("linkedin")