p Ask a marketer, “How does my product grow?” They'll reply:
p.inwardSpeech Ads, affiliates, sales, social, yada yada yada
p They’re describing top-down growth. Your classic funnel. Pour more in. Get more out. Here’s the problem.
p.list.list__top • Acquiring new customers from scratch is hard
p.list • Funnels flow in one direction
p.list.list__bottom • Growth is linear
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1a.png" alt="Growth Funnels v Growth Loops ").img__100
//- p The!{' '}
//-   span.italic best growth
//-   |!{' '}is less about!{' '}
//-   span.italic pouring into a funnel
//-   | . More about!{' '}
//-   span.italic creating loops
//-   | . Loops feed themselves.
p The!{' '}
  span best marketers
  |!{' '}think less about!{' '}
  span.italic funnels
  | . More about!{' '}
  span.italic loops
  | .
p Loops feed themselves. The!{' '}
  span.bold actions
  |!{' '}of one user create an!{' '}
  span.bold output
  |!{' '}which create a!{' '}
  span.bold new user
  | .
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1b.png" alt="Growth Loops").img__100
p Lets look at some examples.
h2.under 1) Personal viral loop
p Some products improve with more users. So there's a personal incentive to invite new users.
p
  span.italic e.g. Fantasy football, Slack, Trello
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl1.png" alt="Viral loop").img__100
h2.under 2) Financial viral loop
p Some products have!{' '}
  span financial incentives
  |!{' '}to invite new users.
p
  //- span.italic e.g. Dropbox's 16GB, PayPal's $5, Tesla's 1000 miles
  span.italic e.g. Dropbox, PayPal, Tesla
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl2.png" alt="Dropbox's referral viral loop").img__100
h2.under 3) Social viral loop
//- p Some products are so good, you want to share them.
p Some products are so good, people just like talking about them.
p
  span.italic e.g. DoubleTree, Stripe, Game of Thrones
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl3.jpg" alt="Word of mouth loop").img__100
h2.under 4) User generated content loop
p Some products leverage users content to grow their own organic traffic.
p
  span.italic e.g. Quora, Reddit, Stack Overflow
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl4.png" alt="User generated content loop").img__100
h2.under 5) Physical content loop
p Some products attract new users simply by being noticeable. Lime's bright green is not a coincidence.
p
  span.italic e.g. Lime, Square, ChargedUp
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl5.jpg" alt="Lime Bikes marketing strategy").img__100
h2.under 6) Supply-side content loop
p Some products incentivise users to promote their content for them.
p
  span.italic e.g. Meetup, ProductHunt, Typeform, SurveyMonkey
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl6.png" alt="Meetup's marketing strategy").img__100
h2.under 7) Embedded loop
p Some products grow by embedding themselves on other platforms.
p
  span.italic e.g. Trustpulse, Intercom, Algolia
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/gl7.png" alt="Embedded Growth Loops").img__100
p.asterix * * *
p Most people think you build the product!{' '}
  span.bold then
  |!{' '}you market it. Thinking in loops means you build the marketing!{' '}
  span.bold into
  |!{' '}the product.
p The product doesn't precede the marketing. The product!{' '}
  span.bold is
  |!{' '}the marketing.
p Thank for reading, Harry
p
  span.italic Sent from my iPhone
h2.under Credit
p Big credit here to!{' '}
  a(href="https://www.reforge.com/blog/growth-loops" target="_blank") Brian Balfour
  |!{' '}and!{' '}
  a(href="https://firstround.com/review/pinterest-and-grubhubs-former-growth-lead-on-building-content-loops/" target="_blank") Casey Winters
  |!{' '}from!{' '}
  a(href="https://www.reforge.com/" target="_blank") Reforge
  | .
p They've written a load of great stuff on this topic. This is my summary. If you want to go into the finer details they run a 6 week program on!{' '}
  a(href="https://www.reforge.com/advanced-growth-strategy-series" target="_blank") Advanced Growth Strategy
  | .
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/referral/growth-loops` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/referral/growth-loops&via=GoodMarketingHQ%20&text=${encodeURI("Growth loops")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/referral/growth-loops` target="_blank")!=icon("linkedin")
