p Chicago, 2004. The food delivery service,!{' '}
  a(href="https://grubhub.com/" target="_blank") Grubhub
  | , launched.
p By 2007 they were established and had raised $1.1 million. The next challenge was to expand to New York.
p A big part of this expansion plan was SEO. Every day, thousands of Americans search for food delivery on Google. Ranking at the top would mean thousands of new customers.
p So Grubhub hired their first marketer,!{' '}
  a(href="https://caseyaccidental.com/" target="_blank") Casey Winters
  | .
p Casey's!{' '}
  span first challenge
  |!{' '}was organising!{' '}
  span site structure
  | . First he generated a parent page for!{' '}
  span New York
  | . Then, child pages for!{' '}
  span specific foods within New York
  | .
p Now, no-matter, whether New Yorkers were searching for!{' '}
  span.italic Food Delivery
  |,!{' '}
  span.italic Pizza delivery
  |,!{' '}
  span.italic or Vegan delivery
  |, Grubhub had an indexed page of aggregated restaurants waiting:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/grubhub1.jpg" alt="Grubhub's SEO site structure").img__100
p The!{' '}
  span second challenge
  |!{' '}was!{' '}
  span backlinks
  | . In order for Grubhub’s new pages to rank well, Google needed to recognise them as!{' '}
  span sources of authority
  | . Casey's solution was simple:
p.inwardSpeech We went to the local press, to tell them we were launching in New York, and that we wanted to give their readers $10 off their first order.
span.isBreak
p.inwardSpeech All they had to do was link to our /new-york page which explained the discount. After a while, that page built enough local links and it would rank #1.
p The “link juice” then flowed downstream to each city's specific food pages, helping them climb the search results.
p And for every new market they entered, Casey replicated this strategy.
h2.under Thirteen years later
p Alongside Grubhub, US food delivery is now dominated by Doordash and Uber Eats.
p All have similar site structure. Grubhub's organic traffic is 50% higher. Thirteen years later, Casey's link-building is still paying off:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/grubhub2.png" alt="Grubhub and Doordash Organic traffic").img__80
p That's the power of good SEO.
p Plant an orchard. And you're eating fruit everyday.
p The long game is the shortcut.
p
  span.italic * The majority of “food delivery” search is local. This makes it hard to precisely measure organic traffic. The numbers are estimates from!{' '}
  a(href="https://ahrefs.com/" target="_blank") Ahrefs
  | .
h2.under New Sponsor
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/seo/grubhub-link-building` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/seo/grubhub-link-building&via=GoodMarketingHQ%20&text=${encodeURI("Grubhub's link building strategy")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/seo/grubhub-link-building` target="_blank")!=icon("linkedin")
