p For those of you who don’t know,&nbsp;
  a(href="https://news.ycombinator.com/" target="_blank") Hacker News
  |&nbsp;is a news website focusing on computer science and entrepreneurship. If you’re on the hunt for some geeky landing page traffic there are few places you’d rather be on the front page of.
p Last month my story about&nbsp;
  a(href="https://marketingexamples.com/sales/nikes-first-shoes" target="_blank").italic How Nike sold its first shoes
  |&nbsp;made it and the traffic spike is … pretty ridiculous.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa1.png", alt="Tweet Photo Before and After").img__80
p In spite of this success, I’ll be the first to admit that I am pretty clueless when it comes to Hacker News. So in putting together this case study I needed to learn from the experts.
h2 Introducing Adriaan Van Rossum
p
  a(href="https://twitter.com/adriaanvrossum" target="_blank") Adriaan
  |!{' '}runs a privacy-focused analytics platform called!{' '}
  a(href="https://simpleanalytics.com/?ref=marketingexamples.com" target="_blank") Simple Analytics
  | .
p Since he launched 9 months ago Hacker News has been the&nbsp;
  span.bold number one
  |&nbsp;source of traffic to both his main site and blog. We’re talking more than&nbsp;
  span.bold 30,000
  |&nbsp;total visits. A staggering&nbsp;
  span.bold 60%
  |&nbsp;of total traffic.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa2.png", alt="Tweet Photo Before and After").img__75
p How is he doing this? Well, fortunately, all Simple Analytics traffic is!{' '}
  a(href="https://simpleanalytics.com/simpleanalytics.com" target="_blank") open
  |!{' '}so it was possible to compare traffic spikes with Adriaan’s Hacker News activity and!{' '}
  span.bold figure it out
  | .
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa3.png", alt="Tweet Photo Before and After").img__100
p What follows is everything I've learnt from Adriaan condensed into four simple lessons.
h2 Lesson 1 - Write the title for your audience
p Traditionally, marketers are rewarded for writing titles that lure the Homer Simpson archetype into clicking. On Hacker News, you are rewarded for writing titles that lure the Professor Frink archetype into clicking.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa8.jpg", alt="Homer Simpson and Professor Fring").img__60
p Here are a couple of Adriaan's titles:
p.list.italic.list__top 1. I made a privacy-first minimalist Google Analytics - !{' '}
  a(href="https://news.ycombinator.com/item?id=18024277" target="_blank") 968 points
p.list.list__bottom 2. We moved our servers to Iceland - !{' '}
  a(href="https://news.ycombinator.com/item?id=19526521" target="_blank") 241 points
p They are matter-of-fact, unemotional and understated. And that’s what works best. You want to bleed out all the superfluousness.
p Arguably the most famous Hacker News post of all time is titled!{' '}
  a(href="https://news.ycombinator.com/item?id=19728132" class="italic" target="_blank") I sell onions on the internet
  | . If it was titled,!{' '}
  span.italic You won’t believe these 5 crazy reasons why I sell onions online
  |!{' '}I'm not sure it would have got the same attention.
h2 Lesson 2 - Comments are underappeciated
p On Hacker News, comments:!{' '}
p.list.list__top a) Can get!{' '}
  span.bold several thousands
  |!{' '} of views.!{' '}
p.list.list__bottom b) Allow!{' '}
  span.bold clickable links
  |!{' '} to be included (unlike text posts).
p This makes them a great alcove for self-promotion. Adriaan's reply to someone who made a simple log-based analytics is the textbook example.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa15.png", alt="Tweet Photo Before and After").img__95
p He finds a post relevant to his domain, offers thoughtful advice, and then links his own product. The result:!{' '}
  span.bold 590
  |!{' '}Hacker News users check out his website.
p Notice how Adriaan links!{' '}
  span.italic the Hacker News way
  |!{' '}with [ 1 ]. This shows he knows the platform and also puts his links in a more prominent position.
//- p Just like writing!{' '}
//-   span.bold thoughtful comments
//-   |!{' '}is an under-appreciated form of marketing, so is asking!{' '}
//-   span.bold thoughtful questions
//-   | .
//- p Questions work because they're an easy way to engage people. Again, Adriaan provides the textbook example.
//- p He asks what questions he should put to Facebook at an upcoming privacy roundtable. This title gets people's attention, and then in the body of the post he drops a subtle link to Simple Analytics and his twitter handle.
h2 Lesson 3 - How to launch
p There are close to!{' '}
  span.bold 1000
  |!{' '}submissions every day on Hacker News. That means no matter how amazing your creation there’s a good chance it will go completely unnoticed.
p My friend!{' '}
  a(href="https://github.com/mfbx9da4" target="_blank") David
  |!{' '}learned this the hard way last month. He built, “
  a(href="https://www.crowdform.co.uk/hntv/live" target="_blank") A 24/7 TV station
  |&nbsp;made up from the best Hacker News videos”. We both thought it was a shoo-in with the Hacker News audience. It didn’t get one single upvote.
p How can you turn the odds in your favour? Well, Adriaan let me in on two tips:
p.list.list__top 1)!{' '}
  span.italic Always launch to the!{' '}
    a(href="https://news.ycombinator.com/show" target="_blank" class="bold") Show HN
    |!{' '}page. The lower frequency of posts means you will have more chance of being seen.
p.list.list__bottom 2)!{' '}
  span.italic Post a good first comment. For example, I often show a!{' '}
    span.bold technical hurdle
    |!{' '}and explain how I overcame it (HN loves that).
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa9.png", alt="Tweet Photo Before and After").img__85
h2 Lesson 4 - How to share
p.inwardSpeech All this advice is cool but can’t I just share my post with friends for them to upvote?
p No! Hacker News isn’t like Product Hunt:
p.list.list__top 1) Upvotes!{' '}
  span.bold don't count
  |!{' '}from anyone who arrives at your post via direct link
p.list.list__bottom 2) It’s!{' '}
  span.bold 1 upvote
  |!{' '}per IP address
p This means that people have to find and upvote your post!{' '}
  span.bold organically
  | .
p What I’ve noticed some people do is put out a tweet directing people to the!{' '}
  a(href="https://news.ycombinator.com/newest" target="_blank" class="italic") newest
  |!{' '}page. This gives their followers an easy route to find their post.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/sa6.jpg", alt="Tweet Photo Before and After").img__95
p Notice how the above posters are all!{' '}
  span.bold encouraging discussion
  |!{' '}and not asking for upvotes. Requesting upvotes is!{' '}
  span.bold 100% banned
  |!
h2 Conclusion
p So there we have it. 9 months. One big launch, several blog posts, comments and questions, and Adriaan has driven more than!{' '}
  span.bold 30,000
  |!{' '}users to his website from Hacker News.
p But to call him a great!{' '}
  span.italic marketer
  |!{' '}I think misses the point. On Hacker News a!{' '}
  span.italic marketer
  |!{' '}is about as popular as a porcupine on a nudist beach.
p Adriaan is a great!{' '}
  span.italic Hacker News user
  | . He understands the intricacies of the forum, offers thoughtful insight, and is never pushy with his business.
p The naked eye doesn’t see self-promotion. It sees someone passionate about privacy. He isn't a!{' '}
  span.italic marketer
  |!{' '}on Hacker News, he's a!{' '}
  span.italic Hacker News user
  |!{' '}on Hacker News.
h2 One final thought
p The point is that once you start hanging with your perfect audience, conventional marketing goes out the window. You don't have to try!{' '}
  span.bold so hard
  |.
p Find the place where your tribe hangs out. Show up, help people out, talk about what you're doing, and the rest will take care of itself.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/content/hacker-news` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/content/hacker-news&via=GoodMarketingHQ%20&text=${encodeURI("How to post on Hacker News")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/content/hacker-news` target="_blank")!=icon("linkedin")
