p Q. What do you do if Joe Rogan recommends your product?
p A. Edit the footage into a video and run ads targeting Joe Rogan’s audience.
video(src="https://s3.amazonaws.com/harrydry/gdmarketing/jr.mp4" class="img__70" playsinline="playsinline" poster="https://harrydry.s3.amazonaws.com/gdmarketing/jr.jpg" onclick="this.paused ? this.play() : this.pause();")
h2 Why does it work?
p Well, if you're a fan of Joe Rogan this doesn’t feel like an ad. People watch his videos for fun. So, you get the!{' '}
  span.bold reach
  |!{' '}of an ad whilst maintaining the!{' '}
  span.bold engagement
  |!{' '}of a regular post.
p Secondly, the social proof is off the chart. Joe's not being paid to say any of this. And that makes a huge difference.
p And finally, there's a!{' '}
  span.bold retargeting
  |!{' '}benefit. I imagine a lot of people seeing the ad remember Joe talking about the Iron Neck on a previous podcast. But perhaps they were out running or about to go to bed. Only in seeing it on Instagram the next morning are they’re reminded to check it out:
p.inwardSpeech Oh, this is the thing Joe was on about …
h2 Support
p Thanks to!{' '}
  a(href="https://twitter.com/george__mack" target="_blank") George Mack
  |!{' '}for telling me all about this one.
p If you liked this article and want to learn from more!{' '}
  span.bold real world examples
  |!{' '}joining the email list below is really appreciated. You can also follow on!{' '}
  a(href="https://twitter.com/goodmarketingHQ" target="_blank") Twitter
  | .
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/ads/iron-neck` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/ads/iron-neck&via=GoodMarketingHQ%20&text=${encodeURI("What to do if Joe Rogan recommends your product?")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/ads/iron-neck` target="_blank")!=icon("linkedin")
