p The ultimate abandoned cart flow.
p.inwardSpeech
  span.italic “I see you started an order but didn’t get round to completing it. Here’s a free one to try...”
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl19/fl4.png" alt="Abadoned Cart Direct Mail").img__100
p Does it work? Frank tells me yes:
p.inwardSpeech
  span.italic “The cost of posting a can is $10. People get hooked and buy subscriptions. And the lifetime value of a subscriber is $3,000!”
p So if you convert 1/300 “freebies to subscribers” you're profitable.
p It's a!{' '}
  span.italic ridiculously
  |!{' '}well targeted direct mail campaign. Throwback marketing.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl19/fl2.png" alt="Ridiculously Well Targeted Direct Mail Strategy").img__100.img__caption
p.caption Credit to!{' '}
  a(href="https://www.stimulate.agency/" target="_blank") Randy McHugh
  |!{' '}whom I got this from
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/creative/ketones` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/creative/ketones&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/creative/ketones` target="_blank")!=icon("linkedin")