p Yesterday I saw this letter Liverpool manager, Jürgen Klopp, wrote to a young schoolboy dealing with anxiety.
p It’s remarkably thoughtful. But it didn’t surprise me. Klopp's been making people smile ever since he became a manager.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jurgen1.png" alt="Jürgen Klopp letter to schoolboy with anxiety").img__100
p Back in 2014 he was managing Borussia Dortmund, one of the best teams' in Germany. They were having a spectacularly awful season, sitting at the bottom of the Bundesliga.
p As a thank you to the fans, for sticking with the team, Klopp ordered players to serve behind the bar and pull pints at the Christmas Party.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jurgen2.jpg" alt="Jürgen Klopp Dortmund Christmas party pints for fans").img__100
p In Englandit's no different. He’s!{' '}
  span.italic the only
  |!{' '}Premier League manager who does interviews with fan-run YouTube channels.
p Pre-lockdown he'd drop in on fan events and!{' '}
  a(href="https://harrydry.s3.us-east-1.amazonaws.com/gdmarketing/jurgen3.mp4" target="_blank") enjoy a beer with supporters
  | . During lockdown, he did Zoom calls with fans who were self-isolating.
p After winning the league he wrote an open letter in the!{' '}
  span.italic Liverpool Echo
  |!{' '}paying respect to the fans.
p To mark the end of his first season he challenged lifelong supporters to an!{' '}
  a(href="https://harrydry.s3.us-east-1.amazonaws.com/gdmarketing/jurgen4.mp4" target="_blank") impromptu bowls game.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/jurgen5c.jpg" alt="Jürgen Klopp making people smile").img__100
p I'm telling you about Klopp to make a simple point.
p.inwardSpeech.list__bottom If you find even the smallest way to make people smile, they’ll remember you more for that smile than for any business-model stuff.
p.inwardSpeech.list__top A brand isn’t a logo or a website. It’s the sum of all the little things.
p When Klopp left Dortmund in 2015 they'd just had their worst season in seven years. Most teams' fans would be booing. The whole stadium was in tears.
video(src="https://harrydry.s3.amazonaws.com/gdmarketing/jurgen6.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/jurgen6a.jpg" onclick="this.paused ? this.play() : this.pause();")
p
  span.italic PS: That smiling line is from a!{' '}
    a(href="https://sive.rs/cdbf" target="_blank") Derek Sivers blog
    | .
h2.under Support
p Thanks for reading. If you'd enjoyed the story, I'd appreciate if you joined the!{' '}
  a(href="https://marketingexamples.com/newsletter") email list
  | . I share a new case study, like this one, each week.

p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/brand/klopp` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/brand/klopp&via=GoodMarketingHQ%20&text=${encodeURI("What we can learn from Jürgen Klopp")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/brand/klopp` target="_blank")!=icon("linkedin")
