p Three years ago Mark and Rox Hoyle were sausage rol-loving parents who'd never written a song before.
p Last week they beat Mariah Carey to win their third consecutive UK Christmas No.1.
p Their story is a blueprint in!{' '}
  span.italic how to start a movement.
h2.slab.bg1 1/ Start with story
p Every movement needs a story. And Mark and Rox's is no different.
p It turns them from two weirdos singing about sausage rolls to a husband and wife on a mission to support food banks.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lad1.jpg" alt="LadBaby's story").img__100
h2.slab.bg2 2/ Make something shareable
p So they had a story. Now they needed a song. Each year they record a sausage roll themed parody of a famous song.
p.list.list__top • We Built This City... on Sausage Rolls (2018)
p.list • I Love Rock 'N Roll → I Love Sausage Rolls (2019)
p.list.list__bottom • Don’t Stop Believing → Don’t Stop Me Eatin’ (2020)
p Both relatable and ridiculous. And people couldn't stop sharing.
video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad2.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad2.jpg" onclick="this.paused ? this.play() : this.pause();")
h2.slab.bg3 3/ Bring people on the journey
p So Mark and Rox launch their song and then vlog their entire Christmas No.1 attempt on YouTube.
p The vlogs aren't fancy. Just two minutes on an iPhone. But they're raw. And you can't help get swept up in their journey.
video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad3.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad3.jpg" onclick="this.paused ? this.play() : this.pause();")
h2.slab.bg4 4/ Galvanize followers
p The great thing about bringing people on the journey with you is they'll help you bring even more people.
p Mark's the king of this. Watch how he motivates his followers to get #LadBaby trending on Twitter. All perfectly timed for their song launch.
p
  span.italic PS: Mark's also known as LadBaby
video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad4.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad4.jpg" onclick="this.paused ? this.play() : this.pause();")
h2.slab.bg5 5/ Know what turns the needle
p Here's where it gets tactical. The way the UK charts are calculated 1 purchase equals 100 streams.
p Mainstream artists focus on streams. Mark and Rox focus exclusively on purchases. And every video, vlog, radio appearance are mini “adverts” to purchase their track.
p They can't out-stream Mariah Carey. But their hardcore fans purchasing mean they don't have to.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/lad5.png" alt="LadBaby's 2020 Christmas No.1").img__100
h2.slab.bg1 So there you go
p Mark and Rox's story isn't really about Christmas No.1. It's a lesson for anyone wanting to start anything.
p.inwardSpeech Tell your story. The highs and lows. All in public. People will come on the journey. And you’ll create a connection that big brands can’t replicate.
p Don't believe me? Watch Mark and Rox’s livestream the moment they found out they were No. 1.
video(src="https://harrydry.s3.amazonaws.com/gdmarketing/lad6.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/lad6.jpg" onclick="this.paused ? this.play() : this.pause();")
h2.slab.bg1 Thanks for reading
p Please supplment this with an excellent article about!{' '}
  a(href="https://www.thirdwunder.com/brand-story-telling-for-marketing-5-brands-that-do-it-right/" target="_blank") brand storytelling
  | . And if you'd like more short, sweet, practical marketing examples in your inbox please do join the!{' '}
  a(href="https://marketingexamples.com/newsletter" target="_blank") email list
  |!{' '}.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/brand/ladbaby` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/brand/ladbaby&via=GoodMarketingHQ%20&text=${encodeURI("How LadBaby started a movement")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/brand/ladbaby` target="_blank")!=icon("linkedin")
