p Nothing says INGORE ME quite like “
  span.italic #ad
  | ”.
p It's lazy, it's ugly, somehow it's the norm.
p Don't!{' '}
  span.italic hashtag
  |!{' '}it,!{' '}
  span.italic.ns1 own
  |!{' '}it.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl25c/td3.jpg" alt="Integrated ad").img__100.img__caption
p.caption
  a(href="https://www.instagram.com/p/CuSENxEt713/" target="_blank") See the ad
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/ads/leo` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/ads/leo&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/ads/leo` target="_blank")!=icon("linkedin")