p.inwardSpeech “How many people are trying to reach the prospect!{' '} 
span.italic exactly
|!{' '}the same way as me?”
p The lower the number the better chance you’ve got.
p Automating sludge?!{' '}
span.italic Hundreds
| !
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl31a/mm6.png" alt="What most bad cold outreach looks like").img__100
p Finding a company whose problem you solve, solving it (without permission), and sharing with them on social media?!{' '}
span.italic Probably just you.
p The proof is the pudding.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl31a/mm7.png" alt="Creative cold outreach").img__100.img__caption
p.caption 
a(href="https://x.com/thiswillblossom/status/1801285120415977517" target="_blank") [1]
|!{' '}
a(href="https://x.com/thiswillblossom/status/1810712649774080134" target="_blank") [2]
p
span.italic — Harry