p I got 97 cold emails last month.
p The only one I replied to!{' '} 
  span.italic didn't ask me to
  | .
p Lizzy told me that's her secret.
p.inwardSpeech “I stopped asking for a!{' '}
  span.ns3 quick call
  |!{' '}and clarified!{' '}
  span.ns1 I wasn't asking for anything
  | . Responses went from 5% to 25%.”
p Don't ask, do
  s n't
  |!{' '}get.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl31a/mm5.png" alt="Lizzy Spano mymind cold email").img__100.img__caption
p.caption PS. I did sign up, and!{' '} 
  a(href="https://www.mymind.com" target="_blank") loved it! 
p 
  span.italic — Harry