p June 2018. Belgian supermarket!{' '}
  span.italic Delhaize
  |!{' '}changed the names of their fruit and veg to encourage more kids to eat them.
p Carrots became!{' '}
  span.italic Orange rockets
  | . Courgettes became!{' '}
  span.italic Troll Bats
  | . Sales increased by!{' '}
  span.bold 151%.
p.inwardSpeech “Creativity is the last unfair advantage we're legally allowed to take over our competitors” — Bill Bernbach
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl3/nl3d.jpg" alt="The Vegetable Name Change").img__100
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/creative/magic-veggies` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/creative/magic-veggies&via=GoodMarketingHQ%20&text=${encodeURI("The Vegetable Name Change")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/creative/magic-veggies` target="_blank")!=icon("linkedin")
