p Your “Meta Image” is the image that appears when you share a link online. It's the most important image you make.
p Before I launched!{' '}
  a(href="https://marketingexamples.com/inspiration" target="_blank") Copywriting Examples
  |!{' '}I spent a full day on mine.!{' '}
  span.italic 402,000
  |!{' '}viewed it in 24 hours.!{' '}
  span.italic 30x
  |!{' '}more people than went to my website.
p Here are three ways to make yours better.
h2.slab.bg1 1/ Don’t write a title. Tease the content.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl7/nl11aa.png" alt="Copywriting Examples Meta Image" href="https://marketingexamples.com/inspiration").img__100
h2.slab.bg2 2/ Don’t show your product. Show your product in action.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl7/nl11b.png" alt="Jamby's Meta Image" href="https://jambys.com").img__100
h2.slab.bg3 3/ Don’t show a logo. Show the transformation.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl7/nl11c.png" alt="Remove BG Meta Image" href="https://testimonial.to/").img__100
h2.slab.bg4 4/ One more for luck
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl7/nl11d.png" alt="Testimonial Meta Image" href="https://remove.bg").img__100
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/landing-page/meta-images` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/landing-page/meta-images&via=GoodMarketingHQ%20&text=${encodeURI("My favourite “Meta Images”")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/landing-page/meta-images` target="_blank")!=icon("linkedin")