p no name is a “no nonsense, no frills” supermarket brand in Canada.
p Nothing special. A lot of discount brands share these “values”. But they all communicate them through similar slogans, packaging, and comparison ads.
p So no name went the other way. What happens if you strip away all the fancy-dress from a brand? You're left with the bare bones. Stark simplicity.
p The packaging is lowercase Helvetica over a yellow background. The website says “website”. The Twitter page says “twitter page”. Their sole ad campaign of the last decade saw them matter-of-factly label Toronto’s subway station:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/nn1.jpg" alt="no name brand products").img__100
p Ironically, no name's “anti-brand” approach has attracted a cult following.
p Since 1978 the product line has grown from!{' '}
  span 16
  |!{' '}to!{' '}
  span 2,900
  |!{' '}items. A simple picture of biscuits on Twitter gets!{' '}
  span 6,000
  |!{' '}likes. Their customers demanded merchandise and it sold out overnight.
p It's!{' '}
  span football club
  |!{' '}brand power from a!{' '}
  span household product
  |!{' '}line.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/nn2f.jpg" alt="no name twitter and merch").img__100
h2.under What can we learn from no name?
p The first lesson is!{' '}
  span.bold separation
  | .
p To quote Ted Morgan, “positioning is like finding a seat on a crowded bus”.
p Most brands walk on the bus, glance left, glance right, and end up sitting on top of each other. no name marched straight up to the top deck, found an empty seat, painted it yellow, and no one else can sit there.
p You escape competition through separation.
p The second lesson is!{' '}
  span.bold limitation
  | .
p Limitation is the essence of branding.
p no name’s focus is singular. They don’t pretend to be lots of different things. They stand for something simple and narrow:!{' '}
  span.italic The rejection of superficiality
  | .
p The final lesson is!{' '}
  span.bold consistency
  | .
p Once you know what you stand for consistency is how you imprint yourself. Consistent tone, Consistent aesthetics. Consistent messaging.
p no name tells the same joke over and over again, and it gets better every time. It reminds me of a running gag on!{' '}
  span.italic Jimmy Kimmel Live
  |!{' '}where Jimmy bumps Matt Damon from the show every night.
//- p  — “Apologies to Matt Damon, we ran out of time”.
p The first time you're unsure, the 50th time it’s the best thing in the world. That's the power of consistency:
video(src="https://s3.amazonaws.com/harrydry/gdmarketing/nn.mp4" class="img__90" playsinline="playsinline" preload="auto" controls="controls")
p.asterix * * *
p
  span.bold Limitation
  | ,
  |!{' '}
  span.bold consistency
  |, and!{' '}
  span.bold separation
  |!{' '}is how brands are built:
p.list.list__top • Rolex will never sell a watch for less than $5000
p.list • Subway has sold just one type of sandwich for 54 years
p.list.list__bottom • Doubletree has given out free chocolate chip cookies for 39 years
h2.under Cheers
p Thanks to!{' '}
  a(href="https://www.amazon.co.uk/dp/B000FC10H0/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1" target="_blank") Al and Laura Ries
  | ,!{' '}
  a(href="https://twitter.com/mkobach" target="_blank") Matthew Kobach
  | ,!{' '}
  a(href="https://twitter.com/davegerhardt" target="_blank") Dave Gerhardt
  |, and!{' '}
  a(href="https://twitter.com/Marcus_Andrews" target="_blank") Marcus Andrews
  |!{' '}where I got some ideas from.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/brand/no-name` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/brand/no-name&via=GoodMarketingHQ%20&text=${encodeURI("The genius of no name's brand")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/brand/no-name` target="_blank")!=icon("linkedin")
