p Imagine you're doing cold outreach for an exec coaching program.
p Here’s the email!{' '}
  a(href="https://www.linkedin.com/in/davegerhardt/" target="_blank") Dave
  |!{' '}would send the CEO.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/dave1a.png", alt="Dave Gerhardt's Sales Email").img__100
p The goal is simple.!{' '}
  span.italic.bold Get a reply
  | .
p A reply!{' '}
  span gives you something to work with.
p So how does Dave do that?
p
  span.italic Keeps it short. Asks a question.
p Much better
  | !{' '}than a hit and hope template asking for a “quick call”.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/sales/one-line-email` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/sales/one-line-email&via=GoodMarketingHQ%20&text=${encodeURI("Dave Gerhardt's 1 line sales email")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/sales/one-line-email` target="_blank")!=icon("linkedin")
