p It took!{' '}
  a(href="https://www.youtube.com/c/watfordfcofficial" target="_blank") Watford F.C.
  |!{' '}ten years to get!{' '}
  span.bold 170k
  |!{' '}YouTube subscribers.
p It took Watford F.C. goalkeeper!{' '}
  a(href="https://www.youtube.com/c/BenFosterTheCyclingGK" target="_blank") Ben Foster
  |!{' '}one year to get!{' '}
  span.bold 1M
  |!{' '}YouTube subscribers.
p
  span.italic h/t!{' '}
    a(href="https://twitter.com/JonBaxter17") Jon Baxter
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl4/nl1.png" alt="Ben Foster's YouTube Growth").img__100
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/brand/personal` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/brand/personal&via=GoodMarketingHQ%20&text=${encodeURI("People Warm to People, Not Brands")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/brand/personal` target="_blank")!=icon("linkedin")
