p I love this line by Ted Morgan.
p.inwardSpeech Positioning is like finding a seat on a crowded bus
p Most brands sleepwalk onto the bus and sit on top of one another.
p The smart brands look left, right, find an empty row, paint their logo on it and start singing sweetly like the Sirens.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos1.jpg" alt="Sea of sameness brand positioning").img__100
p Positioning is an easy thing to complicate so let's keep it simple.
p.inwardSpeech Your goal is to!{' '}
  span own a space in the customer’s mind
  | . You do this by!{' '}
  span differentiating yourself
  | .
p Differentiation is not a dark art. It's something you can learn. Here’s how you can achieve it.
//- p Let's run through all the different ways brands achieve this.
h2.under 1/ Through contrast
p Point at the status quo and pit yourself against it. Contrast burns your brand into the customer's mind.
p.list.list__top • Hey pit themselves against mainstream email
p.list • Lemonde pit themselves against insurance stereotypes
p.list.list__bottom • The “
  a(href="https://www.youtube.com/watch?v=sdF5IsyOxU4" target="_blank") I'm a Mac
  |” ads pit themselves against the PC
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos2.png" alt="Pick a fight against status quo brand positioning").img__100
h2.under 2/ Through values
p Think Patagonia and the environment, Ben and Jerry's and social justice, Black Rifle Coffee and gun rights.
p Some will hate it. Others will rally behind you. And!{' '}
  span.italic that's the point
  | . Fence sitters don't buy.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos3.jpg" alt="Positioning through brand values").img__100
h2.under 3/ Through category creation
p Invent a new category and you haven't got any competitors.
p When Drift launched in 2016 they were just!{' '}
  span.italic another
  |!{' '}startup in the mushy bucket of live chat software. How to stand out?
p Well, they reframed live chat as!{' '}
  span.italic conversational marketing
  |!{' '}and made it their mission to own this new category.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos4.png" alt="Drift's brand positioning").img__100
h2.under 4/ Through personality
p Turn yourself into the product and no one can compete with you.
//- p Productize yourself. Competitors can’t copy the!{' '}
//-   span.italic you
//-   |!{' '}in your product.
p Think Kanye’s shoes, Nigella's cookbook, Wicks’s workout.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos5.jpg" alt="Productize yourself").img__100
h2.under 5/ Through limitation
p Instead of trying to be!{' '}
  span.italic everything for everyone
  |!{' '}go all-in on!{' '}
  span.italic one
  |!{' '}niche or!{' '}
  span.italic one
  |!{' '}feature.
p Limitation makes you easy to sum up. Being easy to sum up makes you memorable.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos6.png" alt="Brand positioning").img__100
//- h2.under 6/ Through being the best
//- p Usain Bolt doesn't have a hard time finding brand partners.
//- p If you've got the proof you're hook can simply be!{' '}
//-   span.italic we are No.1
//- p
//-   span.italic No.1
//-   | is memorable.
//- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos8.jpg" alt="Brands which are the best").img__100
//- p.asterix * * *
p Writing this made me think back to how I positioned Marketing Examples.
p.list.list__top • Contrast - Marketing content was fluffy. My goal was no fluff
p.list • Personality - Well, I write them all
p.list.list__bottom • Limitation - Just examples. No agency, jobs board, etc...
h2.under One last thing
p Positioning isn't something you make up on a whim.
p Behind great positioning is a story. Positioning is the one line summary. The story makes it memorable.
p Look at Drift.!{' '}
  span.italic Conversational marketing
  |!{' '}isn't plucked out the sky. It's the final bullet point in their story.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/pos7b.png" alt="Marketing Examples Product Hunt").img__100
p.asterix * * *
p
  span.italic That's all folks. I hope you found this useful. If you'd like more case studies in your inbox, perhaps I can tempt you with my bi-weekly!{' '}
    a(href="https://marketingexamples.com/newsletter") newsletter
    | .
p
  span.italic  Thanks to this!{' '}
    a(href="https://cxl.com/blog/differentiation-strategy/" target="_blank") excellent article
    |!{' '}by Peep and!{' '}
    a(href="https://www.linkedin.com/in/louisgrenier/" target="_blank") Louis Grenier's LinkedIn
    |!{' '}where I got some ideas from.
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/brand/positioning` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/brand/positioning&via=GoodMarketingHQ%20&text=${encodeURI("My guide to brand positioning")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/brand/positioning` target="_blank")!=icon("linkedin")
