p
  span.ns1 Personalise
  | .!{' '}
  span.ns3 Pain Point
  | .!{' '}
  span.ns2 Pitch
  | .
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/n12/nl1c.png" alt="Cold email pattern").img__100
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/sales/ppp` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/sales/ppp&via=GoodMarketingHQ%20&text=${encodeURI("My favourite sales email pattern")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/sales/ppp` target="_blank")!=icon("linkedin")