p My new favourite CRO experiment
p.inwardSpeech “Press!{' '}
  span.bold B
  |!{' '}anytime to Buy”
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl25c/td1.png" alt="Ali Abdaal Press b to buy").img__100.img__caption
p.caption
  a(href="https://www.feelgoodproductivity.com/" target="_blank") Take a look yourself
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/landing-page/press-b` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/landing-page/press-b&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/landing-page/press-b` target="_blank")!=icon("linkedin")