p Peter Thiel spends 6 months writing down everything he knows about business. His book sells for!{' '}
  span.bold $10
  |!{' '}on Amazon.
p
  a(href="https://twitter.com/adamwathan" target="_blank") Adam Wathan
  |!{' '}and!{' '}
  a(href="https://twitter.com/steveschoger" target="_blank") Steve Schoger
  |!{' '}spend 6 months writing down everything they know about design. Their “
  a(href="https://refactoringui.com/book/" target="_blank") book
  | ” sells for!{' '}
  span.bold $79
  |!{' '}online.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rui2.png" alt="Pieter Thiel Vs Refactoring UI").img__75
p Believe it or not, both prices make perfect sense.
p Thiel is selling to the!{' '}
  span.bold masses
  |!{' '}and the masses are!{' '}
  span.bold sensitive
  |!{' '}to price changes (price elastic). If he raises the price to $30 they wouldn’t think twice before substituting his book for one of the many cheaper alternatives on Amazon.
p Adam and Steve are selling to!{' '}
  span.bold hardcore
  |!{' '}fans and hardcore fans are!{' '}
  span.bold insensitive
  |!{' '}to price changes (price inelastic). They've all been following the!{' '}
  a(href="https://twitter.com/i/moments/994601867987619840" target="_blank") Twitter tips
  |, watching the!{' '}
  a(href="https://www.youtube.com/channel/UCxqiDtkXtOCNJdckODHk9YA/videos" target="_blank") screencasts
  |, reading the!{' '}
  a(href="https://medium.com/refactoring-ui/7-practical-tips-for-cheating-at-design-40c736799886" target="_blank") Medium posts
  | . In their minds, there are no substitute resources available. They don’t want any old design book, they want an!{' '}
  span.italic Adam Wathan + Steve Schoger
  |!{' '}design book.
p When demand for your good is inelastic, you raise your price. In the case of Adam and Steve, all the way up to $79. As the diagram shows, a!{' '}
  span.bold 8x
  |!{' '}price increase (from $10 to $79) results in just a!{' '}
  span.bold 2x
  |!{' '}drop in books sold (20k to 10k) and!{' '}
  span.bold 4x
  |!{' '}more revenue (shown by the area of the two rectangles).
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rui3.png" alt="Refactoring UI: Inelastic demand").img__70
h2 Step 2 - Escape the context of an e-book
p So quite rightly Adam and Steve elected to charge a high price, but that created one problem:!{' '}
  span.italic You can't just sell an e-book for $70+
  | . People are anchored to what they're used to paying on Amazon. To quote Adam:
p.inwardSpeech The format commands the price. No matter what the content is. And it speaks nothing to the value of the content or the effort that was put into creating it.
p So how did Adam and Steve get round this? Well, they set up their own!{' '}
  a(href="https://refactoringui.com/" target="_blank") website
  | , added in video tutorials, an icon pack, color palettes, font recommendations, a component library. And then!{' '}
  span.bold the context changed
  | .
p They were no longer selling an!{' '}
  span.italic Amazon e-book
  |, they were selling an!{' '}
  span.italic exhaustive design package
  | . And they could charge whatever they liked.
h2 Step 3 - A Persuasive Higher Tier
p In addition to the lower tier package of $79, Adam and Steve were also selling a higher tier package priced at $149. And it was!{' '}
  span.bold this package
  |!{' '}that they wanted people to buy. The question was how could they present it in such a way to make it appear more compelling?
p Well, firstly, look at the hierarchy. The higher tier package takes up twice as much screen space, the font size is larger, and the button color is primary. It doesn't feel right pressing the “Buy Now” button on the lower tier.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rui4.png" alt="Refactoring UI: Pricing Tiers").img__90
p Secondly, look at the disproportionately sized discounts. The!{' '}
  | higher tier package
  |!{' '}is reduced by!{' '}
  span.bold $100
  |!{' '}(or 40%).!{' '}
  | The lower package
  |!{' '}is only reduced by!{' '}
  span.bold $20
  |!{' '}(or 25%). To quote Adam:
p.inwardSpeech If you want people to buy the more valuable package why not make the discount more compelling.
p And thirdly, look at the labelling of the higher tier option.!{' '}
  span.italic The Complete Package
  |!{' '}infers that!{' '}
  span.bold if you choose anything less you're missing out
  | . It could just as accurately be labelled!{' '}
  span.italic The Bonus Package
  |!{' '}but that wouldn't have the same psychological impact.
p And the subtle tweaks in presentation seemed to work.!{' '}
  span.bold 78%
  |!{' '}of total purchases (6765) favoured the higher tier (as of Jan 10, 2019).
h2 In Summary
p So, there we have it. Adam and Steve:
p.list.list__top • Identified that a hardcore audience called for high pricing
p.list • Escaped the dogma of e-book pricing
p.list.list__bottom • Packaged the higher tier in a more compelling way
p and Refactoring UI ended up grossing over!{' '}
  span.bold $1.35M
  | .
h2 Final Thought
p I don't want this pricing lesson to overshadow Adam and Steve's real competitive advantage:!{' '}
  span.italic being able to justify a price of $149 in the first place
  | . Only in serving up two years worth of free tips, screencasts, and articles is this price possible.
p My own heuristic is:!{' '}
  span.italic The price you can charge is equal to the value you’ve already created
  | .
h2 Nod of Appreciation
p The quotes in this case study come from The Art of Product Podcast:!{' '}
  a(href="https://artofproductpodcast.com/episode-70" target="_blank") Episode 70
  |, where!{' '}
  a(href="https://twitter.com/r00k" target="_blank") Ben Orenstein
  |!{' '}and!{' '}
  a(href="https://twitter.com/derrickreimer" target="_blank") Derrick Reimer
  |!{' '}interview Adam and Steve. Would definitely recommend.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/landing-page/pricing` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/landing-page/pricing&via=GoodMarketingHQ%20&text=${encodeURI("Refactoring UI: A lesson in pricing")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/landing-page/pricing` target="_blank")!=icon("linkedin")
