p Last Wednesday I launched Marketing Examples to!{' '}
  a(href="https://www.producthunt.com/posts/marketing-examples-2" target="_blank") Product Hunt
  | . It received more than!{' '}
  span.bold 1,500
  |!{' '}upvotes, was voted!{' '}
  span.italic Product of the Week
  |, and my email list zoomed from!{' '}
  span.bold 1,300
  |!{' '}to!{' '}
  span.bold 3,300
  |!{' '}in the space of 72 hours.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph1.png" alt="Marketing Examples Product Hunt").img__75
p This is the step by step account.
h2 Step 1 - First 1000 fans
p 23rd May 2019 Marketing Examples v1.0 went live. The site had just a few case studies, several bugs, and an email box which didn’t convert well. The old version of myself would have thrown it up on Product Hunt straight away. This would have given me a quick buzz and my first few email subscribers. But I decided to wait.
p Firstly, it’s not every day you can launch on Product Hunt. I didn’t want to waste my “turn” with the very first iteration of my site.
p Secondly, I didn’t want to launch in a vacuum.!{' '}
  span.bold Product Hunt multiplies current momentum
  | . Having a small following of “fans” who are happy to shout about your product on launch day goes a long way.
p So I set myself a target.!{' '}
  span.bold 1000
  |!{' '}email subscribers and!{' '}
  span.bold 1000
  |!{' '}twitter followers. And then I could launch.!{' '}
  span.bold 70
  |!{' '}days later I reached that number. It was showtime.
h2 Step 2 - My goal
p As I prepared for my launch I wanted to clearly define what my goal was.
p In the past, I’ve fallen into the trap of using upvotes as my barometer of success. But when you think about it, upvotes are really just a!{' '}
  span.bold means to an end
  | . They are coupons you exchange for traffic. It’s what you do with that traffic which matters.
p So, what is my goal? Well, I wanted to!{' '}
  span.bold maximise email subscribers
  | . So I spent the day before my launch making sure my site was in the best possible shape to collect emails. After all, 100 upvotes and 100 email sign-ups is more valuable than 1000 upvotes and a site which can’t convert anyone.
h2 Step 3 - My Post
p Now I had the foundations in place it was time to schedule my post on Product Hunt. I chose!{' '}
  span.bold 12:01 AM PST
  |!{' '}and!{' '}
  span.bold Wednesday 7th August
  |!{' '}(the very next day).  New products hit the homepage at midnight so this would give me the full 24hrs of exposure. And I’d also avoid the weekend traffic lull.
p I filled in the description, added some images and my friend,!{' '}
  a(href="https://www.janadesomer.be/" target="_blank") Jana
  | , made a nice GIF to help me stand out. Things were starting to take shape.
video(src="https://harrydry.s3.amazonaws.com/gdmarketing/ph2.mp4" class="img__20" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline")
p Next, I began writing my first comment. This was my opportunity to connect with potential users. All going well, it would be read by several hundred people so I spent some time thinking about it.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph2.png" alt="Marketing Examples Product Hunt Comment").img__70
h2 Step 4 - Banner time
p The next morning I woke up early, excited for what lay in store. The first thing I did was add a banner to my website. This would give anyone coming!{' '}
  span.bold directly
  |!{' '}to my site an easy route to support my launch.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph3.png" alt="Marketing Examples Product Hunt Comment").img__55
h2 Step 5 - Leverage
p The next step was to leverage the audience I'd built in Step 1. Firstly, I tweeted from!{' '}
  a(href="https://twitter.com/goodMarketingHQ") Marketing Examples
  |!{' '}and also from my!{' '}
  a(href="https://twitter.com/goodmarketinghq") personal account
  | .
//- p In holding fire for a few months I had earnt the luxury of an audience to share with.
p Product Hunt will use the!{' '}
  span.bold first image in your post
  |!{' '}as the meta image (the image everyone sees when you share on social media). So it’s worth putting effort into this one.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph7b.jpg" alt="Marketing Examples Product Hunt Comment").img__75
p Next, I started sharing with my email list. Beforehand, I clarified with Product Hunt that this was within their rules. They told me!{' '}
  span.bold it was
  | , but that!{' '}
  span.italic multiple new accounts signing up and voting one product in the same period of time may trigger our spam detection
  | .
p So as a precaution I told subscribers to only support if they!{' '}
  span.italic already have a Product Hunt account
  | . I also split my email list into segments and scheduled emails!{' '}
  span.bold throughout the day
  |!{' '}to avoid a rush of upvotes in one go:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph8.png" alt="Marketing Examples Product Hunt Comment").img__60
p The results:
p.list.list__top Emails Sent:!{' '}
  span.bold 1345
p.list Open Rate:!{' '}
  span.bold 633
  |!{' '}(47%)
p.list.list__bottom Click to Product Hunt:!{' '}
  span.bold 208
  |!{' '}15%
p Together, Twitter and email was enough firepower to get me into the!{' '}
  span.bold top 3 places
  | .
h2 Step 6 - Indie Hackers and Startup School
p Next, I posted on the!{' '}
  a(href="https://www.startupschool.org/posts/26717" target="_blank") Startup School forum
  |!{' '}and also added a Milestone to my Indie Hackers!{' '}
  a(href="https://www.indiehackers.com/product/marketing-examples/-Llet0sLqNkaTnaApDV3" target="_blank") product page
  | . These forums work well because the audiences are familiar with Product Hunt. Both posts sat at the very top for the whole day and drove considerable traffic to my launch.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph52.png" alt="Marketing Examples Startup School Post").img__100
p Why were my posts so well received? Well, I wasn’t just screaming, “Everyone look at me!” at the top of my voice. In my post, I included some tips on!{' '}
  span.italic how best to launch to Product Hunt
  | . And I think people appreciated the balance. Everything is an exchange.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph6a.png" alt="Marketing Examples Indie Hackers Milestone").img__80
h2 Step 7 - Telegram and Slack
p There’s literally thousands of Telegram and Slack groups out there for startup folk: Bootstrappers, digital marketers, solo founders. You name it, there are a dozen groups you can join.
p Again, these are great places to share your launch because of the crossover with the Product Hunt audience. I was a member of about 10 groups myself, so I started working through them one by one.
p I quickly realised that the level of support I received was directly correlated to my level of contribution. In groups where I'd helped others, others helped me and when I hadn’t put the effort in, well … I got ignored. Product Hunt launch is the day when your karma comes full circle.
h2 Step 8 - Kick back
p And finally, I kicked back with a nice glass of water and spent the rest of the day replying to comments, tweets, emails, just trying to be helpful.
p Previously, I would have spent the remainder of the day hunting down more upvotes. Posting on Facebook, badgering friends, etc. But I can assure you this stuff!{' '}
  span.bold does not work
  | . Forcing upvotes and oversharing will do more harm than good.
h2 Results
p Over the!{' '}
  span.bold next 7 days
  | , direct referrals from Product Hunt totalled!{' '}
  span.bold 4,361
  |. But the real benefit came from!{' '}
  span.bold 2nd order effects
  | . Exposure from Product Hunt resulted in:
p.list.list__top 1. Direct traffic increasing!{' '}
  span.bold 4x
p.list 2. Twitter referrals increasing!{' '}
  span.bold 8x
p.list.list__bottom 3. Marketing Examples being featured in Tympanus
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/ph9.png" alt="Marketing Examples Product Hunt Traffic").img__55
p Weekly traffic totalled!{' '}
  span.bold 16,616
  |!{' '}of which!{' '}
  span.bold 2490
  |!{' '}(15%) subscribed to the email list!
h2 Summary
p And there we go. That's how I ended up getting 2000+ new email subscribers from my Product Hunt launch. I don’t think there is a!{' '}
  span.italic right
  |!{' '}way to do it, but if you:
p.list.list__top 1. Build an audience before you launch
p.list 2. Prioritise conversions, not upvotes
p.list.list__bottom 3. Support others throughout the year
p you won't go far wrong.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/social/product-hunt` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/social/product-hunt&via=GoodMarketingHQ%20&text=${encodeURI("How I got 2,000 new subscribers from Product Hunt")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/social/product-hunt` target="_blank")!=icon("linkedin")
