p Weekly raffle. Ship tickets with order. Group text the winner.
p.list.list__top • Easy way to grow your SMS marketing list
p.list • Incentivises weekly orders
p.list.list__bottom • So!{' '}
  span.italic old school
  |!{' '}it's
  span.italic cool
p All for the cost of a few free goodies.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/n11/nm3.jpg" alt="DTC Retention").img__100
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/retention/raffle` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/retention/raffle&via=GoodMarketingHQ%20&text=${encodeURI("I love this DTC retention strategy")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/retention/raffle` target="_blank")!=icon("linkedin")
