p Let's start with this image.
p Same title. Same painting. Same subreddit. One gets!{' '}
  span.bold 300
  |!{' '}votes. The other gets!{' '}
  span.bold 70,000
  | .
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs1.jpg" alt="Passive voice").img__100
p People love!{' '}
  span.italic REAL
  |!{' '}stuff. But it's rare.
p Lifeless marketing is everywhere and we copy it without thinking.
p So I thought I'd share some examples of REAL stuff.
//- p Let's look at some REAL stuff.
//- h2.under 1) Taleb's social proof
//- p Publishers say bestsellers need endorsements from fancy media.
//- p Nassim Taleb disagreed. For his latest book, he replaced quotes from
//-   span.italic Economist et al.
//-   |!{' '}with words from real readers.
//- p He argued the media was just status. And readers connect with other readers better.
//- p Unsurprisingly it became a bestseller.
h2.under 1) Taleb's social proof
p Publishers say bestsellers need endorsements from fancy media.
p Nassim Taleb disagreed. For his latest book he replaced praise from!{' '}
  span.italic Economist et al.
  |!{' '}with words from real readers.
p Readers connect with readers in a way!{' '}
  span.italic The Economist
  |!{' '}can't.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs2.png" alt="Passive voice").img__100
h2.under 2) Patagonia's images
p In the 1980s all outdoor fashion catalogs looked the same.
p Paid models. Fake hikes.
p Patagonia’s founder, Yvon Chouinard, was sick of it. So he placed a note in their catalog asking customers to send in real photos.
p Suddenly Patagonia stood out. They still only use real customers today.
p.inwardSpeech A real surfer showing a little skin is a lot sexier than a half-dressed, anonymous model — Yvon Chouinard
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs3.jpg" alt="Passive voice").img__100
h2.under 3) Rihanna's copy
p Most product launches feel like a copy and paste job.
p Look what happens when Rihanna drops the clichés and talks like a real person.
//- p When Rihanna launched!{' '}
//-   span.italic Fenty Skin
//-   |!{' '}she dropped the clichés and added some personality.
//- p But look what happens when Rihanna drops the clichés and remembers her personality.
//- p And actually sounded like...!{' '}
//-   span.italic Rihanna
//-   | !
//- p Most product launches sound like LinkedIn autocomplete.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs4.png" alt="Passive voice").img__100
h2.under 4) People's Vote Ads
p The!{' '}
  span.italic People's Vote
  |!{' '}Campaign spent more than £800k in the lead up to the 2019 UK election. Fancy cameras, expensive lighting, etc...
p Their best performing ad? Staff talking to an iPhone on their way to work.
video(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs1.mp4" class="img__55" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/rs5.jpg" onclick="this.paused ? this.play() : this.pause();")
h2.under 5) Chanel's drawings
p Real means human.
p For Mother's Day this year Chanel asked employees' kids to draw products.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs6.png" alt="Passive voice").img__100
//- h2.under 6) Beachbody's ads
//- p Real ads feels like regular content.
//- p Contrast these two ads from Beachbody's CEO.
//- p The first is your classic ad. Clean cut. On script. The second feels more like a fitness vlog. Dropping sweat. Off-the-cuff.
//- p Much more authentic.
h2.under 6) Beachbody's ads
p Contrast these two ads from Beachbody's CEO.
p The first is your classic clean-cut ad. The second feels like a fitness vlog. Dropping sweat. Off-the-cuff.
p Much more authentic.
video(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs2.mp4" class="img__100" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/rs9.jpg" onclick="this.paused ? this.play() : this.pause();")
//- h2.under 6) Twitter's ads
//- p Contrast Facebook and Twitter's out-of-home advertising.
//- p Agency slogans Vs real tweets from customers.
//- p Your own customers' words feels realer than an agency line
//- p Nothing realer than customers words on your own app.
//- img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs7.png" alt="Passive voice").img__100
h2.under To wrap up
p I'll leave you with my!{' '}
  span.bold real marketing manifesto
  | :
p.inwardSpeech Real people. Real words. Real customers. Anything else goes.
p I spent yesterday applying it to my email popup.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/rs8.png" alt="Passive voice").img__100
p — Thanks for reading, Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/brand/real` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/brand/real&via=GoodMarketingHQ%20&text=${encodeURI("Make your marketing REALER")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/brand/real` target="_blank")!=icon("linkedin")
