p Last week I started getting some interesting LinkedIn notifications.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nle1aa.png" alt="Reforge LinkedIn notifications").img__100
p On a!{' '}
  span.italic micro
  |!{' '}level it’s a clever growth loop.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nle1bb.png" alt="Reforge LinkedIn notifications").img__100
p On a!{' '}
  span.italc macro
  |!{' '}level it’s clever positioning.
p Why are people proud to show off Reforge? Well, the language you use determines the box you're put in.
p It's not a “online course”. It's “elite education”.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nle1ccc.png" alt="Reforge Growth Loop").img__100.img__caption
p.caption “It isn't the whiskey they choose, it's the image” — David Ogilvy
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/brand/reforge` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/brand/reforge&via=GoodMarketingHQ%20&text=${encodeURI("Reforge and the Strategic Use of Language")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/brand/reforge` target="_blank")!=icon("linkedin")