p Last week I asked you for all the rhetorical devices in the line:!{' '}
  span.italic “One Scoop. Once a day. Every day.”
p I learnt a lot. So I'm dedicating this article to your answers. Believe it or not, there's!{' '}
  span.italic eight!
p
  span.bold 1/ Parallelism
p.list.list__top
  span.italic What it is:
  |!{' '}Repetition of a grammatical form
p.list.list__bottom
  span.italic What it does:
  |!{' '}Gives a line rhythm
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nl1.png" alt="Parallelism in Copywriting").img__100
p
  span.bold 2/ Antithesis
p.list.list__top
  span.italic What it is:
  |!{' '}Two opposite words placed side-by-side
p.list.list__bottom
  span.italic What it does:
  |!{' '}Emphasises said opposites
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nl2aa.png" alt="Antithesis in Copywriting").img__100
p
  span.bold 3/ Scesis onomaton
p.list.list__top
  span.italic What it is:
  |!{' '}Verbless copy
p.list.list__bottom
  span.italic What it does:
  |!{' '}Quickens pace
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nl3aa.png" alt="Scesis onomaton in Copywriting").img__100
p
  span.bold 4/ Polyptoton
p.list.list__top
  span.italic What it is:
  |!{' '}Repeated use of words sharing the same root
p.list.list__bottom
  span.italic What it does:
  |!{' '}Bewitches words into memorable phrases
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nl5aa.png" alt="Polyptoton in Copywriting Examples").img__100
p
  span.bold 5/ Asyndeton
p.list.list__top
  span.italic What it is:
  |!{' '}Intentional omission of conjunctions
p.list.list__bottom
  span.italic What it does:
  |!{' '}Adds crispness, conviction, elegance
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/nl4aa.png" alt="Asyndeton in Copywriting Examples").img__100
p
  span.bold 6/ Tricolon
p.list.list__top
  span.italic What it is:
  |!{' '}Power of Three
p.list.list__bottom
  span.italic What it does:
  |!{' '}Rolls of the tongue
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/t7.png" alt="Tricolon in Copywriting Examples").img__100
p
  span.bold 7/ Alliteration
p.list.list__top
  span.italic What it is:
  |!{' '}You already know!
p.list.list__bottom
  span.italic What it does:
  |!{' '}Propels the reader along
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/t8.png" alt="Alliteration in Copywriting Examples").img__100
p
  span.bold 8/ Epistrophe
p.list.list__top
  span.italic What it is:
  |!{' '}Repetition at the end of successive clauses
p.list.list__bottom
  span.italic What it does:
  |!{' '}Adds a little chime
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl17/t6.png" alt="Epistrophe in Copywriting Examples").img__100
p
  span.italic Thanks for reading — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/copywriting/rhetorical-devices` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/copywriting/rhetorical-devicesvia=GoodMarketingHQ%20&text=${encodeURI("One line. Eight Rhetorical Devices.")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/copywriting/rhetorical-devices` target="_blank")!=icon("linkedin")
