p What if you replace your homepage with your product?
p Well. Rows did. Conversions doubled.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl24a/no2.png" alt="Rows homepage test").img__100
p Will this work for you?!{' '}
  span.italic Probably not.
p.list.list__top • Rows is freemium
p.list • People!{' '}
  span.italic already
  |!{' '}know how to use a spreadsheet
p.list.list__botttom • The market size is huge
p All perfect for product-led growth.
p But, it is a reminder to be bold. What if you're wrong?!{' '}
  span.italic Who cares.
p.inwardSpeech “If you're not failing, you're not innovating enough.”
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/landing-page/rows` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/landing-page/rows&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/landing-page/rows` target="_blank")!=icon("linkedin")