p.inwardSpeech Make stuff people search for
p It's clever because it simultaneously validates!{' '}
  span.bold.ns1 demand
  |!{' '}(people are searching) and!{' '}
  span.bold.ns2 distribution
  | !{' '}(you reach them via organic search).
p The result is hundreds of tools and templates in cute little subfolders.
p.list.list__top
  span.bold 1/!{' '}
  a(href="https://www.veed.io/tools" target="_blank") Veed.io/tools
  |!{' '}-!{' '}
  span.italic $1.1M/mo
  |!{' '}traffic.!{' '}
  span.italic 150
  |!{' '}tools.
p.list
  span.bold 2/!{' '}
  a(href="https://miro.com/templates" target="_blank") Miro.com/templates
  |!{' '}-!{' '}
  span.italic $240k/mo
  |!{' '}traffic.!{' '}
  span.italic 311
  |!{' '}templates.
p.list.list__bottom
  span.bold 3/!{' '}
  a(href="https://canva.com/templates" target="_blank") Canva.com/templates
  |!{' '}-!{' '}
  span.italic $491k/mo
  |!{' '}traffic.!{' '}
  span.italic 1000+
  |!{' '}templates.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/n12/nl2d.png" alt="Veed Content Marketing SEO").img__100
p How does this work practically?
p Well, you start by making a list of everything customers might search for. Then you're looking for a combination of!{' '}
  span.bold.ns1 high traffic value
  |!{' '}and!{' '}
  span.bold.ns4 low keyword difficulty and cost.
  | !{' '}(you reach them via organic search).
p That's the most valuable thing to make.
  img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/n12/nl2o.png" alt="Little Veed Content Marketing Excel Graph").img__100
p
  span.italic Thanks to the one and only!{' '}
    a(href="https://twitter.com/sab8a" target="_blank") Sabba
    | , Veed's CEO, for this example.
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/content/search` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/content/search&via=GoodMarketingHQ%20&text=${encodeURI("Veed, Mira and Canva's strategy in one line")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/content/search` target="_blank")!=icon("linkedin")