p If I told you Coca-Cola's sales in Australia increased!{' '}
  a(href="https://en.wikipedia.org/wiki/Share_a_Coke" target="_blank") ~7% in 2011
  |!{' '}you'd probably guess they changed the taste or the price.
p Nope. They simply replaced their logo with 150 of the most popular teenage names and encouraged people to “share a coke”.
p.inwardSpeech “Perceived value can be just as satisfying as real value” — Rory Sutherland
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl6/nl2b.png" alt="Share a Coke").img__100
p
  span.italic Thanks for reading — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/referral/share-a-coke` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/referral/share-a-coke&via=GoodMarketingHQ%20&text=${encodeURI("Share a Coke")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/referral/share-a-coke` target="_blank")!=icon("linkedin")
