p May 2019. I wrote my first marketing article. A year later my email list hit 19,000.
p No ads. No connections. No existing audience.
p The site grew because I learnt how to push my content round the internet.
h2.under Here's the process
p First, I found all the different places where marketers hang out.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul1.png" alt="Online marketing groups").img__100
p Then, I asked myself, “how can I add value!{' '}
  span.bold directly
  |!{' '}to these platforms?”
p Adding value isn't dumping links. People are busy.
p !{' '}
  span Wow
  |!{' '}them on the platform they're!{' '}
  span.bold already
  |!{' '}using. Or get ignored.
p There's no “one-size-fits-all” formula. Twitter is not Facebook. I tailor my content to fit each platform.
h2.under The specifics
p
  a(href="https://twitter.com/GoodMarketingHQ" target="_blank") Twitter
  | ,!{' '}
  a(href="https://www.reddit.com/user/harrydry" target="_blank") Reddit
  |!{' '}and!{' '}
  a(href="https://www.indiehackers.com/harrydry" target="_blank") Indie Hackers
  |!{' '}are places where!{' '}
  span.bold long-form sharing
  |!{' '}works.
p My strategy is simple. I share my whole article. Then, I politely ask if the reader would like to join my email list.
video(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul.mp4" class="img__100" controls playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/paulposter.jpg")
p Facebook and Slack groups are a different ball game. Attention spans are shorter. Self-promoters get lynched.
p I break my articles into visual tips. Subtly branding each one. Upfront value. No hard sell.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul2.jpg" alt="How to share in Facebook groups").img__100
p Then, there's a bunch of sites where I share direct links:!{' '}
  a(href="https://news.ycombinator.com/") Hacker News
  | ,!{' '}
  a(href="https://www.designernews.co/") Designer News
  | ,!{' '}
  a(href="https://growthhackers.com/posts") Growth Hackers
  | ,!{' '}
  a(href="https://zest.is/") Zest.is.
p Same principle applies.!{' '}
  span.italic Tailor content to fit the platform.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul3.png" alt="Hacker News Vs. Growth Hackers").img__100
p The whole process takes me 8 hours. 4 hours posting. 4 hours replying.
h2.under The snowball effect
p How!{' '}
  span.italic other people
  |!{' '}share your content is just as important as how!{' '}
  span.italic you
  |!{' '}share it.
//- Option 1
p You don't want people sharing!{' '}
  span.italic different things
  |!{' '}on!{' '}
  span.italic different platforms
  | . You want everyone sharing the!{' '}
  span.italic same thing
  |!{' '}on the!{' '}
  span.italic same platform
  | .
//- p One share on 50 platforms gets ignored. 50 retweets turn into 500.
p Isolated sharing gets ignored. Concentrated sharing compounds.
p I direct everyone who likes my article to!{' '}
  span.italic the same
  | !{' '}Twitter thread. 50 retweets turn into 500.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul4.png" alt="Twitter compounds growth").img__100
h2.under Putting it all together
p.list.list__top 1) Create value on other platforms.
p.list 2) Transfer!{' '}
  span.italic this value
  |!{' '}to your own platform.
p.list.list__bottom 3) Store value with your email list.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul5.png" alt="How to promote content online").img__100
p Email subscribers are gold bars in the bank.
p New media rise and fall. Email isn’t going anywhere. It’s been around longer. It will survive longer.!{' '}
  span.italic Medium
  |!{' '}can't paywall it. It's the best place to build an audience online.
p Here are the results of a year sharing content online.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/paul6.png" alt="Marketing Examples email list growth").img__100
p It's not rocket science:
p The platforms where I add the most value!{' '}
  span.bold upfront
  |!{' '}are the platforms that generate the most new subscribers.
p.inwardSpeech People are busy. Don't redirect them. Wow them.
h2.under One last thing
p The best self-promoters aren't!{' '}
  span self-promoters
  |. They take the time to become a!{' '}
  span.italic genuine
  |!{' '}member of each community.
p Share others' content. Write detailed comments. Make friends.
p Give more than you take. It's a positive-sum game.
p — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/content/sharing` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/content/sharing&via=GoodMarketingHQ%20&text=${encodeURI("How I promote content")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/content/sharing` target="_blank")!=icon("linkedin")
