p I must have seen 100 Samsung ads last year. I don’t remember any of them. Too much boring information.
p
  span.italic Shot on iPhone
  |!{' '}is three words, no information. It doesn't dwell on features. Instead, it brings to life!{' '}
  span.italic the outcome.
p And it’s believable. REAL photos from regular people. If!{' '}
  span.italic Liz from Vacaville
  |!{' '}can do it so can I.
p.list.list__top • Sell outcomes, not features
p.list • Narrow your focus
p.list.list__bottom • Nothing is more believable than real customers
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/email/tip24.jpg" alt="Marketing Examples Product Hunt").img__100
p.asterix * * *
p
  span.italic Thanks for reading. If you liked this you might like my guide to!{' '}
  a(href="https://marketingexamples.com/brand/real" target="_blank") Real Marketing
  |.
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/ads/shot-on-iphone` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/ads/shot-on-iphone&via=GoodMarketingHQ%20&text=${encodeURI("Apple's “Shot on iPhone campaign”")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/ads/shot-on-iphone` target="_blank")!=icon("linkedin")
