p The average cost to acquire a betting customer is ~£200. SkyBet are doing it for £2.60.!{' '}
  span.italic What?!
p Okay. So. 99% of bookmakers have some kind of “Bet £10, get a £20 free bet” offer. Cool. Whatever. No differentiation.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl23a/nm3.jpg" alt="Nearly all betting offers").img__100
p Sky Bet came up with something wildly different:
p.inwardSpeech “
  span.italic Super 6:
  |!{' '}Predict six correct scores. Win £1 Million.”
p All you need is a Sky Bet account. Why such a hit?
p.list.list__top -!{' '}
  span.italic Low friction
  | : Completely free, takes 20 seconds
p.list -!{' '}
  span.italic Fits into
  |  my life: “I'm watching the games anyway”
p.list -!{' '}
  span.italic Fits into
  |  my social life: “All my friends play”
p.list -!{' '}
  span.italic Huge prize
  | : A million is a talk trigger
p.list.list__bottom -!{' '}
  span.italic Seems doable
  | : “Guess six scores? Can’t be that hard.”
p Of course, they don't tell you that guessing six exact football scores is about as likely as winning the lottery. Alas. Probability.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl23a/nm4.jpg" alt="Sky Bet Super 6 Offer").img__100
p The numbers speak for themselves.
p.list.list__top • 15 years. £13 million paid. 5 million downloads.
p.list • Napkin maths:!{' '}
  span.italic 13/5 = £2.60 CPL
p.list.list__bottom • Sky Bet valuation up 600% since launch (now £3.5 billion)
p And that, friends and enemies, is why you learn how to write an offer. Hope whoever came up with it got a slice.
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/copywriting/sky-bet` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/copywriting/sky-bet&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/copywriting/sky-bet` target="_blank")!=icon("linkedin")