p Last week some rather impressive stats popped up on my Twitter...
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl19/rd1d.png" alt="Ryan Doyle Cold Email Strategy").img__100
p I’ve never seen cold outreach scale so well before. So I messaged Ryan, asking for a crash course. He obliged.
p
  span.bold Step 1 — Find hot leads
p Why do cold emails suck? Well, they’re hopelessly untargeted. The!{' '}
  span.italic same
  |!{' '}junk goes out to 1000's of prospects all with!{' '}
  span.italic different
  |!{' '}needs.
p The trick is to scrape a tighter group of prospects all with!{' '}
  span.italic similar
  |!{' '}needs:
p.list.list__top • Run a SEO agency?!{' '}
  span.italic Scrape companies hiring SEOs.
p.list • Sell exec coaching?!{' '}
  span.italic Scrape companies who’ve just raised money
p.list.list__bottom • Jet insurer?!{' '}
  span.italic Scrape FAA registrations for new jets.
p
  span.bold Step 2 — Turn leads into verified emails
p You've got a list of companies. Now you need to find the decision maker. Sometimes you want the CMO, sometimes the CFO, etc.
p Prospecting tools get you most emails. You validate them with a deliverability checker. And solve invalids by testing different combinations on ZeroBounce.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl19/rd4d.png" alt="How to get anyone's real email").img__100
p
  span.bold Step 3 — Get your email opened
p I don't care how good your email is if I don't open it.
p Ryan tells me it's!{' '}
  span.italic personalised preview text
  |!{' '}that drives opens. So start your email with something personal (your first line becomes the preview).
p Oh, and don't forget to add a profile photo.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl19/rd3b.png" alt="Personalised Preview Text in cold email").img__100
p
  span.bold Step 4 — Get a reply
p You do this by offering!{' '}
  span.italic value upfront
  | . Not by trying to persuade a stranger to!{' '}
  span.italic schedule a call.
p What's the lowest friction next-step your prospect might bite on?
p
  span.italic That's your pitch.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl19/rd6a.png" alt="Cold email value upfront template").img__100
p And that, my friends, is that. From a company on a database to a CMO on Zoom. It's only fair I give Ryan the last word:
p.inwardSpeech
  span.italic “You probably hate cold email. So let me give you a different challenge.”
p.inwardSpeech
  span.italic “Find 100 people you can help. Offer to help them for free. Blow them away. Let me know what happens next.”
p.inwardSpeech
  span.italic “You'll make more money than 99% of ‘experts’.”
p
  span.italic Thanks Ryan for sharing so much. If you'd like him to do all this for you check out!{' '}
    a(href="https://sales.co/") Damn Good Leads
    | .
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/sales/step-by-step` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/sales/step-by-step&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/sales/step-by-step` target="_blank")!=icon("linkedin")
