p Six words, one offer. No frills, no pretence.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl16/nl44d.png" alt="Sticker Mule email tip").img__100
p You don't need an adverb or fancy image to tell me your sticker deal ends tonight. Respect my time. It works.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl16/nl44b.png" alt="Plain Text Email Stats").img__90.img__caption
p.caption h/t!{' '}
  a(href="https://twitter.com/_zoekahn_" target="_blank") Zoe Kahn's Twitter
  |!{' '}where I spotted this one
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/sales/sticker-mule` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/sales/sticker-mule&via=GoodMarketingHQ%20&text=${encodeURI("Sticker Mule's plain text emails")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/sales/sticker-mule` target="_blank")!=icon("linkedin")
