p There's two ways people discover content.
p.list.list__top 1/ By!{' '}
  span.bold searching
  |!{' '}for it!{' '}
  span.italic (blog posts, video tutorials)
p.list.list__bottom 2/ By people!{' '}
  span.bold sharing
  |!{' '}it!{' '}
  span.italic (podcasts, free tools, visuals, ebooks)
p Occasionally a piece of content does both. It hits a big keyword!{' '}
  span.italic AND
  |!{' '}it's so awesome people share it. I call this the content marketing sweet spot.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl10/nl3c.png" alt="Four CTA's").img__100
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/content/sweet-spot` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/content/sweet-spot&via=GoodMarketingHQ%20&text=${encodeURI("The content marketing sweet spot")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/content/sweet-spot` target="_blank")!=icon("linkedin")
