p.list.list__top 1/ Anchor links are included in the SERP
p.list 2/ Keywords rank long-tail in Google
p.list.list__bottom 3/ Better UX means longer session duration (a ranking factor)
p Credit to!{' '}
  a(href="https://twitter.com/thepatwalls") Pat Walls
  |!{' '}for this tip. He ran A/B tests on Starter Story and found a!{' '}
  a(href="https://patwalls.com/ab-test-scrolling-table-of-contents") 2.6x increase in session duration
  |!{' '}after adding a Table of Contents.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl5/nl1c.png" alt="Table of Contents for SEO").img__100
p
  span.italic Thanks for reading — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/seo/table-of-contents` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/seo/table-of-contents&via=GoodMarketingHQ%20&text=${encodeURI("A Table of Contents can work wonders for SEO")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/seo/table-of-contents` target="_blank")!=icon("linkedin")