p
  a(href="https://tabschocolate.com/" target="_blank") Tabs
  |!{' '}makes “sex chocolate”. Last month they sold!{' '}
  span.italic half a million worth
  | .!{' '}
p
  a(href="https://twitter.com/oliver__b1" target="_blank") Oliver
  |!{' '}is the founder. A 21-year-old college kid from New York. I spoke to him on Friday. And there's one thing Tabs do!{' '}
  span.italic ridiculously
  |!{' '}well:
p.inwardSpeech Short-form vertical video.
p They have!{' '}
  span.italic several hundred
  |!{' '}videos with one million views. Oliver tells me the only secret is sheer output.
p.inwardSpeech “No one knows what the algo is going to like. So don't look for the needle in the haystack. Cop the whole haystack, you'll get the needle.”
p Oliver’s got thirty creators on retainer. Each with different Tabs accounts. Each making 1-3 videos / day which get reposted as Shorts, Pins, Reels, etc.
p Every day one-hundred Tabs videos hit different pockets of the web. It’s a Walter White-scale operation. And it works.
p One viral video is!{' '}
  span.italic luck
  | . One-hundred is!{' '}
  span.italic design
  | .
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl15/nl44c.png" alt="Tabs Chocolate TikTok Marketing").img__100
p What about the actual videos?
p Well, they're ten seconds long, made by!{' '}
  span.italic actual
  |!{' '}TikTokers, and crucially look nothing like ads. No CTAs, no big logo. The goal is curiosity, not clarity.
p.inwardSpeech “Let em feel like they discover us, not the other way around.”
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl15/nl44f.png" alt="Tabs Chocolate Viral TikToks").img__100.img__caption
p.caption
  | [
  a(href="https://www.tiktok.com/@funtabsco/video/7179405090946567470" target="_blank") 1
  | ] [
  a(href="https://www.tiktok.com/@yup...anothertabsaccount/video/7090750788917562666" target="_blank") 2
  | ]
p If I met Oliver two years ago I'd have put on my silly little “expert” hat and told him:
p.inwardSpeech Grow one brand account. Run PPC ads. Add a clearer CTA.
p Well, he's done precisely the opposite of all that: hundreds of brand accounts, UGC content, no CTAs.
p As I end this story I remind myself —!{' '}
  span.italic What do I know!
p
  span.italic Off the back of Tabs' success Oliver's set up a TikTok agency that helps brands go viral. If you're intrigued do!{' '}
  a(href="https://twitter.com/oliver__b1" target="_blank") message him
  | !{' '} on Twitter (also an good follow).
p
  span.italic Thanks for reading —!{' '}
  a(href="https://twitter.com/harrydry" target="_blank") Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/ads/tabs` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/ads/tabs&via=GoodMarketingHQ%20&text=${encodeURI("The chocolate that goes viral every day")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/ads/tabs` target="_blank")!=icon("linkedin")