p
  span.italic Newsjacking!{' '}
  | is the art of piggybacking on trending topics to draw attention to your own brand. Yesterday I saw a good example.
p A!{' '}
  a(href="https://www.taylordle.com/" target="_blank") Taylor Swift themed Wordle
  | . From a Taylor Swift themed podcast.
p.list.list__top • 2.5M visitors
p.list •100 media placements
p.list.list__bottom • Podcast downloads up 400%
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl5/nl3.png" alt="Taylordle").img__75
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/content/taylordle` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/content/taylordle&via=GoodMarketingHQ%20&text=${encodeURI("Tayordle")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/content/taylordle` target="_blank")!=icon("linkedin")
