h2.under 1) Speak with conviction
//- p Be the biggest, baddest, version of yourself.
p.list.list__top • Don't say!{' '}
  span “We help”
  |!{' '}say!{' '}
  span “It's how”
p.list.list__bottom • Don't say “alternative” say “replaces”
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/do4.png" alt="Speak with conviction copywriting").img__90
h2.under 2) You’re not Vladimir Nabokov
//- p You're selling a product. No one wants to read your vapid poetry:
//- p If you’re blessed with an original product do not complicate it. You’re a copywriter not Vladamir Nabakov:
p Failed poets turned copywriters have a soft spot for fancy titles which say, quite literally, nothing. Avoid these at all costs:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/do2.png" alt="Lead with product copywriting").img__90
h2.under 3) You're on a speed date
p The majority of people look at your site for 30 seconds and never return.
p If you can't make your!{' '}
  span.bold product
  |!{' '}interesting in six words sell the!{' '}
  span.bold benefits
  |!{' '}instead:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/do3.png" alt="Lead with value copywriting").img__90
h2.under 4) There is no universal approach
p Imagine you’re trying to persuade two friends to join your Yoga studio. One's never done Yoga before. The other has practiced at another studio for five years. You’re not going to give them both the same spiel.
p It's the same with landing pages. Your words should reflect your customer's mindset.
//- p
//-   a(href="https://anniemaguire.com/?ref=marketingexamples" target="_blank") Annie Maguire
//-   |!{' '}is a copywriter. Her traffic are warm leads looking to solve a problem. So, she leads with a!{' '}
//-   span.bold solution
//-   | .
//- p
//-   a(href="https://zenbu.ai/?ref=marketingexamples" target="_blank") Zenbu
//-   |!{' '}is a social media intelligence app. Their traffic are cold leads unaware any problem exists. So, Zenbu highlights the!{' '}
//-   span.bold problem
//-   | .
p
  a(href="https://anniemaguire.com/?ref=marketingexamples" target="_blank") Annie Maguire
  |!{' '}is a conversion copywriter. The majority of her traffic comes through personal recommendations. They're warm leads looking to solve a problem. So she leads with a!{' '}
  span.bold solution
  | !
p
  a(href="https://zenbu.ai/" target="_blank") Zenbu
  |!{' '}is a social media intelligence app. The majority of their traffic comes organically to their blog. They're cold leads unaware any problem exists. So Zenbu highlights the!{' '}
  span.bold problem
  | !
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/do1.png" alt="landing page title match sales funnel").img__90
h2.under 5) How to choose a title:
p Write down 10 titles. Show them to your friends. Ignore their advice. Wait 24 hours. Ask which one they remember. That's your title.
p Being!{' '}
  span memorable
  |!{' '}is more important than!{' '}
  span being likeable
  | . People jump from site to site and come back to what they!{' '}
  span.bold remember
  | :
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/do5.png" alt="How to choose a landing page title").img__90
p If you'd like more copywriting tips give!{' '}
  a(href="https://marketingexamples.com/copywriting/conversion") this one
  |!{' '}a read.
p Thanks to,!{' '}
  a(href="https://www.linkedin.com/in/maguireannie/" target="_blank") Annie Maguire
  | , the baddest copywriter on the planet, for her help.

.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/landing-page/titles` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/landing-page/titles&via=GoodMarketingHQ%20&text=${encodeURI("How to write a landing page title")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/landing-page/titles` target="_blank")!=icon("linkedin")
