p Copy is about communication. The quicker the better.
p A straw in an orange is as clear as it gets. A yellow blob looks like medicine. And you miss the logo cause we read left to right.
p I don't want to think to buy orange juice.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/n13/nl5.jpg" alt="Tropicana Rebrand").img__90.img__caption
p.caption h/t!{' '}
  a(href="https://twitter.com/CarrieRosePR" target="_blank") Carrie Rose
  |!{' '}&!{' '}
  a(href="https://twitter.com/SEOforWix" target="_blank") Tom Nelan
  |!{' '}&!{' '}
  a(href="https://twitter.com/LeeHillORM" target="_blank") Lee Hill
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/brand/tropicana` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/brand/tropicana&via=GoodMarketingHQ%20&text=${encodeURI("This rebrand cost Tropicana $55M")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/brand/tropicana` target="_blank")!=icon("linkedin")
