p When I started on Twitter I had no idea what I was doing.
p So I made one big Google Doc where I started saving all the best “brand tweets”. Grouped into categories.
p Today, it's ready to share. I hope you find it useful.
h2.slab.bg1 1/ Quick tips
p Teach people something new in a tweet. Short, sweet, and shareable.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc1.jpg" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/steveschoger/status/897849211110273024" target="_blank") Steve Schoger
  | ,!{' '}
  a(href="https://twitter.com/tasty/status/1237777813471715328" target="_blank") Tasty
  | ,!{' '}
  a(href="https://twitter.com/visualizevalue/status/1275393193140531200" target="_blank") Vizualize Value
  | ,!{' '}
  a(href="https://twitter.com/GoodMarketingHQ/status/1318529112454123521" target="_blank") Marketing Examples
h2.slab.bg2 2/ Threads
p People don't click links. So if you've got a story worth sharing write a thread.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc2.png" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/FCBarcelona/status/1119235857184063493" target="_blank") FC Barcelona
  | ,!{' '}
  a(href="https://twitter.com/Tesla/status/1126575043281080323" target="_blank") Tesla
  | ,!{' '}
  a(href="https://twitter.com/Ecosia/status/1164489544462417920" target="_blank") Ecosia
  | ,!{' '}
  a(href="https://twitter.com/OfficialFPL/status/1326138777690140673" target="_blank") OfficialFPL
h2.slab.bg3 3/ Memes
p Make your brand relatable.
p Sparknotes sells literature study guides. Twitter and literature study guides don't mix. So Sparknotes use pop-culture to make literature relatable.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc3.jpg" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/SparkNotes/status/1318575709464502272" target="_blank") SparkNotes
  | ,!{' '}
  a(href="https://twitter.com/SparkNotes/status/1314642779990118401" target="_blank") SparkNotes
  | ,!{' '}
  a(href="https://twitter.com/Ecosia/status/1164489544462417920" target="_blank") SparkNotes
  | ,!{' '}
  a(href="https://twitter.com/OfficialFPL/status/1326138777690140673" target="_blank") SparkNotes
h2.slab.bg4 4/ “Quick reaction” tweets
p Each day a new story consumes Twitter. Think fast and you can go viral.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc4.png" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/LEGO_Group/status/1199644074866888706" target="_blank") LEGO
  | ,!{' '}
  a(href="https://twitter.com/oreo/status/298246571718483968" target="_blank") OREO Cookie
  | ,!{' '}
  a(href="https://twitter.com/SouthamptonFC/status/1324836694420578304" target="_blank") Southampton FC
  | ,!{' '}
  a(href="https://twitter.com/tide/status/571362039098183680" target="_blank") Tide
h2.slab.bg5 5/ Build in public
p Makes your brand feel!{' '}
  span.italic ALIVE
  | .  People want to come on the journey.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc5.jpg" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/GatsbyJS/status/1031674025913724928" target="_blank") GatsbyJS
  | ,!{' '}
  a(href="https://twitter.com/fast/status/1300899296217387009" target="_blank") Fast
  | ,!{' '}
  a(href="https://twitter.com/NotionHQ/status/1275559941055451136" target="_blank") Notion
  | ,!{' '}
  a(href="https://twitter.com/riseatseven/status/1164867166900019201" target="_blank") Rise at Seven
h2.slab.bg1 6/ Brand beef
p Conflict creates interest. T-Mobile bragging about their 5G is boring. T-Mobile roasting Verizon's 5G is hilarious.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc6.png" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/TMobile/status/1224164723328876544" target="_blank") T-mobile
  | ,!{' '}
  a(href="https://twitter.com/Wendys/status/971136300253401088" target="_blank") Wendy's
  | ,!{' '}
  a(href="https://twitter.com/Potbelly/status/1133152281153679360" target="_blank") Potbelly
  | ,!{' '}
  a(href="https://twitter.com/BurgerKingUK/status/1059382781724295168" target="_blank") Burger King
h2.slab.bg2 7/ Casual content
p Don't complicate it. Most people just want some light entertainment.
//- p Casual content works. Most people just want some light entertainment.
//- p So bend your message in a way that fits on social media.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc7.png" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/Dictionarycom/status/1110280561455755265" target="_blank") Dictionary.com
  | ,!{' '}
  a(href="https://twitter.com/NJGov/status/1238840883501555712" target="_blank") New Jersey
  | ,!{' '}
  a(href="https://twitter.com/TheMERL/status/983341970318938112" target="_blank") English Rural Life
  | ,!{' '}
  a(href="https://twitter.com/Twitter/status/1278763679421431809" target="_blank") Twitter
  | ,!{' '}
  a(href="https://twitter.com/ChipotleTweets/status/1000391150023397376" target="_blank") Chipotle
h2.slab.bg3 8/ Replies
p Make a list of a few people in your niche. Turn on notifications. Comment something witty or thoughtful.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc8.png" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/Wimbledon/status/908369343087468544" target="_blank") Wimbledon
  | ,!{' '}
  a(href="https://twitter.com/MKBHD/status/1075516475161632769" target="_blank") Marques Brownlee
  | ,!{' '}
  a(href="https://twitter.com/MorningBrew/status/1266811529409835008" target="_blank") Morning Brew
  | ,!{' '}
  a(href="https://twitter.com/Bitcoin/status/1261358216526454785" target="_blank") Bitcoin
h2.slab.bg4 9/ Questions
p Get to know your customers whilst building a sense of community.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc9.png" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/IndieHackers/status/1219317667674435590" target="_blank") Indie Hackers
  | ,!{' '}
  a(href="https://twitter.com/Xbox/status/1152276921180479492" target="_blank") Xbox
  | ,!{' '}
  a(href="https://twitter.com/Headspace/status/1258133026774515712" target="_blank") Headspace
  | ,!{' '}
  a(href="https://twitter.com/MorningBrew/status/1276933894122528768" target="_blank") Morning Brew
  | ,!{' '}
  a(href="https://twitter.com/NotionHQ/status/1133859384281329664" target="_blank") Notion
  | ,!{' '}
  a(href="https://twitter.com/Shopify/status/1243199877946978305" target="_blank") Shopify
h2.slab.bg5 10/ “Reply and we'll...”
p Turns causal followers into brand advocates.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc10.png" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/Spotify/status/1156560141702979584" target="_blank") Spotify
  | ,!{' '}
  a(href="https://twitter.com/GoodMarketingHQ/status/1316053333463969792" target="_blank") Marketing Examples
  | ,!{' '}
  a(href="https://twitter.com/Airbnb/status/1180121646839021568" target="_blank") Airbnb
  | ,!{' '}
  a(href="https://twitter.com/Postmates/status/1207442192278552576" target="_blank") Postmates
  | ,!{' '}
  a(href="https://twitter.com/Wendys/status/1296100179976822785" target="_blank") Wendy's
  | ,!{' '}
  a(href="https://twitter.com/fast/status/1288454320078364675" target="_blank") Fast
h2.slab.bg1 11/ Live tweeting
p Your audience watch a cult show. That show trends every week. You live-tweet each episode.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc11.jpg" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/boohoo/status/1012797390670180354" target="_blank") Boohoo
  | ,!{' '}
  a(href="https://twitter.com/OfficialPLT/status/1099798732315316225" target="_blank") Pretty Little Thing
  | ,!{' '}
  a(href="https://twitter.com/innocent/status/1166439123659497472" target="_blank") Innocent
  | ,!{' '}
  a(href="https://twitter.com/Missguided/status/938526715239915521" target="_blank") Missguided
h2.slab.bg2 12/ Transparency
p Twitter loves transparency. Talk openly about your product you'll sell more ofyour product.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc12.png" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/BillysDonuts/status/1104473014291185665" target="_blank") Billy's Donuts
  | ,!{' '}
  a(href="https://twitter.com/gumroad/status/1289221152410177536" target="_blank") Gumroad
  | ,!{' '}
  a(href="https://twitter.com/lennysan/status/1265072097849602048" target="_blank") Lenny Rachitsky
h2.slab.bg3 13/ Giveaways
p Grows your follower count. Builds brand awareness.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc13.png" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/nandosuk/status/1197583059010379776" target="_blank") Nando's
  | ,!{' '}
  a(href="https://twitter.com/Tesco/status/1325936220065640449" target="_blank") Tesco
  | ,!{' '}
  a(href="https://twitter.com/gumroad/status/1233855888542158849" target="_blank") Gumroad
  | ,!{' '}
  a(href="https://twitter.com/boohoo/status/1291705649961738240" target="_blank") Boohoo
h2.slab.bg4 14/ Celebrate customers
p Making customers look good makes you look good. It's marketing without!{' '}
  span.italic marketing
  | .
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc14.png" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/Strava/status/812070250258657280" target="_blank") Strava
  | ,!{' '}
  a(href="https://twitter.com/gumroad/status/1076232788766945280" target="_blank") Gumroad
  | ,!{' '}
  a(href="https://twitter.com/Square/status/1002271345873379328" target="_blank") Square
  | ,!{' '}
  a(href="https://twitter.com/ProductHunt/status/1267486721857318912" target="_blank") Product Hunt
h2.slab.bg5 15/ Galvanize followers
p This tweet deserves a category of it's own.
p 65,000 people posting their Spotify playlist. All from one tweet.
video(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc15.mp4" class="img__85 img__caption" playsinline="playsinline" poster="https://s3.amazonaws.com/harrydry/gdmarketing/tttc15.png" onclick="this.paused ? this.play() : this.pause();" muted loop)
p.caption
  a(href="https://twitter.com/Spotify/status/1289202946299789312" target="_blank") Spotify
h2.slab.bg1 16/ Share your product
p You're allowed to share your product. Just don't make it look like an ad.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc16.png" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/Starbucks/status/1265643925638791170" target="_blank") Starbucks
  | ,!{' '}
  a(href="https://twitter.com/fast/status/1315311484746952705" target="_blank") Fast
  | ,!{' '}
  a(href="https://twitter.com/Dunkaroos/status/1224417959948574721" target="_blank") Dunkaroos
  | ,!{' '}
  a(href="https://twitter.com/fentybeauty/status/1293962585021218819" target="_blank") Fenty
h2.slab.bg2 17/ Consistency
p And finally, consistency is how you imprint yourself. Your followers should recognise you without looking at the icon.
p There's no better example than no name. Consistent tone, aesthetics and message.
img(src="https://harrydry.s3.amazonaws.com/gdmarketing/tttc17.png" alt="TT1").img__100.img__caption
p.caption
  a(href="https://twitter.com/nonamebrands/status/1185201925496737793" target="_blank") no name
  | ,!{' '}
  a(href="https://twitter.com/nonamebrands/status/1250074827978924034" target="_blank") no name
  | ,!{' '}
  a(href="https://twitter.com/nonamebrands/status/1220704563314987008" target="_blank") no name
  | ,!{' '}
  a(href="https://twitter.com/nonamebrands/status/1210559467366035456" target="_blank") no name
p
  span.italic That's all folks.
p
  span.italic I won't lie this took a while. It'd be amazing if you could share with a pal. Or on!{' '}
    a(href="https://twitter.com/GoodMarketingHQ/status/1329449978356527109" target="_blank" class="thUnderline") Twitter
    | ,!{' '}
    a(href="https://www.linkedin.com/posts/harrydry_my-twitter-inspiration-handbook-activity-6735310047116627968-jmUS" target="_blank" class="thUnderline") LinkedIn
    | , Slack, wherever! Really would appreciate it.
p
  span.italic If you'd don't want to miss more marketing guides (like this one), please do join my!{' '}
    a(href="https://marketingexamples.com/newsletter" target="_blank") newsletter
    | .
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/social/twitter-inspiration` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/social/twitter-inspiration&via=GoodMarketingHQ%20&text=${encodeURI("My Twitter Inspiration Handbook")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/social/twitter-inspiration` target="_blank")!=icon("linkedin")
