p Damon runs Testimonial.to. He noticed people repeatedly botched the domain so he registered the two primary offenders (!{' '}
  span.italic .io
  |!{' '}and extra!{' '} 
  span.italic s
  | )
p 18 months later he's $100,527 better off.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl26a/nc4.png" alt="Testimonial to typo domains").img__100
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/creative/typo-domains` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/creative/typo-domains&via=GoodMarketingHQ%20&text=${encodeURI("")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/creative/typo-domains` target="_blank")!=icon("linkedin")
