p.list.list__top • Less polished, more authentic
p.list • Can test ten in an afternoon
p.list.list__bottom • $50K return on a “Post-it”
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl21/nw4.jpg" alt="Make Ugly Ads").img__100
p Cc: “Ugly Ad” forefounder!{' '}
  a(href="https://www.twitter.com/binghott" target="_blank") Barry Hott
  |!{' '} &!{' '}
  a(href="https://www.twitter.com/ashvinmelwani" target="_blank") Ash
  |!{' '}for the numbers.
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/ads/ugly` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/ads/ugly&via=GoodMarketingHQ%20&text=${encodeURI("“Make Ugly Ads”")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/ads/ugly` target="_blank")!=icon("linkedin")