p One of my subscribers, Max, works for a!{' '}
  a(href="https://www.towerpaddleboards.com/" target="_blank") paddle board startup
  | .
p They had some nice images from photoshoots. So he made an account on Unsplash (the photo discovery platform) and uploaded them.
p Five months later the images have!{' '}
  span.bold 6M
  |!{' '}views. And!{' '}
  soan.bold 24k
  |!{' '}downloads.
p Pretty neat brand awareness!
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/uns1.jpg" alt="Tower Paddle Board Unsplash").img__100
p Here's where it gets interesting.
p Max realised if people were downloading the images!{' '}
  span they’d also be being used on websites
  | .
p So he uploads each one to!{' '}
  a(href="https://www.google.com/imghp" target="_blank") Google Images
  | . And finds!{' '}
  span.bold 50
  |!{' '}websites using!{' '}
  span.italic Tower Paddle Boards
  |!{' '}photos.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/uns2.png" alt="Find Unsplash images with Google Images").img__100
p Now, Unsplash images are free to use. There’s no obligation to link. But ask politely and people are happy to help.
p So, Max sends the following email to each website.
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/uns3.png" alt="Link building cold outreach").img__100
p So far!{' '}
  span.bold eight
  |!{' '}have replied. And!{' '}
  span.bold four
  |!{' '}added backlinks.
p To quote Max:
p.inwardSpeech Four links isn’t exactly monumental, but as a company built through SEO, it's so critical.
p The best part is it's!{' '}
  span.bold sustainable
  | .
p Next month Max's images will be used on a new bunch of sites. He can send another bunch of emails. And pick up another bunch of links.
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/seo/unsplash` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/seo/unsplash&via=GoodMarketingHQ%20&text=${encodeURI("Using Unsplash for brand awareness and backlinks")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/seo/unsplash` target="_blank")!=icon("linkedin")
