p On the 1st February 2015, car companies Toyota, Lexus, Nissan, Kia and Fiat each spent!{' '}
  span.bold $4.5M
  |!{' '}on a 30 second Super Bowl commercial. Yet, somehow, it was Volvo, with no Super Bowl ad, and 1/15th of the budget, who stole the limelight.
p Their idea was both simple and genius:
p Whenever you saw!{' '}
  span.bold any other car commercial
  |!{' '}during the Super Bowl you could win a Volvo XC 60 for a loved one. All you had to do was was tweet why they deserved the car using the hashtag!{' '}
  a(href="https://twitter.com/search?q=(%23volvocontest)%20until%3A2015-02-02%20since%3A2015-02-01&src=recent_search_click" target="_blank") #VolvoContest
  |!{' '}during the commercial.
p Volvo’s “interception” was the ultimate troll. It shifted eyeballs!{' '}
  span.bold from rival commercials to Twitter
  |!{' '}where the conversation was all about Volvo. And it worked:
p.list.list__top • More than!{' '}
  span.bold 55,000
  |!{' '}people used the hashtag #VolvoContest
p.list • Volvo was the only automobile company to trend globally
p.list.list__bottom • More than!{' '}
  span.bold 100
  |!{' '}different stories were written about the stunt
p The result was a!{' '}
  span.bold 70%
  |!{' '}increase in Volvo XC 60 sales the following month.
h2 Why did it work?
p Well, firstly, Volvo made sure to!{' '}
  span.bold build awareness
  | . Two days before the game they donated an XC 60 to “Jimmy Kimmel Live”. He gave it away on his show and in return spread the word about their contest:
video(src="https://s3.amazonaws.com/harrydry/gdmarketing/volvo.mp4" class="img__80" playsinline="playsinline" poster="" controls onclick="this.paused ? this.play() : this.pause();")
p Secondly, they decided to run the giveaway!{' '}
  span.bold exclusively on Twitter
  | . This allowed momentum to build (unlike sending people directly to a competition website).
p And finally, targeting rival commercial slots was quite the masterstroke. It resulted in!{' '}
  span.bold 30 second
  |!{' '}windows of hyperactivity on Twitter:
img(src="https://s3.amazonaws.com/harrydry/gdmarketing/volvo1.png" alt="The Volvo Contest Twitter").img__100
p This led to the!{' '}
  a(href="https://twitter.com/search?q=(%23volvocontest)%20until%3A2015-02-02%20since%3A2015-02-01&src=recent_search_click" target="_blank") #VolvoContest
  |!{' '}hashtag trending on 3 separate occasions. A slower, consistent stream of tweets would never hit the velocity required to trend.
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/creative/volvo-contest` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/creative/volvo-contest&via=GoodMarketingHQ%20&text=${encodeURI("How Volvo won the Super Bowl (without running an ad)")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/creative/volvo-contest` target="_blank")!=icon("linkedin")

