p 99% of pricing tiers ascend left to right:!{' '}
  span.italic Cheap. Middle. Expensive.
p Wine List is the 1%. A mistake? Nope.
p Founder,!{' '}
  a(href="https://twitter.com/JoshLachkovic") Josh Lachkovic
  | , had a theory:
p.inwardSpeech We’re anchored to the first number we see. And we scan left to right. So a more expensive left price makes your right price appear cheaper.
p In layman's terms, £99 feels cheaper when you see £189 first.
p He ran A/B tests and (to my surprise) found a statistically significant increase in overall conversions.
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl18/c1e.png" alt="Wine List Counterintuative Pricing").img__100
p
  span.italic — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/landing-page/wine-list` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/landing-page/wine-list&via=GoodMarketingHQ%20&text=${encodeURI("Wine List's Counterintuitive Pricing")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/landing-page/wine-list` target="_blank")!=icon("linkedin")
