p
  a(href="https://www.powerlanguage.co.uk/wordle/" target="_blank") Wordle
  |!{' '}is a simple word game that's taken over the world recently.
p On 99% of sites if you click “share” you get a link.
p On Wordle, if you click “share” your scoreboard is copied to your clipboard for you to paste onto social!{' '}
  span.italic directly
  | .
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl2/nl3b.png" alt="Wordle").img__100
p One small change. But it's the difference between a link no one clicks and 50,000 people sharing Wordle!{' '}
  span.italic every day
  | .
p.asterix * * *

.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/referral/wordle` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/referral/wordle&via=GoodMarketingHQ%20&text=${encodeURI("Worldle's referral loop")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/referral/wordle` target="_blank")!=icon("linkedin")
