p.inwardSpeech One comment with zero likes will win a...
img(src="https://ik.imagekit.io/o08ysq9vx/newsletters/nl14/nl2g.png" alt="Lionel Messi Pubity Giveaway").img__80
p Hacks two positive engagement metrics: Comments and likes on comments (to stop others winning). I'll let the results speak for themselves.
p.list.list__top 1/ Signed Messi shirt ⭢!{' '}
  span.italic 574k
  |!{' '}new followers
p.list 2/!{' '}
  span.italic $400
  |!{' '}phone ⭢!{' '}
  span.italic 5.2M
  |!{' '}views
p.list.list__bottom 3/ Tesco Meal Deal ⭢!{' '}
  span.italic 136k
  |!{' '}retweets
p.inwardSpeech — Harry
.undera
  .undera__center
    .undera__center-text Share on
    a.undera__center-twitter(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketingexamples.com/social/zero-likes` target="_blank")!=icon("facebook")
    a.undera__center-twitter(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fmarketingexamples.com/social/zero-likes&via=GoodMarketingHQ%20&text=${encodeURI("A crafty social media giveaway")}` target="_blank")!=icon("twitter")
    a.undera__center-twitter(href=`https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fmarketingexamples.com/social/zero-likes` target="_blank")!=icon("linkedin")